@(user: UserIdentity,
    brand: Brand,
    coordinator: Option[Person]
    )(implicit request: Request[Any],
    flash: Flash,
    handler: AuthorisationHandler,
    token: play.filters.csrf.CSRF.Token)

@import helper.CSRF
@import models.UserRole.Role._
@import templates.Formatters._
@import be.objectify.deadbolt.scala.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@main(brand.code + " - Brand", "brands", user) {

  <div class="col-md-3 info">
    <div class="page-header">
      @brand.picture.map { picture =>
        <img width="200" src="@routes.Brands.picture(brand.code).url" class="img-rounded" align="baseline">
      }.getOrElse {
        <img width="200" class="img-rounded photo"
          src="@routes.Assets.at("images/happymelly-face-white.png")"/>
      }
    </div>
    <div class="panel">
      <ul class="nav nav-stacked nav-pills" role="tablist" id="sidemenu">
        <li class="active"><a href="#general" role="tab" data-toggle="tab">
          General</a></li>
        <li><a data-href="@routes.Brands.renderTabs(brand.id.get, "products")" href="#products" role="tab" data-toggle="tab">Products</a></li>
        <li><a data-href="@routes.Brands.renderTabs(brand.id.get, "types")" href="#types" role="tab" data-toggle="tab">Event Types</a></li>
        <li><a data-href="@routes.Brands.renderTabs(brand.id.get, "templates")" href="#templates" role="tab" data-toggle="tab">
            Certificate Templates</a></li>
        <li><a href="#integration" role="tab" data-toggle="tab">
          Integration</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-9 tab-content">
    <div class="page-header">
    <h1>
      @brand.name
      @restrict(handler, List(as(Editor.toString))) {
        <div class="actions pull-right">
          <div class="button">
            <a class="btn btn-default" href="@routes.Brands.edit(brand.code)">
              <i class="glyphicon glyphicon-pencil"></i> Edit
            </a>
          </div>
          @brand.picture.map { picture =>
            <div class="button">
              <form class="delete form-inline" method="post" text="image"
              action="@CSRF(routes.Brands.deletePicture(brand.code))">
              @restrict(handler, List(as(Editor.toString))) {
                <button class="btn btn-warning btn-sm" type="submit">
                  <i class="glyphicon glyphicon-white glyphicon-trash"></i>
                  Delete Picture
                </button>
              }
              </form>
            </div>
          }
          <div class="button">
            <form class="delete form-inline" method="post" text="brand"
            action="@CSRF(routes.Brands.delete(brand.code))">
              <button class="btn btn-danger" type="submit"
                @if(!brand.deletable) {
                  disabled="disabled" title="You cannot delete this brand because it has products, licenses or bookings" }
              >
                <i class="glyphicon glyphicon-white glyphicon-trash"></i>
                Delete
              </button>
            </form>
          </div>
        </div>
      }
    </h1>
  </div>
    <div class="tab-pane active" id="general">
      <div class="col-md-4">
        <p>
          <strong>Brand code / Unique Name</strong><br>
          @brand.code / @brand.uniqueName
        </p>
        @coordinator.map { x =>
          <p>
            <strong>Brand coordinator</strong><br>
            <a href="@routes.People.details(x.id.get)">@x.fullName</a>
          </p>
        }
        @brand.tagLine.map { value =>
          <p><strong>Tagline</strong><br/>@value</p>
        }
        @brand.webSite.map { value =>
          <p><strong>
            Web site</strong><br/><a href="@value" target="_blank">@value</a> </p>
        }
        @brand.blog.map { value =>
          <p><strong>
            Blog</strong><br/><a href="@value" target="_blank">@value</a></p>
        }
      </div>
      <div class="col-md-4">
        <p><strong>E-mail address</strong>
          <br><a href="mailto:@brand.socialProfile.email" target="_blank">@brand.socialProfile.email</a>
        </p>

        <p><strong>Social Accounts</strong>
          @brand.socialProfile.facebookUrl.map { url =>
            <br> <a href="@url" target="_blank">Facebook</a>
          }

          @brand.socialProfile.linkedInUrl.map { url =>
            <br> <a href="@url" target="_blank">LinkedIn</a>
          }

          @brand.socialProfile.googlePlusUrl.map { url =>
            <br> <a href="@url" target="_blank">Google+</a>
          }
          @brand.socialProfile.skype.map { skype =>
            <br> <a href="skype:@skype" target="_blank">Skype</a>
          }
        </p>
        @brand.socialProfile.phone.map { phone =>
          <p><strong>Phone</strong><br>@phone</p>
        }
      </div>
      <div class="col-md-10">
      @brand.description.map { desc =>
        <p><strong>Description</strong><br/>@desc.markdown</p>
      }
      </div>
    </div>
    <div class="tab-pane" id="products">
    </div>
    <div class="tab-pane" id="types">
    </div>
    <div class="tab-pane" id="templates">
    </div>
    <div class="tab-pane" id="integration">
      <dl>
        <dt>Evaluation Hook</dt>
        <dd>@brand.evaluationHookUrl.getOrElse("none")</dd>
      </dl>
    </div>

  <script src="@routes.Assets.at("brand/details.js")" type="text/javascript"></script>
}
