@(user: securesocial.core.Identity,
        brand: Brand,
        coordinator: Person,
        eventTypes: List[EventType]
        )(implicit request: Request[Any], flash: Flash, handler: AuthorisationHandler, token: play.filters.csrf.CSRF.Token)

@import helper.CSRF
@import models.UserRole.Role._
@import templates.Formatters._
@import be.objectify.deadbolt.scala.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import views.Languages

@main(brand.code + " - Brand", "brands", Some(user)) {

    <div class="page-header">
        <h1>
            @brand.picture.map { picture =>
                <img width="64" src="@routes.Brands.picture(brand.code).url" class="img-rounded" align="baseline">
            }
            @brand.name
            @restrict(handler, List(as(Editor.toString))) {
                <div class="actions pull-right">
                    <div class="button">
                        <a class="btn btn-default" href="@routes.Brands.edit(brand.code)">
                            <i class="glyphicon glyphicon-pencil"></i> Edit
                        </a>
                    </div>
                    @brand.picture.map { picture =>
                        <div class="button">
                            <form class="delete form-inline" method="post" text="image"
                            action="@CSRF(routes.Brands.deletePicture(brand.code))">
                            @restrict(handler, List(as(Editor.toString))) {
                                <button class="btn btn-warning btn-sm" type="submit">
                                    <i class="glyphicon glyphicon-white glyphicon-trash"></i> Delete Picture
                                </button>
                            }
                            </form>
                        </div>
                    }
                    <div class="button">
                        <form class="delete form-inline" method="post" text="brand"
                        action="@CSRF(routes.Brands.delete(brand.code))">
                            <button class="btn btn-danger" type="submit"
                                @if(!brand.deletable) {
                                    disabled="disabled" title="You cannot delete this brand because it has products, licenses or bookings" }
                            >
                            <i class="glyphicon glyphicon-white glyphicon-trash"></i> Delete
                            </button>
                        </form>
                    </div>
                </div>
            }
        </h1>
    </div>

    <div class="col-md-4">
        <p>
            <strong>Brand code</strong><br>
        @brand.code
        </p>
        <p>
            <strong>Brand coordinator</strong><br>
            <a href="@routes.People.details(coordinator.id.get)">@coordinator.fullName</a>
        </p>
        @brand.description.map { desc =>
            <p>
                <strong>Description</strong><br/>@desc.markdown
            </p>
        }

    </div>

    <div class="col-md-8">
        <legend>Products</legend>
        @if(brand.products.isEmpty) {
            <p>This brand doesn't have any products.</p>
        } else {
            @views.html.product.table(brand.products, viewOnly = true) { product => @None}
        }
        <br/>
        <legend>Event Types</legend>
        @if(eventTypes.isEmpty) {
            <p>There are no event types.</p>
        } else {
            <table class="datatables table table-bordered">
                <thead>
                    <th>Name</th>
                    <th>Default Title</th>
                    <th></th>
                </thead>
                <tbody>
                @for(eventType <- eventTypes) {
                    <tr>
                        <td>@eventType.name</td>
                        <td>@eventType.defaultTitle</td>
                        <td>
                        @restrict(handler, List(as(Editor.toString))) {
                            <a href="@routes.EventTypes.delete(eventType.id.get)">
                                <i class="glyphicon glyphicon-pencil"></i> Remove event type</a>
                        }
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
        @restrict(handler, List(as(Editor.toString))) {
            <form class="form-inline pull-right" method="POST" action="@CSRF(routes.EventTypes.create)" id="eventType">
                <input type="hidden" name="brandId" value="@brand.id"/>
                <div class="controls-row form-group">
                    <input name="name" class="form-control input-sm" placeholder="Name"/>
                    <input name="defaultTitle" class="form-control input-sm" placeholder="Default Title"/>
                    <button class="btn btn-success btn-sm ">
                        <i class="glyphicon glyphicon-plus"></i>Add Event Type
                    </button>
                </div>
            </form>
        }
        <legend>Certificate Templates</legend>
        <table class="datatables table table-bordered">
            <thead>
                <th>Language</th>
                <th>One Facilitator</th>
                <th>Two Facilitators</th>
                <th></th>
            </thead>
            <tbody>
            @for(file <- brand.certificates) {
                <tr>
                    <td>@Languages.all.get(file.language)</td>
                    <td><a href="@routes.CertificateTemplates.template(file.id.get, true)" target="_blank">View file</a></td>
                    <td><a href="@routes.CertificateTemplates.template(file.id.get, false)" target="_blank">View file</a></td>
                    <td><a href="@routes.CertificateTemplates.delete(file.id.get)" class="delete" text="template">
                        <i class="glyphicon glyphicon-trash input-sm"></i>Delete</a></td>
                </tr>
            }
            </tbody>
        </table>
        <a class="btn btn-success btn-sm pull-right" href="@routes.CertificateTemplates.add(brand.code)">
            <i class="glyphicon glyphicon-plus"></i> Add Certificate Template
        </a>
    </div>
    <script src="@routes.Assets.at("details.js")" type="text/javascript"></script>
}
