@(user: UserIdentity,
    code: Option[String],
    form: Form[Brand])(implicit flash: Flash,
    request: Request[Any],
    handler: AuthorisationHandler,
    token: play.filters.csrf.CSRF.Token)

  @import helper.CSRF
  @import views.ViewHelpers._
  @import models.Person

  @defining(form.value.map(brand => "Brand %s".format(brand.name)).getOrElse("Add brand")) { name =>
    @main("Brand", "brands", user) {
      @if(form.hasErrors) {
        @html.error()
      }

      <div class="col-md-6">
        <div class="page-header">
          <h1>@name</h1>
        </div>
        @html.form(action = CSRF(code.map(code => routes.Brands.update(code)).getOrElse(routes.Brands.create())),
          'enctype -> "multipart/form-data") {
          @html.text(form("code"), '_label -> "Code")
          @html.text(form("uniqueName"), '_label -> "Unique name",
            '_help -> "This name is used on HM website in an address of brand's landing page")
          @html.text(form("name"), '_label -> "Name")
          @html.text(form("tagLine"), '_label -> "Tagline")
          @html.select(form("coordinatorId"),
            ("", "Choose a brand coordinator") :: Person.findActive.map(p => (p.id.get.toString, p.fullName)),
            '_label -> "Coordinator")
          @html.textarea(form("description"), '_label -> "Description", 'rows -> 3,
            '_help -> views.html.element.markdownHelp())
          @html.file(form("picture"), '_label -> "Picture")
          @html.text(form("webSite"), '_label -> "Web site")
          @html.text(form("blog"), '_label -> "Blog")
          <input type="hidden" name="@form("generateCert").name" value="@form("generateCert").value.exists(_.toBoolean)">

          @html.email(form("profile.email"), '_label -> "E-mail address")
          <legend>Social Profile</legend>
          @defining(form("profile.twitterHandle")) { field =>
            <div class="form-group @if(field.hasErrors) {has-error}" id="@(field.id + "_field")">
              <label for="@field.id" class="col-sm-3 control-label">
                Twitter user name</label>
              <div class="col-sm-9">
                <div class="input-group">
                  <span class="input-group-addon">@@</span>
                  <input type="text" id="@field.id" name="@field.name"
                  value="@field.value.getOrElse("")"
                  placeholder="MyTwitter"
                  class="form-control">
                </div>
                <span class="help-block">
                @if(field.hasErrors) {
                  @field.errors.map(error => Messages(error.message)).mkString(", ")
                }
                </span>
              </div>
            </div>
          }
          @html.text(form("profile.facebookUrl"), '_label -> "Facebook Page",
            'placeholder -> "http://www.facebook.com/brand.page", '_help -> "")
          @html.text(form("profile.linkedInUrl"), '_label -> "LinkedIn Page",
            'placeholder -> "https://www.linkedin.com/in/brand.page", '_help -> "")
          @html.text(form("profile.googlePlusUrl"), '_label -> "Google+ Page",
            'placeholder -> "https://plus.google.com/0123456789", '_help -> "")
          @html.text(form("profile.skype"), '_label -> "Skype", '_help -> "")
          @html.text(form("profile.phone"), '_label -> "Phone", '_help -> "")
          <legend>Hooks</legend>
          @html.text(form("evaluationHookUrl"), '_label -> "Evaluation Hook",
            'placeholder -> "http://yourwebsite.com/evaluation/confirm",
            '_help -> "")

          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
              <button class="btn btn-primary btn-block pull-right" type="submit">
                Save</button>
            </div>
          </div>
        }
      </div>
    }
  }
