@(user: ActiveUser, brands: List[BrandView])(implicit request: Request[Any], flash: Flash, handler: AuthorisationHandler)
@import models.UserRole.Role._
@import be.objectify.deadbolt.scala.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@main("Brands", "brands", user) {

  @html.indexPageHeader("Brands") {
    @restrict(handler, List(as(Editor.toString))) {
      <a class="btn btn-success pull-right" href="@routes.Brands.add()">
      <i class="glyphicon glyphicon-plus glyphicon-white"></i> Add Brand</a>
    }
  }

  <div class="col-md-12">
    @if(brands.nonEmpty) {
      <table id="brands" class="datatables table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Owner</th>
          @restrict(handler, List(as(Editor.toString))) {
            <th></th>
          }
        </tr>
      </thead>
      <tbody>
        @for(brand <- brands) {
          <tr @if(!brand.brand.active) { class="inactive" title="Deactivated" }>
            <td><a href="@routes.Brands.details(brand.brand.id.get)">@brand.brand.name</a></td>
            <td><a href="@routes.People.details(brand.coordinator.id.get)">@brand.coordinator.fullName</a></td>
            @restrict(handler, List(as(Editor.toString))) {
              <td><a href="@routes.Brands.edit(brand.brand.id.get)"><i class="glyphicon glyphicon-pencil"></i> Edit</a></td>
            }
          </tr>
        }
      </tbody>
      </table>
    } else {
      <p>There are no brands.</p>
    }
  </div>

	<script src="@routes.Assets.at("brand/index.js")" type="text/javascript"></script>
}
