@(recipient: String, changeUrl: String, oldEmail: String)(implicit request: RequestHeader,
        env: securesocial.core.RuntimeEnvironment)

@mail.templates.html.hmTmpl("Confirm your email") {
    <h2>Hi @recipient,</h2>
    <p>Someone recently requested an email address change for your Happy Melly Teller account. If this was you, click the button to confirm the change:</p>
    @mail.templates.html.button("Confirm", changeUrl)
    <p>If you don't want to change your current email @oldEmail or didn't request this, just ignore and delete this message.</p>
    <p>All the best, <br>
        Happy Melly Teller Team</p>
} { }
