@(recipient: String, mailToken: String, brand: String)(implicit request: RequestHeader,
    env: securesocial.core.RuntimeEnvironment)

@mail.templates.hm.html.tmpl(s"Your Coordinator Account for $brand") {
    <h2>Hi @recipient,</h2>
    <p>Your coordinator account for @brand has been created.</p>
    <p>Please create a new password to log in:</p>
    @mail.templates.html.button("Create new password", env.routes.resetPasswordUrl(mailToken))
    <p>All the best, <br>
        Happy Melly Teller Team</p>
} { }
