@(user: ActiveUser, brands: List[Brand])(implicit request: Request[Any], flash: Flash, handler: be.objectify.deadbolt.scala.DeadboltHandler)

@v2.main("Credit", "Credit", user) {
    <div class="container page-peer">
        <div class="page-peer__side">
            <div class="credit-value">
                <div class="credit-value__title">
                    Bonuses recieved
                </div>
                <div class="credit-value__num">
                    189
                </div>
            </div>
        </div>
        <div class="page-peer__left">
            <form class="b-credits js-form-credit" action="#">
                <div class="b-credits__title">
                    You can spend <span data-credict-count>88</span> more bonuses this month
                </div>
                <div class="b-credits__i">
                    <div class="b-credits__value type-credit" data-credit-item>
                        <span class="b-credits__value-hint">
                            Give <i class="fa fa-heart-o"></i>
                        </span>
                        <input type="text" name="give" class="b-credits__input" placeholder="" data-credit-value>
                    </div>
                    <div class="b-credits__value type-name" data-credit-item>
                        <span class="b-credits__value-hint">
                            To
                        </span>
                        <input type="text" name="to" class="b-credits__input" placeholder="Name or email" data-credit-to>
                    </div>
                </div>
                <div class="b-credits__i">
                    <button type="submit" class="btn btn-primary b-credits__submit">
                        Give
                    </button>
                    <div class="h-ovh">
                        <input type="text" name="message" class="b-credits__input" placeholder="Message" data-credit-message>
                    </div>
                </div>

                <div class="b-credits__error" data-credit-error></div>

                <div class="b-credits__send" >
                    You have send bonuses successfully!
                </div>
            </form>

            <div class="b-credithis js-credit-history">
                <div class="b-credithis__head">
                    <div class="text">
                        Show bonuses
                    </div>
                    <a href="#" data-filter-link="all" class="link-blue item-link state_selected">
                        All
                    </a>
                    <a href="#" data-filter-link="isend" class="link-blue item-link">
                        Send by me
                    </a>
                    <a href="#" data-filter-link="irecieve" class="link-blue item-link">
                        I recieved
                    </a>
                </div>
                <div class="b-credithis__list" data-filter-list>
                    <div class="b-credithis-i" data-filter-text="">
                        <a href="#" class="b-credithis-i__img" style="background-image : url() ;"></a>
                        <div class="b-credithis-i__con">
                            <div class="date">
                                2h
                            </div>
                            <div class="title">
                                <a href="#" class="link-blue">Egor Parfenov</a> recieved <i class="fa fa-heart-o"></i>10 from Louise
                            </div>
                            For brining holistic aproach to Happy Melly
                        </div>
                    </div>
                    <div class="b-credithis-i" data-filter-text="irecieve">
                        <a href="#" class="b-credithis-i__img" style="background-image : url() ;"></a>
                        <div class="b-credithis-i__con">
                            <div class="date">
                                2h
                            </div>
                            <div class="title">
                                You recieved <i class="fa fa-heart-o"></i>10 from Egor Parfenov
                            </div>
                            For leading our meetings even when all are not quite sure what’s going on!!! (Or may be that’s just me) :-)
                        </div>
                    </div>
                    <div class="b-credithis-i" data-filter-text="isend">
                        <a href="#" class="b-credithis-i__img" style="background-image : url() ;"></a>
                        <div class="b-credithis-i__con">
                            <div class="date">
                                2h
                            </div>
                            <div class="title">
                                <a href="#" class="link-blue">Egor Parfenov</a> recieved <i class="fa fa-heart-o"></i>10 from you
                            </div>
                            For brining holistic aproach to Happy Melly
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="@routes.Assets.at("css/person/credit-page.css")">
    <script src="@routes.Assets.at("js/package/credit-page.js")"></script>
}
