@(user: UserIdentity,
  events: List[Event],
  evaluations: List[(Event, Person, Evaluation)],
  licenses: List[LicenseLicenseeView],
  activityStream: Option[List[Activity]])(implicit flash: Flash,
    request: Request[Any],
    handler: AuthorisationHandler)

@main("Home", "", user) {
  @if(events.length > 0) {
    @dashboard.blocks.events(events)
  }
  @if(evaluations.length > 0) {
    @dashboard.blocks.evaluations(evaluations)
  }
  @if(licenses.length > 0) {
    @dashboard.blocks.expiring(licenses)
  }
  @activityStream.map { activities =>
    @dashboard.blocks.activities(activities)
  }
}
