@(user: UserIdentity,
  future: List[Event],
  past: List[Event],
  evaluations: List[(Event, Person, Evaluation)],
  licenses: List[LicenseLicenseeView],
  cancellations: List[models.event.EventCancellation])(implicit flash: Flash,
    request: Request[Any],
    handler: AuthorisationHandler)

@main("Home", "", user) {
  <div class="col-md-9 content-block">
    @if(future.length > 0) {
      @dashboard.blocks.upcoming(future)
    }
    @if(past.length > 0) {
      @dashboard.blocks.past(past)
    }
    @if(evaluations.length > 0) {
      @dashboard.blocks.evaluations(evaluations)
    }
    @if(licenses.length > 0) {
      @dashboard.blocks.expiring(licenses)
    }
    @if(cancellations.length > 0) {
      @dashboard.blocks.cancellation(cancellations)
    }
  </div>
  <div class="col-md-3">
  </div>
}
