@(user: ActiveUser,
  brand: Brand,
  brands: List[Brand],
  licenses: List[LicenseLicenseeView],
  events: List[Event])(implicit flash: Flash,
    request: Request[Any],
    handler: be.objectify.deadbolt.scala.DeadboltHandler)

@v2.main("Home", "", user) {
  @v2.element.brandHeader(brand, brands){
  }
  <div class="row page-content">
    <div class="container">
      <div class="row">
        <div class="col-md-9 content-block">
          @if(licenses.nonEmpty) {
            @v2.dashboard.blocks.expiring(licenses)
          }
          @if(events.nonEmpty) {
            @v2.dashboard.blocks.withoutInvoice(events)
          }
        </div>
        <div class="col-md-3">
          <div class="notification-widget js-completion-widget"></div>
          <div class="notification-widget info-board">
            <div class="info-board__title">Info board</div>
            <div class="info-board__part">
              <a href="javascript: void(0)" class="link-black js-link-target" data-target="brand-main-licenses">
                <span class="licenses-number">@licenses.length</span> expiring licenses
              </a>
            </div>
            <div class="info-board__part">
              <a href="javascript: void(0)" class="link-black js-link-target" data-target="brand-main-events">
                @events.length events without invoice
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
}
