@(user: ActiveUser,
  activeBrand: Option[Brand],
  brands: List[Brand],
  future: List[(Event, Option[Brand])],
  past: List[(Event, Option[Brand])],
  evaluations: List[((Event, Person, Evaluation),Option[Brand])])(implicit flash: Flash,
  request: Request[Any],
  handler: AuthorisationHandler)

@v2.main("Home", "", user) {
  @activeBrand.map { brand =>
    @v2.element.brandHeader(brand, brands, withAllBrands = true){
      <a class="btn btn-default" href="@routes.Events.add()">Add Event</a>
    }
  }.getOrElse {
    <div class="row brand-header">
      @v2.element.brandSwitcher(None, brands, withAllBrands = true)
    </div>
  }
  <div class="row page-content">
    <div class="container">
      <div class="row">
        <div class="col-md-9 content-block">
          @if(future.nonEmpty) {
            @v2.dashboard.blocks.upcoming(future, activeBrand.isEmpty)
          }
          @if(past.nonEmpty) {
            @v2.dashboard.blocks.past(past, activeBrand.isEmpty)
          }
          @if(evaluations.nonEmpty) {
            @v2.dashboard.blocks.evaluations(evaluations, activeBrand.isEmpty)
          }
        </div>
        <div class="col-md-3">
          <div class="panel panel-success notification-widget" id="completionWidget">
          </div>
          <div class="notification-widget info-board">
            <div class="title">Info board</div>
            <p><span class="upcoming-number">@future.length</span> upcoming events</p>
            <p>@past.length past events</p>
            <p><span class="evaluation-number">@evaluations.length</span> evaluations to act on</p>
          </div>
        </div>
      </div>
    </div>
  </div>
}
<script src="@routes.Assets.at("participant.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("dashboard/infoBoard.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("dashboard/index.js")" type="text/javascript"></script>

