@(user: ActiveUser,
  activeBrand: Option[BrandWithSettings],
  brands: List[Brand],
  future: List[(Event, Option[Brand])],
  past: List[(Event, Option[Brand])],
  evaluations: List[((Event, Person, Evaluation),Option[Brand])])(implicit flash: Flash,
  request: Request[Any],
  handler: AuthorisationHandler)

@v2.main("Home", "", user) {
  @activeBrand.map { view =>
    @v2.element.brandHeader(view.brand, brands, facilitator = true){
      <a class="btn btn-default" href="@routes.Events.add()">Add Event</a>
    }
  }.getOrElse {
    <div class="row brand-header">
      @v2.element.brandSwitcher(None, brands, withAllBrands = true)
    </div>
  }
  <div class="row page-content">
    <div class="container">
      <div class="row">
        <div class="col-md-9 content-block">
          @if(future.nonEmpty) {
            @v2.dashboard.blocks.upcoming(future, activeBrand.isEmpty)
          }
          @if(past.nonEmpty) {
            @v2.dashboard.blocks.past(past, activeBrand.isEmpty)
          }
          @if(evaluations.nonEmpty) {
            @v2.dashboard.blocks.evaluations(evaluations, activeBrand.isEmpty)
          }
        </div>
        <div class="col-md-3">
          <div class="panel panel-success notification-widget" id="completionWidget">
          </div>
          <div class="notification-widget info-board">
            <div class="info-board__title">Info board</div>
            <div class="info-board__part">
                <span class="upcoming-number">@future.length</span> upcoming events
            </div>
            <div class="info-board__part">
              @past.length past events
            </div>
            <div class="info-board__part">
              <span class="evaluation-number">@evaluations.length</span> evaluations to act on
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
}
<script src="@routes.Assets.at("participant.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("dashboard/infoBoard.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("dashboard/index.js")" type="text/javascript"></script>

