@(user: ActiveUser)(implicit flash: Flash,
    request: Request[Any],
    handler: be.objectify.deadbolt.scala.DeadboltHandler)

@v2.main("Home", "", user) {
    <div class="row page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ">
                    <div class="dash-thanks">
                        <h1 class="dash-thanks__header">
                            Thanks for being part of the Happy Melly network!
                        </h1>

                        <h2 class="dash-thanks__title">
                            Get Involved
                        </h2>
                        <p>
                            We’re always looking for good stories. If you’ve got experiments that explore positive
                            working environments, worker happiness, employee engagement and productivity share them!
                            Go to <a href="@core.routes.Dashboard.profile().url#experiments" class="link-mblue">your profile</a>, under MEMBERSHIP click “Experiments” and then “+ Add Experiment”
                        </p>
                        <p>
                            Details will be automatically posted to <a class="link-mblue" href="https://happymelly.slack.com">HM Slack</a> and to the
                                <a class="link-mblue" href="http://www.happymelly.com/experiments/">Happy Melly public website</a> — where people can view, borrow, comment,
                                question, improve, argue… etc. There is no limit to the number of experiments you can share.
                        </p>

                        <div class="row dash-thanks__columns">
                            <div class="col-md-6">
                                <h2 class="dash-thanks__title type-slack">
                                    Happy Melly Slack <i class="icon-slack"></i>
                                </h2>
                                <p>
                                    Slack is our main hub for making connections. Once you get an invite via email you
                                    should login into HM Slack. If you are new to Slack —
                                        <a href="https://slack.com/getting-started" class="link-mblue">take a brief tour</a>.
                                </p>
                                <p>
                                    We encourage you to say “hello” in the <a href="https://happymelly.slack.com/messages/members/" class="link-mblue">#members</a>
                                        channel and in <a href="https://happymelly.slack.com/messages/hm_get_to_know_you/" class="link-mblue">#hm_get_to_know_you</a>.
                                    Feel free to browse the other HM Slack channels and join any of interest.
                                </p>
                            </div>
                            <div class="col-md-6">
                                <h2 class="dash-thanks__title">
                                    Guest Blog Posts
                                </h2>
                                <p>
                                    The <a href="http://www.happymelly.com/blog/" class="link-mblue">Happy Melly blog</a> gets over 9,000 views a month.
                                        If you’d like to publish a guest post, send us a link
                                        (rough drafts via Google Docs are great) via the
                                        <a href="https://happymelly.slack.com/messages/members/" class="link-mblue">#members</a>
                                        HM Slack channel. We’ll work together with you to finalize and publish it.
                                </p>
                                <br><br>

                                <h2 class="dash-thanks__subtitle">
                                    Get your badge
                                </h2>
                                <p class="dash-thanks__p-badge">
                                    Go to <a href="@core.routes.Dashboard.profile()" class="link-mblue">your profile</a> and click the “Membership” link.
                                    Grab there a Happy Melly badge and add it to your own website and/or social media presence.
                                </p>
                            </div>
                        </div>

                        <div class="dash-thanks__footer">
                            We know you’re having a huge impact. Let us help you share the happiness and inspiration!
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="notification-widget js-completion-widget"></div>

                    <div class="dash-thanks__completion-widget">
                        Your profile is not yet at 100%, please take a minute to finish it. It is one of the many ways
                        folks get to know more about you, and it is also <a href="http://happymelly/members/#/@user.person.identifier" class="link-blue">shared publicly</a>.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <link rel="stylesheet" href="@routes.Assets.at("css/dashboard/dash-thanks.css")">

}