@(user: ActiveUser,
        passwordForm: Form[securesocial.controllers.ChangeInfo])(implicit flash: Flash,
        request: Request[Any],
        handler: AuthorisationHandler,
        token: play.filters.csrf.CSRF.Token)

    @import helper.CSRF
    @import views.ViewHelpersV2._

    @v2.main("Manage account", "admin", user, withMelly = true) {
        <div class="form">
            @v2.html.block("") {
                <h1>Manage account</h1>
            }
            @v2.html.form(CSRF(routes.Experiments.create(user.account.personId))) {
                @v2.html.block("") {
                    <legend>Change password</legend>
                    @v2.html.text(passwordForm("currentPassword"), '_label -> "Old password", '_required -> true, '_help -> "")
                    @v2.html.text(passwordForm("newPassword.password1"), '_label -> "New password", '_required -> true, '_help -> "")
                    @v2.html.text(passwordForm("newPassword.password2"), '_label -> "New password", '_required -> true, '_help -> "")
                }
                @if(passwordForm.hasErrors) {
                    @v2.html.block("") {
                        <div class="errors">
                        @for( error <- passwordForm.errors) {
                            @play.api.i18n.Messages(error.message) <br/>
                        }
                        </div>
                    }
                }
                @v2.html.block("") {
                    <div class="row">
                        <div class="col-md-5">
                            <button class="btn btn-primary btn-block btn-lg" type="submit">
                                Save new password</button>
                        </div>
                        }
            }
        </div>
    }