@(user: ActiveUser,
        passwordForm: Form[String])(implicit flash: Flash,
        request: Request[Any],
        handler: AuthorisationHandler,
        token: play.filters.csrf.CSRF.Token)

@import helper.CSRF
@import views.ViewHelpersV2._

@v2.main("Manage account", "admin", user, withMelly = true) {
    <div class="form">
        @v2.html.block("") {
            <h1>Manage account</h1>
        }
        @v2.html.form(CSRF(routes.UserAccounts.handleNewPassword())) {
            @v2.html.block("") {
                <legend>Create new password</legend>
                @v2.html.password(passwordForm("newPassword.password1"), '_label -> "Password", '_required -> true, '_help -> "")
                @v2.html.password(passwordForm("newPassword.password2"), '_label -> "Password", '_required -> true, '_help -> "")
            }
            @if(passwordForm.hasErrors) {
                @v2.html.block("") {
                    <div class="errors">
                    @for( error <- passwordForm.errors) {
                        @if(error.args.isEmpty) {
                            @play.api.i18n.Messages(error.message) <br/>
                        } else {
                            @play.api.i18n.Messages(error.message, error.args.head) <br/>
                        }
                    }
                    </div>
                }
            }
            @v2.html.block("") {
                <div class="row">
                    <div class="col-md-5">
                        <button class="btn btn-primary btn-block btn-lg" type="submit">
                            Save new password</button>
                    </div>
                </div>
            }
        }
    </div>
}