@import models.cm.brand.BrandLink
@(user: ActiveUser,
    brand: Brand,
    profile: SocialProfile,
    coordinator: Option[Person],
    links: List[BrandLink],
    deletable: Boolean)(implicit request: Request[Any],
    flash: Flash,
    handler: be.objectify.deadbolt.scala.DeadboltHandler,
    token: play.filters.csrf.CSRF.Token)

@import be.objectify.deadbolt.scala.views.html._
@import helper.CSRF
@import models.UserRole.Role

@v2.main(brand.code + " - Brand", "brands", user) {
    <div class="b-headprofile">
      <div class="container h-rel">
          <div class="b-headprofile__buttons">
          @dynamic(handler, Role.Coordinator.toString, brand.identifier.toString) {
              <div class="b-headprofile__btn">
                  <a class="btn btn-primary" href="@routes.Brands.edit(brand.id.get)">Edit</a>
              </div>
              @brand.picture.map { picture =>
                  <div class="b-headprofile__btn">
                      <form class="delete form-inline" method="post" text="image"
                      action="@CSRF(routes.Brands.deletePicture(brand.id.get))">
                          <button class="btn btn-warning" type="submit">Delete Picture</button>
                      </form>
                  </div>
              }
              <div class="b-headprofile__btn">
              @if(brand.active) {
                  <button id="activate" class="btn btn-default" data-id="@brand.id.get" type="submit">Deactivate
                  </button>
              } else {
                  <button id="activate" class="btn btn-default" data-id="@brand.id.get" type="submit">Activate
                  </button>
              }
              </div>
              <div class="b-headprofile__btn">
                  <form class="delete form-inline" method="post" text="brand"
                  action="@CSRF(routes.Brands.delete(brand.id.get))">
                      <button class="btn btn-default" type="submit"
                          @if(!deletable) {
                              disabled="disabled" title="You cannot delete this brand because it has products, licenses or bookings" }
                      >Delete</button>
                  </form>
              </div>
          }
          </div>

          <div class="b-headprofile__content">
              <h2 class="b-headprofile__title">@brand.name</h2>
              <div class="b-social">
                @views.html.v2.element.profiles(profile, None)
              </div>
          </div>
      </div>
    </div>

        <div class="container js-brand-detail">
            <div class="left">
                <div id="brandState" data-value="@brand.active"></div>
                <div class="b-avatar @if(brand.picture.isDefined) { real }">
                    @brand.picture.map { picture =>
                        <img width="200" src="@Brands.pictureUrl(brand)" class="b-avatar__img" align="baseline">
                    }.getOrElse {
                        <img width="200" class="b-avatar__img photo"
                        src="@routes.Assets.at("images/happymelly-face-white.png")"/>
                    }
                </div>
                <div class="b-sidemenu js-brand-menu" id="sidemenu">
                    <div class="b-sidemenu__group">
                        <div class="b-sidemenu__head">
                            Network
                        </div>
                        <a href="#general"
                            class="b-sidemenu__link"
                            data-menuside>
                            General
                        </a>
                        <a data-href="@routes.Brands.renderTabs(brand.id.get, "testimonials")"
                            href="#testimonials"
                            class="b-sidemenu__link"
                            data-menuside>
                            Testimonials
                        </a>
                        <a data-href="@routes.Brands.renderTabs(brand.id.get, "products")"
                            href="#products"
                            class="b-sidemenu__link"
                            data-menuside>
                            Products
                        </a>
                    </div>

                    @dynamic(handler, Role.Coordinator.toString, brand.identifier.toString) {
                        <div class="b-sidemenu__group">
                            <div class="b-sidemenu__head">
                                Settings
                            </div>
                            <a data-href="@routes.Brands.renderCoordinatorTabs(brand.id.get, "team")"
                                href="#team"
                                class="b-sidemenu__link"
                                data-menuside>
                                Team
                            </a>
                            <a data-href="@routes.Brands.renderCoordinatorTabs(brand.id.get, "types")"
                                href="#types"
                                class="b-sidemenu__link"
                                data-menuside>
                                Event Types
                            </a>
                            <a data-href="@routes.Brands.renderCoordinatorTabs(brand.id.get, "templates")"
                                href="#templates"
                                class="b-sidemenu__link"
                                data-menuside>
                                Certificate Templates
                            </a>
                            <a href="#integration" role="tab"
                                class="b-sidemenu__link">
                                Integration
                            </a>
                            <a data-href="@routes.Brands.renderCoordinatorTabs(brand.id.get, "licenseExpiration")"
                                href="#licenseExpiration"
                                class="b-sidemenu__link"
                                data-menuside>
                                License Expiration Reminder
                            </a>
                            <a data-href="@routes.Brands.renderCoordinatorTabs(brand.id.get, "badges")"
                                href="#badges"
                                class="b-sidemenu__link"
                                data-menuside>
                                Badges
                            </a>
                            <a data-href="@controllers.cm.brand.routes.Credits.settings(brand.identifier)"
                                href="#credits"
                                class="b-sidemenu__link"
                                data-menuside >
                                Credits
                            </a>
                        </div>
                    }
                </div>
            </div>
            <div class="center tab-content">
                <div class="tab-pane active" id="general">
                    @views.html.v2.brand.tabs.general(brand, profile, coordinator, links)
                </div>
                <div class="tab-pane" id="testimonials"></div>
                <div class="tab-pane" id="team"></div>
                <div class="tab-pane" id="products"></div>
                <div class="tab-pane" id="types"></div>
                <div class="tab-pane" id="templates"></div>
                <div class="tab-pane" id="integration">
                    <h4>Evaluations</h4>
                    <dl>
                        <dt>Evaluation Url</dt>
                        <dd>@brand.evaluationUrl.getOrElse("none")</dd>
                        <dt>Evaluation Hook</dt>
                        <dd>@brand.evaluationHookUrl.getOrElse("none")</dd>
                    </dl>
                </div>
                <div class="tab-pane" id="licenseExpiration"></div>
                <div class="tab-pane" id="badges"></div>
                <div class="tab-pane" id="credits"></div>
            </div>
            <div class="right pull-right">
                <div class="js-completion-widget" ></div>
            </div>
        </div>
    <link rel="stylesheet" href="@routes.Assets.at("css/brand/brand-page.css")">
    <script src="@routes.Assets.at("js/package/brand-details-page.js")" type="text/javascript"></script>


    <script src="@routes.Assets.at("js/brand/details.js")" type="text/javascript"></script>
}
