@(user: ActiveUser,
    id: Option[Long],
    people: List[Person],
    form: Form[BrandProfileView])(implicit flash: Flash,
        request: Request[Any],
        handler: be.objectify.deadbolt.scala.DeadboltHandler,
        token: play.filters.csrf.CSRF.Token,
        messages: Messages)

  @import helper.CSRF
  @import views.ViewHelpersV2._
  @import models.Person

  @defining(form.value.map(brand => "Edit Brand").getOrElse("Add brand")) { name =>
    @v2.main("Brand", "brands", user, withMelly = true) {
        <div class="b-form">
            @v2.html.form(action = CSRF(id.map(x => routes.Brands.update(x)).getOrElse(routes.Brands.create())),
                'enctype -> "multipart/form-data") {

                <div class="container">
                    <h1 class="b-form__title">@name</h1>
                </div>
                @v2.html.formBlock("General") {
                    @v2.html.text(form("code"), '_label -> "Code", '_required -> true)
                    @v2.html.text(form("uniqueName"), '_label -> "Unique name", '_required -> true,
                        '_help -> "This name is used on HM website in an address of brand's landing page")
                    @v2.html.text(form("name"), '_label -> "Name", '_required -> true, '_help -> "")
                    @v2.html.text(form("tagLine"), '_label -> "Tagline")
                    @v2.html.select(form("ownerId"),
                        ("", "Choose brand owner") :: people.map(p => (p.id.get.toString, p.fullName)),
                        '_label -> "Owner", '_required -> true, '_help -> "")
                }
                @v2.html.formBlock("Description", Some("grey")) {
                    @v2.html.textarea(form("description"), '_label -> "Description", 'rows -> 5, 'markdownpreview -> "",
                        '_type -> views.html.element.markdownHelp())
                    @v2.html.file(form("picture"), '_label -> "Picture")
                }
                @v2.html.formBlock("On the Web", Some("yellow")) {
                    @v2.html.text(form("webSite"), '_label -> "Web site")
                    @v2.html.text(form("blog"), '_label -> "Blog")
                    <input type="hidden" name="@form("generateCert").name" value="@form("generateCert").value.exists(_.toBoolean)">
                    @v2.html.email(form("email"), '_label -> "E-mail address", '_required -> true,
                        '_help -> "Used in 'from' field in emails to you, facilitators and attendees")
                }
                @v2.html.formBlock("Social Profile") {
                    @defining(form("profile.twitterHandle")) { field =>
                        <div class="form-group @if(field.hasErrors) {has-error}" id="@(field.id + "_field")">
                            <label for="@field.id" class="col-sm-2 control-label">
                                Twitter</label>
                            <div class="col-sm-7">
                                <div class="input-group">
                                    <span class="input-group-addon">@@</span>
                                    <input type="text" id="@field.id" name="@field.name"
                                    value="@field.value.getOrElse("")"
                                    placeholder="MyTwitter"
                                    class="form-control">
                                </div>
                            </div>
                        </div>
                    }
                    @v2.html.text(form("profile.facebookUrl"), '_label -> "Facebook Page",
                        'placeholder -> "http://www.facebook.com/brand.page", '_help -> "")
                    @v2.html.text(form("profile.linkedInUrl"), '_label -> "LinkedIn Page",
                        'placeholder -> "https://www.linkedin.com/in/brand.page", '_help -> "")
                    @v2.html.text(form("profile.googlePlusUrl"), '_label -> "Google+ Page",
                        'placeholder -> "https://plus.google.com/0123456789", '_help -> "")
                    @v2.html.text(form("profile.skype"), '_label -> "Skype", '_help -> "")
                    @v2.html.text(form("profile.phone"), '_label -> "Phone", '_help -> "")
                    @v2.html.text(form("profile.contactForm"), '_label -> "Link to contact form ", '_help -> "")
                }
                @if(form.hasErrors) {
                    @v2.html.formBlock("") {
                        <div class="b-form__errors">
                        @for((error, index) <- form.errors.zipWithIndex) {
                            @{index + 1}. @Messages(error.message)<br/>
                        }
                        </div>
                    }
                }
                @v2.html.formBlock("") {
                    <div class="b-form__buttons">
                        <button class="btn btn-primary b-form__btn-submit" type="submit">
                            Save
                        </button>

                        <a class="b-form__btn-cancel link-blue" href="javascript:history.back()">Cancel changes</a>
                    </div>

                }
            }
        </div>
    }
  }
