@(user: ActiveUser,
    id: Option[Long],
    people: List[Person],
    form: Form[BrandProfileView])(implicit flash: Flash,
        request: Request[Any],
        handler: be.objectify.deadbolt.scala.DeadboltHandler,
        token: play.filters.csrf.CSRF.Token,
        messages: Messages)

  @import helper.CSRF
  @import views.ViewHelpersV2._
  @import models.Person

  @defining(form.value.map(brand => "Edit Brand").getOrElse("Add brand")) { name =>
    @v2.main("Brand", "brands", user, withMelly = true) {
        <div class="form">
            @v2.html.form(action = CSRF(id.map(x => routes.Brands.update(x)).getOrElse(routes.Brands.create())),
                'enctype -> "multipart/form-data") {
                @v2.html.block("") {
                    <h1>@name</h1>
                }
                @v2.html.block("General") {
                    @v2.html.text(form("code"), true, "Code", '_help -> "Capital letters")
                    @v2.html.text(form("uniqueName"), true, "Unique name",
                        '_help -> "This name is used on HM website in an address of brand's landing page")
                    @v2.html.text(form("name"), true, "Name")
                    @v2.html.text(form("tagLine"), false, "Tagline")
                    @v2.html.select(form("ownerId"), true, "Owner",
                        ("", "Choose brand owner") :: people.map(p => (p.id.get.toString, p.fullName)))
                }
                @v2.html.block("Description", Some("grey")) {
                    @v2.html.textarea(form("description"), false, "Description", 'rows -> 5, 'markdownpreview -> "")
                    @v2.html.file(form("picture"), '_label -> "Picture")
                }
                @v2.html.block("On the Web", Some("yellow")) {
                    @v2.html.text(form("webSite"), false, "Web site")
                    @v2.html.text(form("blog"), false, "Blog")
                    <input type="hidden" name="@form("generateCert").name" value="@form("generateCert").value.exists(_.toBoolean)">
                    @v2.html.email(form("email"), true, "E-mail address",
                        '_help -> "Used in 'from' field in emails to you, facilitators and attendees")
                }
                @v2.html.block("Social Profile") {
                    @defining(form("profile.twitterHandle")) { field =>
                        <div class="form-group @if(field.hasErrors) {has-error}" id="@(field.id + "_field")">
                            <label for="@field.id" class="col-sm-2 control-label">
                                Twitter</label>
                            <div class="col-sm-7">
                                <div class="input-group">
                                    <span class="input-group-addon">@@</span>
                                    <input type="text" id="@field.id" name="@field.name"
                                    value="@field.value.getOrElse("")"
                                    placeholder="MyTwitter"
                                    class="form-control">
                                </div>
                            </div>
                        </div>
                    }
                    @v2.html.text(form("profile.facebookUrl"), false, "Facebook Page",
                        'placeholder -> "http://www.facebook.com/brand.page")
                    @v2.html.text(form("profile.linkedInUrl"), false,"LinkedIn Page",
                        'placeholder -> "https://www.linkedin.com/in/brand.page")
                    @v2.html.text(form("profile.googlePlusUrl"), false,"Google+ Page",
                        'placeholder -> "https://plus.google.com/0123456789")
                    @v2.html.text(form("profile.skype"), false, "Skype")
                    @v2.html.text(form("profile.phone"), false, "Phone")
                    @v2.html.text(form("profile.contactForm"), false, "Link to contact form")
                }
                @if(form.hasErrors) {
                    @v2.html.block("") {
                        <div class="errors">
                        @for((error, index) <- form.errors.zipWithIndex) {
                            @{index + 1}. @Messages(error.message)<br/>
                        }
                        </div>
                    }
                }
                @v2.html.block("") {
                    <div class="row">
                        <div class="col-md-5">
                            <button class="btn btn-primary btn-block btn-lg" type="submit">
                                Save</button>
                        </div>
                        <div class="col-md-3 cancel">
                            <a href="javascript:history.back()">Cancel changes</a></div>
                    </div>
                }
            }
        </div>
    }
  }
