@(user: ActiveUser)(implicit request: Request[Any], flash: Flash, handler: be.objectify.deadbolt.scala.DeadboltHandler)


@v2.main("Credit", "Credit", user) {
    <div class="container page-peer">

        <div class="page-peer__side">
            <div class="credit-value">
                <div class="credit-value__title">
                    Bonuses recieved
                </div>
                <div class="credit-value__num">
                    189
                </div>
            </div>
        </div>
        <div class="page-peer__left">
            <form class="peer-credit js-form-credit" action="#">
                <div class="peer-credit__title">
                    You can spend <span data-credict-count>88</span> more bonuses this month
                </div>
                <div class="peer-credit__i">
                    <div class="peer-credit__value type-credit" data-credit-item>
                        <span class="peer-credit__value-hint">
                            Give <i class="fa fa-heart-o"></i>
                        </span>
                        <div class="h-ovh">
                            <input type="text" class="peer-credit__input" placeholder="" data-credit-value>
                        </div>
                    </div>
                    <div class="peer-credit__value type-name" data-credit-item>
                        <span class="peer-credit__value-hint">
                            To
                        </span>
                        <div class="h-ovh">
                            <input type="text" class="peer-credit__input" placeholder="Name or email" data-credit-to>
                        </div>
                    </div>
                </div>
                <div class="peer-credit__i">
                    <button type="submit" class="btn btn-primary peer-credit__submit">
                        Give
                    </button>
                    <div class="h-ovh">
                        <input type="text" class="peer-credit__input" placeholder="Message" data-credit-message>
                    </div>
                </div>

                <div class="peer-credit__error" data-credit-error></div>

                <div class="peer-credit__send" >
                    You have send bonuses successfully!
                </div>
            </form>

            <div class="credit-history js-credit-history">
                <div class="credit-history__head">
                    <div class="text">
                        Show bonuses
                    </div>
                    <a href="#" data-filter-link="all" class="link-blue item-link state_selected">
                        All
                    </a>
                    <a href="#" data-filter-link="isend" class="link-blue item-link">
                        Send by me
                    </a>
                    <a href="#" data-filter-link="irecieve" class="link-blue item-link">
                        I recieved
                    </a>
                </div>
                <div class="credit-history__list" data-filter-list>
                    <div class="credit-history-i" data-filter-text="">
                        <div class="credit-history-i__img"></div>
                        <div class="credit-history-i__con">
                            <div class="date">
                                2h
                            </div>
                            <div class="title">
                                <a href="#" class="link-blue">Egor Parfenov</a> recieved <i class="fa fa-heart-o"></i>10 from Louise
                            </div>
                            For brining holistic aproach to Happy Melly
                        </div>
                    </div>
                    <div class="credit-history-i" data-filter-text="irecieve">
                        <div class="credit-history-i__img"></div>
                        <div class="credit-history-i__con">
                            <div class="date">
                                2h
                            </div>
                            <div class="title">
                                You recieved <i class="fa fa-heart-o"></i>10 from Egor Parfenov
                            </div>
                            For leading our meetings even when all are not quite sure what’s going on!!! (Or may be that’s just me) :-)
                        </div>
                    </div>
                    <div class="credit-history-i" data-filter-text="isend">
                        <div class="credit-history-i__img"></div>
                        <div class="credit-history-i__con">
                            <div class="date">
                                2h
                            </div>
                            <div class="title">
                                <a href="#" class="link-blue">Egor Parfenov</a> recieved <i class="fa fa-heart-o"></i>10 from you
                            </div>
                            For brining holistic aproach to Happy Melly
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <link rel="stylesheet" href="@routes.Assets.at("css/person/credit-page.css")">

    <script src="@routes.Assets.at("js/person/widgets-credit/filter-history.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("js/person/widgets-credit/send-credit-form.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("js/person/credit-page.js")" type="text/javascript"></script>
}
