@(personId: Long,
  gravatarUrl: String,
  customUrl: String,
  active: String)(implicit request: Request[Any],
  handler: be.objectify.deadbolt.scala.DeadboltHandler)

@v2.html.dialog("photoSelection",
  "Use photo from gravatar or upload your own",
  action = None,
  actionId = Some("uploadBtnSave")) {
    <div class="b-photoupload">
      <div class="b-photoupload__item @if(active=="gravatar"){ type_active}" id="gravatar">
        <img class="b-photoupload__img" src="@gravatarUrl">
        <div class="b-photoupload__desc">
          <h4>Gravatar</h4>
          <p><a href="http://gravatar.com" target="_blank">Gravatar</a> is a service
          to store your identity assigned to your email address. It's used by
          many websites.</p>
        </div>
      </div>
      <div class="b-photoupload__item @if(active=="custom"){ type_active }" id="custom">
        @if(customUrl.length > 0) {
          <img class="b-photoupload__img" id="uploadCustomPhoto" src="@customUrl"/>
        } else {
          <img id="uploadCustomPhoto" class="b-photoupload__img" src="@routes.Assets.at("images/happymelly-face-white.png")"/>
        }
        <div class="b-photoupload__desc">
          <h4>Custom</h4>

          <div class="b-fileupload">
            <button type="button" class="btn btn-primary b-fileupload__btn">Choose File</button>
            <div class="b-fileupload__label">No file chosen</div>
            <input type="file" id="photoUpload"
              class="b-fileupload__ctr"
              name="photo"
              data-url="@controllers.core.routes.ProfilePhotos.upload(personId)"/>
          </div>
        </div>
      </div>
    </div>
  }

