@()(implicit request: RequestHeader)

@v2.layout.public("Happy Melly") {
<div class="p-public-con">

    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <div class="p-public">
                    <div class="p-public__hint">
                        Managment 3.0 Events
                    </div>
                    <h2 class="p-public__title">
                        Regular 2-Day Management 3.0 Course
                    </h2>
                    <div class="p-public__text">
                        Découverte Approfondissement des approches de management 3.0 par la pratique. <br>
                        Концерн "Алмаз-Антей" обнародовал “видео натурного эксперимента”, проведенного для выяснения обстоятельств крушения Boeing "Малайзийских авиалиний" на востоке Украины. Сообщается, что эксперимент прошел 7 октября на полигоне, на котором был установлен фюзеляж самолета Ил-86.
                    </div>

                    <div class="b-event">
                        <div class="b-event__info">
                            <h3 class="b-event__title">Event specific</h3>
                            <p>
                                Event is in French, all materials and handouts are in English.
                            </p>
                            <p>
                                Total hours 16, 8 hours per day.
                            </p>
                        </div>

                        <div class="b-event__people">
                            <h3 class="b-event__title">Facilitators</h3>
                            <div class="b-event__people-list">

                                @v2.element.personBadge("image", "url", "8.5") {
                                    Simone<br> Mosena
                                }

                                @v2.element.personBadge("image", "url", "8.5") {
                                    Stéphane<br> Rondal
                                }
                            </div>
                        </div>
                    </div>

                    <div class="p-public__submit">
                        <div class="p-public__submit-text">
                            21–22 Sep 2015 <br>
                            in Paris, France
                        </div>
                        <div class="h-ovh">
                            <a href="#" class="btn btn-primary p-public__submit-btn">
                                Register for the event
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}
