@(event: Event, brand: Brand, url: String)

@mail.templates.html.tmpl {
  <tr>
    <td valign="top" style="background-color: rgb(72, 177, 112); color: #ffffff;">
      <h3 style="font-size: 20px; font-weight: normal">Confirm your upcoming event</h3>
    </td>
  </tr>
  <tr>
    <td valign="top">
      <table cellpadding="0" cellspacing="0" border="0" style="font-size: 12px; line-height: 16px; width: 100%">
        <tbody>
          <tr>
            <td>
              <p>You received this e-mail because you are a facilitator for a @brand.name event <a href="@url@routes.Events.details(event.id.getOrElse(0))" target="_blank">@event.title</a>.</p>
              <p>It's coming!</p>
              <p>Please, follow  <a href="@url@routes.Events.details(event.id.getOrElse(0))" target="_blank">the link</a> to confirm the event it and let people see it's happening.</p>
              <p style="font-weight: bold"> The @brand.name team</p>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
}
