@(user: ActiveUser,
    facilitator: models.cm.Facilitator,
    creditsLeft: Int,
    feed: Seq[(models.cm.brand.PeerCredit, Person, Person)])

<div class="page-peer__side">
    <div class="credit-value">
        <div class="credit-value__title">
            Bonuses received
        </div>
        <div class="credit-value__num">
            @facilitator.creditsReceived
        </div>
    </div>
</div>
<div class="page-peer__left">
    <form class="b-credits js-form-credit" data-brand-id="@facilitator.brandId"
        action="@controllers.cm.brand.routes.Credits.give(facilitator.brandId)">
        <div class="b-credits__title">
            You can spend <span data-credict-count>@creditsLeft</span> more credits this month
        </div>
        <div class="b-credits__i">
            <div class="b-credits__value type-credit" data-credit-item>
                <span class="b-credits__value-hint">
                    Give <i class="fa fa-heart-o"></i>
                </span>
                <input tabindex="1" type="text" name="give" class="b-credits__input type-numeric" placeholder="" data-credit-value>
            </div>
            <div class="b-credits__value type-name" data-credit-item>
                <span class="b-credits__value-hint">
                    To
                </span>
                <input tabindex="2" type="text" name="to" class="b-credits__input" placeholder="Name" data-credit-to>
                <input tabindex="-1" type="hidden" name="to-data" data-credit-to-data>
            </div>
        </div>
        <div class="b-credits__i">
            <button tabindex="4" type="submit" class="btn btn-primary b-credits__submit">
                Give
            </button>
            <div class="h-ovh">
                <input tabindex="3" type="text" name="message" class="b-credits__input" placeholder="Message" data-credit-message>
            </div>
        </div>

        <div class="b-credits__error" data-credit-error></div>

        <div class="b-credits__send" >
            You have sent credits successfully!
        </div>
    </form>
    @views.html.v2.credit.feed(user, feed)
</div>
