@(user: ActiveUser, brands: List[Brand])(implicit request: Request[Any], flash: Flash, handler: be.objectify.deadbolt.scala.DeadboltHandler)

@v2.main("Credit", "Credit", user) {
    <div class="container page-peer js-credit-page">
        <div class="b-creditnav js-credits-tabs">
            @for((brand, index) <- brands.zipWithIndex) {
                <a href="#@brand.uniqueName"
                    class="b-creditnav__i "
                    data-href="@controllers.brand.routes.Credits.credits(brand.identifier)"
                    data-tab-link>
                    @brand.name
                </a>
            }
        </div>

        <div class="tab-content">
        @for((brand, index) <- brands.zipWithIndex) {
            <div class="tab-pane @if(index == 0){active}" id="@brand.uniqueName"></div>
        }
        </div>
    </div>

    <link rel="stylesheet" href="@routes.Assets.at("css/credits/credit-page.css")">

    <script src='@routes.Assets.at("javascripts/jquery.autocomplete.min.js")' type="text/javascript"></script>
    <script src="@routes.Assets.at("js/package/credit-page.js")"></script>
}
