@(user: ActiveUser, brands: List[Brand])(implicit request: Request[Any], flash: Flash, handler: be.objectify.deadbolt.scala.DeadboltHandler)

@v2.main("Credit", "Credit", user) {
    <div class="container page-peer ">

        <div class="b-creditnav js-sidemenu-tabs">
            @for((brand, index) <- brands.zipWithIndex) {
                <a href="#@brand.uniqueName" role="tab"
                class="b-creditnav__i "
                data-href="@controllers.brand.routes.Credits.credits(brand.identifier)"
                data-menuside>
                @brand.name
                </a>
            }
        </div>

        <div class="tab-content">
        @for((brand, index) <- brands.zipWithIndex) {
            <div class="tab-pane @if(index == 0){active}" id="@brand.uniqueName"></div>
        }
        </div>
    </div>
    <link rel="stylesheet" href="@routes.Assets.at("css/person/credit-page.css")">
    <script src="@routes.Assets.at("js/package/credit-page.js")"></script>
}
