@(organisation: Organisation,
  contributions: List[ContributionView])(implicit request: Request[Any],
    handler: AuthorisationHandler,
    token: play.filters.csrf.CSRF.Token)

@import be.objectify.deadbolt.scala.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import models.UserRole.Role._

<legend>Products Contribution</legend>
@if(contributions.isEmpty) {
  <p>@organisation.name has no contributions.</p>
} else {
  <table  class="datatables table table-bordered">
    <thead>
      <th>Product</th>
      <th>Role</th>
      <th></th>
    </thead>
    <tbody>
    @for(contribution <- contributions) {
      <tr>
        <td><a href="@routes.Products.details(contribution.product.id.getOrElse(0))">@contribution.product.title</a></td>
        <td>@contribution.contribution.role</td>
        <td>
        @restrict(handler, List(as(Editor.toString))) {
          <a href="@routes.Contributions.delete(contribution.contribution.id.get, "organisation")">
            <i class="glyphicon glyphicon-trash"></i> Delete contribution</a>
        }
        </td>
      </tr>
    }
    </tbody>
  </table>
}