@(user: UserIdentity,
    org: Organisation,
    payments: List[payment.Record])(implicit request: Request[Any],
    handler: AuthorisationHandler)

@import be.objectify.deadbolt.scala.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import helper.CSRF
@import models.UserRole.Role._

@org.member.map { m =>

  <div class="col-md-12">
    <div class="col-md-4 block">
      Member status:
      @restrict(handler, List(as(Editor.toString))) {
        <a href="@routes.Members.edit(m.id.getOrElse(0))">
          <i class="glyphicon glyphicon-pencil"></i></a>
      }
      @if(m.funder) {
        <h2>Funder</h2>
      } else {
        <h2>Supporter</h2>
      }
      since <b>@m.since</b><br/>
      until <b>@m.end</b>
    </div>
    <div class="col-md-8">
      <p><b>Public profile:</b> <a href="http://happymelly.com/members/#@(m.id.get)"
      target="_blank">@org.name</a>
      </p>
      <p><b>Available benefits:</b> <a href="http://happymelly.com/benefits"
      target="_blank">list</a>
      </p>
    </div>

    <div class="col-md-12 block">
      <table class="payments table table-bordered">
        <thead>
          <tr>
            <th>Description</th>
            <th>Amount</th>
            <th>Date</th>
            @restrict(handler, List(as("admin"))) {
              <th>Remote link</th>
            }
          </tr>
        </thead>
        <tbody>
        @for(payment <- payments) {
          <tr>
            <td>@payment.description</td>
            <td>@payment.fee</td>
            <td>@payment.created.toString("YYYY-MM-dd HH:mm:ss")</td>
            @restrict(handler, List(as("admin"))) {
              <td><a href="https://dashboard.stripe.com/live/payments/@(payment.remoteId)"
              target="_blank">@payment.remoteId</a> </td>
            }
          </tr>
        }
        </tbody>
      </table>
    </div>

    <div class="col-md-12">
      <legend>Subscription</legend>
      @if(m.subscription) {
        <p>
          Your membership will be automatically prolonged at the end of a subscription
          period. The date of the next prolongation is <b>@m.end</b>.
        </p>
        <p>
          You can cancel your subscription any time. In this case your membership
          will be valid till <b>@m.end</b>.</p>
        @dynamic(handler, "organisation", "edit") {
          <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
          data-target=".cancelModal">Cancel subscription</button>
          <div class="modal fade cancelModal" tabindex="-1" role="dialog" aria-labelledby="cancelModal" aria-hidden="true">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Cancel subscription</h4>
                </div>
                <div class="modal-body">
                  <p>If you cancel your subscription you won't be able to turn it back on.
                    However this functionality will be available in the future.</p>
                  <p>Your membership will be valid till <b>@m.end</b></p>
                </div>
                <div class="modal-footer">
                  <form method="post" action="@CSRF(routes.Organisations.cancel(org.id.getOrElse(0)))">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                    <button class="btn btn-danger btn-sm" type="submit">
                      Cancel subscription</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        }

      } else {
        <div class="alert alert-warning">
          <p><i class="glyphicon glyphicon-warning-sign"></i> Subscription is canceled.</p>
          <p>It's not possible to turn your subscription on right now. We're working on it ;).</p>
        </div>
        <p>Your membership ends <b>@m.end</b>.</p>
      }
    </div>
  </div>
}
