@(user: ActiveUser,
    person: Person,
    showFacilitationTab: Boolean,
    accountRole: Option[models.UserRole.Role.Role],
    otherUser: Option[UserAccount])(implicit request: Request[Any],
    handler: AuthorisationHandler,
    token: play.filters.csrf.CSRF.Token)

@import helper.CSRF
@import models.UserRole.Role._
@import be.objectify.deadbolt.scala.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@roleInput(accountRole: Option[models.UserRole.Role.Role],
  inputRole: models.UserRole.Role.Role,
  label: String) = {
  <label class="radio">
    <input type="radio" name="role"
      value="@inputRole" @if(accountRole == Some(inputRole)) {checked}> @label
  </label>
}

@restrict(handler, List(as("editor"))) {
  <div class="role panel panel-default">
    <div class="panel-body">
      @if(!showFacilitationTab) {
        <div class="button">
          <a href="@routes.Licenses.add(person.id.getOrElse(0))"
            class="btn btn-success">
            Make a Facilitator</a>
        </div>
      }
      <br/>
      <div class="button">
        <form method="post" class="form-inline"
        action="@CSRF(routes.People.activation(person.id.getOrElse(0)))">
          <input name="active" value="@(!person.active)" type="hidden">
          @if(person.active) {
            <button class="btn btn-warning" type="submit">
              <i class="glyphicon-off glyphicon glyphicon-white"></i>
              Deactivate
            </button>
          } else {
            <button class="btn btn-success" type="submit">
              <i class="glyphicon-off glyphicon glyphicon-white"></i>
              Activate
            </button>
          }
        </form>
      </div>
      <br/>
      @restrict(handler, List(as("admin"))) {
        @otherUser.map { account =>
          <p>None (cannot log in)</p>
          <div class="alert alert-danger">
            <p>You cannot add a role because <a href="@routes.People.details(account.personId)">another user</a>
              has the same Twitter handle, Facebook URL, Google+ URL or LinkedIn URL.</p>
          </div>
        }.getOrElse {
          @if(!person.canHaveUserAccount) {
            <p>
              None (cannot log in) - add a Twitter handle, Facebook URL, Google+ URL or LinkedIn URL to assign roles</p>
          } else {
            <form style="margin-left: 20px;" method="post" action="@CSRF(routes.UserAccounts.update)">
              <input type="hidden" name="personId" value="@person.id">
              <div class="control-group" id="role_field">
                <label class="radio">
                  <input type="radio" name="role" value="" @if(accountRole.isEmpty) {checked}> None (cannot log in)
                </label>
                @roleInput(accountRole, models.UserRole.Role.Viewer, "Viewer (can view data)")
                @roleInput(accountRole, models.UserRole.Role.Editor, "Editor (can modify data)")
                @roleInput(accountRole, models.UserRole.Role.Admin, "Admin (can change user roles)")
              </div>

              <button class="btn" type="submit">Update Role</button>
            </form>
          }
        }
      }
    </div>
  </div>
}