@(person: Person,
    width: String)(implicit request: Request[Any],
    handler: AuthorisationHandler)

@import be.objectify.deadbolt.scala.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

<div class="photo-block">
  @dynamic(handler, "person", "edit") {
    <a href="#" id="choosePhotoLink" data-toggle="modal" data-target="#photoDialog">
      <i class="glyphicon glyphicon-pencil"></i></a>
  }
  @element.photo(person, width)
</div>
<div id="photoDialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" id="choosePhotoContent">
  </div>
</div>
