@(person: Person)(implicit request: Request[Any],
    flash: Flash,
    handler: AuthorisationHandler,
    token: play.filters.csrf.CSRF.Token)

@import helper.CSRF
@import models.UserRole.Role._
@import be.objectify.deadbolt.scala.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

  <p>Your signature is used during certificate generation. It's important to upload
    one to send participants the certificates signed by you.
  </p>
  <div class="col-md-4">
    @if(person.signature) {
      <img width="200" class="img-thumbnail" src="@routes.People.signature(person.id.getOrElse(0))"/>
    } else {
      <img width="200" class="img-thumbnail" src="@routes.Assets.at("images/no-signature.png")"/>
    }
  </div>
  <div class="col-md-4">
    @dynamic(handler, "person", "edit") {
      <form action="@CSRF(routes.People.uploadSignature(person.id.getOrElse(0)))"
      method="post" enctype="multipart/form-data">
        <div class="form-group">
          <input type="file" id="signature" class="form-control input-sm" name="signature"/>
        </div>
        <button class="btn btn-primary btn-sm" type="submit">
        @if(person.signature) { Replace File } else { Upload File } </button>
        @if(person.signature) {
          <button class="btn btn-danger btn-sm" type="submit" form="deleteSig">
            <i class="glyphicon glyphicon-trash glyphicon-white"></i> Delete File</button>
        }
      </form>
      @if(person.signature) {
        <form method="post" action="@CSRF(routes.People.deleteSignature(person.id.getOrElse(0)))" id="deleteSig">
        </form>
      }
    }
  </div>
