@(loginForm: Form[(String, String)],
    errorMsg: Option[String] = None)(implicit request: Request[Any],
    flash: Flash)

@import securesocial.core.AuthenticationMethod._
@import securesocial.core.Registry
@import securesocial.core.providers.utils.RoutesHelper

@secure.unauthorized("Sign in") {
  @errorMsg.map { msg =>
    <div class="alert alert-danger">
      @Messages(msg)
    </div>
  }

  <div class="col-md-6">
    <img src="@routes.Assets.at("images/Melly-Shum-hates-her-job.jpg")"/>
  </div>
  <div class="col-md-4 col-md-offset-1 text-center">
    <div class="form-block text-left">
      @for(provider <- Registry.providers.all().values) {
        @if(provider.authMethod == OAuth1 || provider.authMethod == OAuth2) {
          @defining("images/securesocial/%s.png".format(provider.id)) { imageUrl: String =>
            <a class="btn btn-default btn-login btn-lg btn-block"
            href="@provider.authenticationUrl">
              <img src="@RoutesHelper.at(imageUrl)" width="40px"/> Sign in with @provider.id.capitalize
            </a>
          }
        }
      }
    </div>
    <div>
      <a href="@routes.Registration.step1()">Become a Member</a>
    </div>
  </div>

  <div class="col-md-12">
    <div class="cloudbees pull-right">
      <img src="http://www.cloudbees.com/sites/default/files/Button-Built-on-CB-1.png"/>
    </div>
  </div>
}
