@(title: String)(content: Html)(implicit flash: Flash,
    request: Request[Any])

<!DOCTYPE html>
<html>
    <head>
        <title>@title - Happy Melly</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        @head()
        <script src="@routes.Assets.at("main.js")" type="text/javascript"></script>
    </head>
    <body class='@title.split(" ").last.toLowerCase'>
        <div class="navbar navbar-inverse navbar-fixed-top" role="nagivation">
            <div class="container">
                <a class="navbar-brand" href="/">Happy Melly</a>
            </div>
        </div>
        <div class="container">
            @alert(alertType: String) = {
            @flash.get(alertType).map { message =>
                <div class="alert @if(alertType == "error") {alert-danger} else {alert-@alertType}">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    @message
                </div>
            }
            }
            @alert("error")
            @alert("success")
            @content
        </div>
        <footer>
            <div class="container"></div>
        </footer>
    </body>
</html>
