@import "./../../../settings";

.email-dlg{
  padding-bottom: 20px;
}

.email-dlg__i{
  position: relative;
  height: 48px;
  margin-bottom: 12px;
}

.email-dlg__i-label{
  position: relative;
  top: 50%;
  .transform(translate(0, -50%));
  float: left;
  width: 150px;
  text-align: left;
}

.email-dlg__i-input{
  overflow: hidden;
  position: relative;
}

.email-dlg__buttons{
  margin-top: 29px;
}

.email-dlg__error{
  position: absolute;
  left: 0;
  top: 55px;
  font-size: 12px;
  color: @red;
}

.email-dlg__btn{
  min-width: 300px;
  font-size: 18px;
  line-height: 1;
  padding-top: 15px;
  padding-bottom: 17px;
  font-weight: 400;
  margin-right: 80px;
}

.email-dlg__close{
  font-size: 18px;
}

