@(licenses: List[LicenseLicenseeView])

@import org.joda.time.LocalDate

<div>
  <h3>Expiring licenses</h3>
  @if(licenses.exists(_.license.end.toString < LocalDate.now().toString)) {
    <div class="alert alert-danger">
      <i class="glyphicon glyphicon-info-sign"></i> Several licenses have already
      expired. Facilitators' profiles are not shown.
    </div>
  }
  <table id="events" class="datatables table table-bordered">
    <thead>
      <tr>
        <th>Facilitator</th>
        <th>Expiration Date</th>
        <th>Fee</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for(view <- licenses) {
        <tr @if(view.license.end.toString < LocalDate.now().toString) { class="warning" }>
          <td>
            <a href="@(routes.People.details(view.licensee.id.get).url)#licenses">
            @view.licensee.fullName
            </a>
          </td>
          <td>
            @view.license.end.toString
          </td>
          <td>
            @view.license.fee.toString
          </td>
          <td>
            <a href="@(routes.Licenses.edit(view.license.id.getOrElse(0)))"
              target="_blank">prolong</a>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>