@(events: List[Event])

<div>
  <h3>Last past events</h3>
  <table id="events" class="datatables table table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Location</th>
        <th>Dates</th>
        <th>Total hours</th>
      </tr>
    </thead>
    <tbody>
    @for(event <- events) {
      <tr>
        <td>
          <a href="@routes.Events.details(event.id.get).url">
          @event.title
          </a>
        </td>
        <td>
          <img align="absmiddle" width="16"
          src="/assets/images/flags/16/@(event.location.countryCode.toLowerCase).png"/>
          @event.location.city
        </td>
        <td>
          @event.schedule.start.toString / @event.schedule.end.toString
        </td>
        <td>@event.schedule.totalHours</td>
      </tr>
    }
    </tbody>
  </table>
</div>