@(name: String,
    experiments: List[Experiment],
    updateUrl: String)

@import laika.api._
@import laika.parse.markdown.Markdown
@import laika.render.HTML

@mail.templates.hm.html.tmpl("Update your experiments") {
    <h3>Hi @name,</h3>
    <table cellpadding="0" cellspacing="0" border="0" style="width: 100%">
      <tbody>
        <tr>
          <td>
            <p>You are running @(experiments.length) experiment@if(experiments.length > 1){s}. Are there any updates you'd like to share with Happy Melly members and rest of the world?</p>
            <h3>Your experiments</h3>
            @for((experiment, index) <- experiments.zipWithIndex) {
              <strong>@(index + 1). @experiment.name</strong>
              <p>@Html(Transform.from(Markdown).to(HTML).fromString(experiment.description).toString.substring(0, 100) + "...")</p>
              @experiment.url.map { url =>
                <a href="@url" target="_blank">@url</a>
              }
              <br>
              <br>
            }
            <strong>Click to <a href="@updateUrl">update experiments</a></strong>
            <br/>
            <br/>
            <p style="font-weight: bold"> Happy Melly team</p>
          </td>
        </tr>
      </tbody>
    </table>
} { }