@(name: String, profileUrl: String, expire: org.joda.time.LocalDate)

@import views.ViewHelpersV2._

@mail.templates.hm.html.tmpl("Your Happy Melly Membership") {
    @mail.templates.hm.html.title(s"Hey $name,")
    @mail.templates.hm.html.paragraph {
        Something wasn’t quite right when we attempted to automatically renew your Happy Melly membership.
        It seems like your payment method might need updating.
    }
    @mail.templates.hm.html.paragraph {
        To maintain your Happy Melly membership, you must update your credit card details via
        <a href="@profileUrl#membership">your Teller Account</a> before @date(expire).
    }
    @mail.templates.hm.html.paragraph {
        In the event you don’t wish to renew your membership, you don’t have to do anything. But we’d really appreciate
        <a href="http://www.happymelly.com/contact/">a quick email</a>, or Slack message to let us know why you’ve
        chosen not to continue.
    }
    @mail.templates.hm.html.paragraph {
        Happy Melly
    }
} { }