@(loginForm: Form[(String, String)],
    errorMsg: Option[String] = None)(implicit request: RequestHeader,
    env: securesocial.core.RuntimeEnvironment,
    messages: Messages)

@import securesocial.core.providers.UsernamePasswordProvider

@v2.layout.unauthorized("Log In") {
    <div class="b-unauth__content b-authreg">
        <h3 class="b-unauth__title">Login to Happy Melly Teller</h3>
        @v2.element.flash()(request.flash)
        <div class="b-authreg__content">
            We moved! <br/>
                Follow <a href="https://www.happymelly.com/login/">this link</a> to log in.
        </div>
    </div>

    <script src="@routes.Assets.at("js/unauthorized/login.js")" type="text/javascript"></script>
}
