@(form: Form[String])(implicit request: RequestHeader, messages: Messages)

@import helper.CSRF

@v2.layout.unauthorized("Remind Login") {
    <div class="b-unauth__content">
        <h3 class="b-unauth__title">Remind my login options</h3>
        <p>Enter your email address and we'll send to it how you can login to the system</p>

        <div class="col-md-6 col-md-offset-3">
            @if(form.hasErrors) {
                <div class="b-unauth__errors text-left">
                    @for((error, index) <- form.errors.zipWithIndex) {
                        @Messages(error.message)<br/>
                    }
                </div>
            }
            <form action="@CSRF(controllers.security.routes.LoginReminder.handle())" method="post">
                <div class="form-group">
                    <input class="form-control" name="email" placeholder="Email"/>
                </div>
                <div class="form-group">
                    <button class="form-control btn btn-block btn-primary" type="submit">Send reminder</button>
                </div>
            </form>
        </div>
    </div>
}