@(form: Form[(String, String)], token: securesocial.core.providers.MailToken)(implicit request: RequestHeader,
    env: securesocial.core.RuntimeEnvironment,
    messages: Messages)

@import helper.CSRF
@import views.ViewHelpersV2._
@import securesocial.core.providers.MailToken

@v2.layout.unauthorized("Reset Password") {
    <div class="b-unauth__content">
        <h3 class="b-unauth__title">Enter new password</h3>
        <p>for your <strong>@token.email</strong> account</p>
        <div class="col-md-6 col-md-offset-3">
            @if(form.hasErrors) {
                <div class="b-unauth__errors text-left">
                    @for((error, index) <- form.errors.zipWithIndex) {
                        @Messages(error.message)<br/>
                    }
                </div>
            }
            <form action="@CSRF(routes.PasswordReset.handleResetPassword(token.uuid))" method="post">
                <div class="form-group">
                    <input class="form-control" type="password" name="password.password1" placeholder="New password"/>
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password.password2" placeholder="Retype password"/>
                </div>
                <div class="form-group">
                    <button class="form-control btn btn-block btn-primary" type="submit">Save and login</button>
                </div>
            </form>
        </div>
    </div>
}