@()(implicit request: Request[Any], flash: Flash)

@import securesocial.core.AuthenticationMethod._
@import securesocial.core.Registry
@import securesocial.core.providers.utils.RoutesHelper

@secure.unauthorized("Welcome") {
  <div class="col-md-6 col-md-offset-3 text-center">
    <h1>Registration</h1>
    <div class="form-block text-left">
      <legend>Step 1: Log In</legend>
      @for(provider <- Registry.providers.all().values) {
        @if(provider.authMethod == OAuth1 || provider.authMethod == OAuth2) {
          @defining("images/securesocial/%s.png".format(provider.id)) { imageUrl: String =>
            <a class="btn btn-default btn-login btn-lg btn-block" href="@provider.authenticationUrl">
              <img src="@RoutesHelper.at(imageUrl)" width="40px"/> Log in with @provider.id.capitalize
            </a>
          }
        }
      }
    </div>
  </div>
}