@()(implicit request: Request[Any], env: securesocial.core.RuntimeEnvironment[_])

@import securesocial.core.providers.UsernamePasswordProvider.UsernamePassword
@import securesocial.core.AuthenticationMethod._

@layout.unauthorized("Welcome") {
  <div class="col-md-6 col-md-offset-3 text-center">
    <h1>Become a Supporter</h1>
    <div class="form-block text-left">
      <legend>Step 1: Log In</legend>
      @defining( env.providers.values.filter( _.id != UsernamePassword) ) { externalProviders =>
        @if( externalProviders.nonEmpty ) {
          @for(p <- externalProviders) {
            @if(p.authMethod == OAuth1 || p.authMethod == OAuth2) {
              @defining("images/providers/%s.png".format(p.id)) { imageUrl =>
                <a class="btn btn-default btn-login btn-lg btn-block"
                  href="@routes.Registration.authenticate(p.id)">
                  <img src="@routes.Assets.at(imageUrl)" width="40px"/>
                  Log in with @p.id.capitalize
                </a>
              }
            }
          }
        }
      }
    </div>
  </div>
}