@()(implicit request: Request[Any], flash: Flash)

@layout.unauthorized("Welcome") {
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/payment.css")">
  <script type="text/javascript" src="@routes.Assets.at("membership/welcome.js")"></script>

  <div class="col-md-12 text-center">
    <h1>Join Happy Melly network</h1>
  </div>
  <div class="row text-center welcome">
    <div class="col-md-6 col-md-offset-3">
      @element.supporter()
      <div class="row">
        <div class="col-md-5 text-center button-block">
          <h5>I want to be a Supporter</h5>
          <div class="button-line text-center">
            <a href="@routes.Registration.step1()" class="btn btn-success">
                Become a Supporter</a>
          </div>
        </div>
        <div class="col-md-7 text-center button-block">
          <h5>My organisation wants to be a Supporter</h5>
          <div class="button-line text-center">
            <a href="@routes.Registration.step1(true)" class="btn btn-primary">
              Make my organisation a Supporter
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
}