@(org: Organisation,
    width: String)(implicit request: Request[Any],
    handler: AuthorisationHandler,
    token: play.filters.csrf.CSRF.Token)

@import helper.CSRF
@import be.objectify.deadbolt.scala.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

<div class="photo-block">
  @dynamic(handler, "organisation", "edit") {
    <a href="#" id="choosePhotoLink" data-toggle="modal" data-target="#photoDialog">
      <i class="glyphicon glyphicon-pencil"></i></a>
  }
  @if(org.logo) {
    <img id="photo" width="@width" class="img-rounded photo"
      src="@routes.Organisations.logo(org.id.getOrElse(0))"/>
  } else {
    <img id="photo" width="@width" class="img-rounded photo"
      src="@routes.Assets.at("images/happymelly-face-white.png")"/>
  }
</div>
@dynamic(handler, "organisation", "edit") {
  <div id="photoDialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm" id="choosePhotoContent">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4>Update logo</h4>
        </div>
        <div class="modal-body photo-selector">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
              @if(org.logo) {
                <img width="250" class="img-rounded" id="logo"
                  src="@routes.Organisations.logo(org.id.getOrElse(0))"/>
              } else {
                <img width="250" class="img-rounded" id="logo"
                  src="@routes.Assets.at("images/happymelly-face-white.png")"/>
              }
              </div>
              <div class="form-group col-md-10 col-md-offset-1">
                <input type="file" id="logoUpload" class="form-control input-sm" name="logo"
                  data-url="@routes.Organisations.uploadLogo(org.id.getOrElse(0))"/>
              </div>
              <button class="btn btn-primary btn-sm" id="btnLogoUpload">Upload</button>
              <button class="btn btn-danger btn-sm" id="btnLogoDelete"
                data-href="@routes.Organisations.deleteLogo(org.id.getOrElse(0))">
                <i class="glyphicon glyphicon-trash glyphicon-white"></i> Delete</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
}
