@(org: Organisation,
    width: String)(implicit request: Request[Any],
    handler: AuthorisationHandler)

@import be.objectify.deadbolt.scala.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

<div class="photo-block">
  @dynamic(handler, "organisation", "edit") {
    <a href="#" id="choosePhotoLink" data-toggle="modal" data-target="#photoDialog">
      <i class="glyphicon glyphicon-pencil"></i></a>
  }
  @if(org.logo) {
    <img id="photo" width="@width" class="img-rounded photo" src=""/>
  } else {
    <img id="photo" width="@width" class="img-rounded photo"
      src="@routes.Assets.at("images/happymelly-face-white.png")"/>
  }
</div>
@dynamic(handler, "organisation", "edit") {
  <div id="photoDialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" id="choosePhotoContent">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4>Update logo</h4>
        </div>
        <div class="modal-body photo-selector">
          <div class="row">
            <div class="col-md-4" id="nophoto">
              <img height="200" class="img-rounded photo"
                src="@routes.Assets.at("images/happymelly-face-white.png")"/>
            </div>
            <div class="col-md-4">
              <form action="" method="post" enctype="multipart/form-data">
                <div class="form-group">
                  <input type="file" id="signature" class="form-control input-sm" name="signature"/>
                </div>
                <button class="btn btn-primary btn-sm" type="submit">
                @if(org.logo) { Replace File } else { Upload File } </button>
                @if(org.logo) {
                  <button class="btn btn-danger btn-sm" type="submit" form="deleteSig">
                    <i class="glyphicon glyphicon-trash glyphicon-white"></i> Delete File</button>
                }
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
          <a id="saveLink" class="btn btn-danger" href="#">Save</a>
        </div>
      </div>
    </div>
  </div>
}
