@(user: UserIdentity)(implicit request: Request[Any],
    flash: Flash,
    handler: AuthorisationHandler)


@main("Statistics", "statistics", user) {
  <div class="page-header">
    <h1 class="col-md-offset-3">Management 3.0</h1>
  </div>
  <div class="row">
    <div class="col-md-3 info text-center">
      <h3>Facilitators</h3>
      <h1 id="facilitatorTotal"></h1>
    </div>
    <div class="col-md-9">
      <canvas id="facilitatorChart" width="700" height="400"></canvas>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 info text-center">
      <h3>Events</h3>
      <h1 id="eventTotal"></h1>
    </div>
    <div class="col-md-9">
      <canvas id="eventChart" width="700" height="400"></canvas>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 info text-center">
      <h3>Countries</h3>
      <h1 id="countryTotal"></h1>
    </div>
    <div class="col-md-9">
      <canvas id="countryChart" width="550" height="400"></canvas>
      <div class="col-md-9">
        <table class="table table-bordered" id="countryList">
          <thead>
            <tr>
              <th>#</th>
              <th>Country</th>
              <th>Number of events</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>

  @helper.javascriptRouter("jsRoutes")(
    routes.javascript.Statistics.byFacilitators,
    routes.javascript.Statistics.byEvents,
    routes.javascript.Statistics.byCountries
  )
  <script src="@routes.Assets.at("javascripts/Chart.min.js")"></script>
  <script src="@routes.Assets.at("statistics/index.js")" type="text/javascript"></script>
}
