@(id: String, codeField: play.api.data.Field, amountField: play.api.data.Field, args: (Symbol,Any)*)(implicit lang: play.api.i18n.Lang)

@import scala.collection.JavaConverters._
@import org.joda.money.CurrencyUnit

@label = @{ args.toMap.get('_label).getOrElse(play.api.i18n.Messages(amountField.name)) }

<div class="control-group @args.toMap.get('_class) @if(codeField.hasErrors || amountField.hasErrors) {error}" id="@id">
  <label for="@id">@label</label>
  <div class="@if(args.toMap.contains('_currency)) { input-prepend } else { input }">
    @if(args.toMap.contains('_currency)) {
      <span class="add-on">@CurrencyUnit.of(args.toMap.get('_currency).getOrElse("").toString).getCode</span>
      <input type="hidden" name="@codeField.name" value="@args.toMap.get('_currency)">
    } else {
      <select name="@codeField.name">
        @for(currency <- CurrencyUnit.registeredCurrencies.asScala.filterNot(_.isPseudoCurrency)) {
        <option value="@currency.getCurrencyCode" @if(codeField.value == Some(currency.getCurrencyCode)) { selected }>@currency.getCode - @currency.toCurrency.getDisplayName</option>
        }
      </select>
    }
    <input class="input-small" name="@amountField.name" type="number" min="0" step="@args.toMap.get('_step).getOrElse("0.01")" value="@amountField.value">
    <span class="help-inline">
    @if(codeField.hasErrors || amountField.hasErrors) {
      @for(error <- codeField.errors ++ amountField.errors) {
        @Messages(error.message, error.args: _*)
      }
    } else {
      @args.toMap.get('_help)
    }
    </span>
  </div>
</div>