@(personId: Long,
  steps: List[CompletionStep])

<ul class="b-completion__list">
  @for(step <- steps) {
    <li>
      Get <strong>@(step.weight)%</strong> for
      @if(step.name == "photo") {
        <a class="b-completion__link link-mblue js-completion-photo"
          href="javascript: void(0)"
          data-tab=""
          data-popup="#uploadPhotoDialog">
          photo
        </a>
      }
      @if(step.name == "about") {
        <a class="b-completion__link link-mblue"
          href="@controllers.core.routes.People.edit(personId)">
            description
        </a>
      }
      @if(step.name == "social") {
        <a class="b-completion__link link-mblue"
          href="@controllers.core.routes.People.edit(personId)">
            2 social networks
        </a>
      }
      @if(step.name == "reason") {
        <a class="b-completion__link link-mblue js-completion-tab"
            href="javascript: void(0)"
            data-tab="#sidemenu a[href='#membership']"
            data-popup="#reasonDialog">
          sharing why you joined the network
        </a>
      }
      @if(step.name == "member") {
        <a class="b-completion__link link-mblue"
          href="@community.routes.Membership.welcome()">
          becoming a member
        </a>
      }
      @if(step.name == "signature") {
        <a class="b-completion__link link-mblue js-completion-tab"
            href="javascript: void(0)"
            data-tab="#sidemenu a[href='#facilitation']">
          signature
        </a>
      }
      @if(step.name == "language") {
        <a class="b-completion__link link-mblue js-completion-tab"
            href="javascript: void(0)"
            data-tab="#sidemenu a[href='#facilitation']">
          at least 1 language
        </a>
      }
    </li>
  }
</ul>
