@(user: ActiveUser,
    form: Form[hm.PaymentData],
    apiKey: String,
    fee: (Int, Int, Int),
    org: Option[Organisation] = None)(implicit request: Request[Any],
        handler: be.objectify.deadbolt.scala.DeadboltHandler,
        flash: Flash,
        messages: Messages)

@v2.main("Payment", "membership", user, withMelly = true) {
    <div class="col-md-12 text-center">
        <h3>Make Payment</h3>
    </div>
    <div class="row text-left existing-user">
        <div class="col-md-6 col-md-offset-3">
            @views.html.v2.element.payment(form, user.person, apiKey, fee, org)
            @views.html.v2.element.paymentInfo()
        </div>
    </div>
}