@(user: ActiveUser,
    form: Form[PaymentData],
    apiKey: String,
    fee: (Int, Int, Int),
    org: Option[Organisation] = None)(implicit request: Request[Any],
        handler: be.objectify.deadbolt.scala.DeadboltHandler,
        flash: Flash,
        messages: Messages)

@v2.main("Payment", "membership", user, withMelly = true) {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/registration.min.css")">
    <div class="col-md-12 text-center">
        <h3>Make Payment</h3>
    </div>
    <div class="row text-left welcome">
        <div class="col-md-6 col-md-offset-3">
            @views.html.v2.element.payment(form, user.person, apiKey, fee, org)
            <div class="row payment-info">
                <div class="col-md-2">
                    <img src="@routes.Assets.at("images/RapidSSL_SEAL-90x50.gif")"/>
                </div>
                <div class="col-md-10 text-left">
                    <p class="text-muted">Happy Melly does not store your card details. All payments are securily
                        processed by <a href="http://stripe.com" target="_blank">Stripe, Inc.</a>
                    </p>
                    <p class="text-muted">
                        The information transfer is secured and verified by SSL 128 bit certificate
                        issued by RapidSSL. Web site fully satisfies the security standards of
                        Visa and Mastercard (PCI compliancy).
                    </p>
                </div>
            </div>
        </div>
    </div>
}