@import models.cm.brand.Badge
@(badges: List[Badge])

@import controllers.cm.brand.Badges

@if(badges.nonEmpty) {
    <div class="b-badge-img">
        <div class="b-badge-slider slide js-badge-slider">
            <div class="carousel-inner" role="listbox">
            @for((badge, index) <- badges.zipWithIndex) {
                <div class="b-badge-slider__i @if(index == 0) { active } item"
                style="background-image: url(@Badges.pictureUrl(badge, "icon")) ;"></div>
            }
            </div>
        </div>
        <div class="b-badge-tooltip">
        @for(badge <- badges) {
            <div class="b-badge ">
                <div class="b-badge__img"
                style="background-image: url(@Badges.pictureUrl(badge, "icon")) ;"></div>
                <div class="b-badge__con">
                    <h5 class="b-badge__title">
                    @badge.name
                    </h5>
                </div>
            </div>
        }
        </div>
    </div>
}
