@import models.cm.brand.Badge
@(badges: List[Badge], facilitator: models.cm.Facilitator)

@import controllers.brand.Badges

    @for(badge <- badges) {
    <label class="b-badge @if(facilitator.badges.contains(badge.id.get)) { is-selected }">
        <input type="checkbox" @if(facilitator.badges.contains(badge.id.get)) { checked } class="b-badge__input js-badge-input"
            data-id="@badge.id.get" data-brand="@badge.brandId" data-person="@facilitator.personId" />

        <div class="b-badge__img" style="background-image: url(@Badges.pictureUrl(badge, "icon")) ;"></div>
        <div class="b-badge__con">
            <div class="b-badge__text">
                <h5 class="b-badge__title">
                @badge.name
                </h5>
            </div>
        </div>
    </label>
    }
