@import models.cm.brand.Badge
@(user: ActiveUser,
    brand: Brand,
    brands: List[Brand],
    facilitators: List[(models.cm.License, Person, models.cm.Facilitator, Boolean, Boolean, List[Badge])])(implicit
        request: Request[Any],
        flash: Flash,
        handler: be.objectify.deadbolt.scala.DeadboltHandler)

@import views.Countries
@import views.ViewHelpersV2._

@v2.main("Facilitators", "facilitators", user) {
    @v2.element.brandHeader(brand, brands, "facilitators", facilitator = user.account.isFacilitatorNow) {
    }
        <div class="container p-content">
            <input type="hidden" id="activeBrandId" value="@brand.identifier"/>

            <div class="js-brandcoordinator-table">
                <div class="b-filters" >
                    <span class="b-filters__text">Filter by License: </span>
                    <div class="b-filters__link">
                        <a class="js-filter-link" href="#" data-type="all">
                            All
                        </a>
                        <span class="b-filters__count">@facilitators.length</span>
                    </div>
                    <div class="b-filters__link">
                        <a href="#" class="active js-filter-link" data-type="active">
                            Active
                        </a>
                        <span class="b-filters__count">@facilitators.count(_._1.active)</span>
                    </div>
                    <div class="b-filters__link">
                        <a class="js-filter-link" href="#" data-type="joined">
                            Joined last month
                        </a>
                        <span class="b-filters__count">@facilitators.count(_._4)</span>
                    </div>
                    <div class="b-filters__link">
                        <a class="js-filter-link" href="#" data-type="left">
                            Left last month
                        </a>
                        <span class="b-filters__count">@facilitators.count(_._5)</span>
                    </div>
                    <div class="b-filters__link">
                        <a class="js-filter-link" href="#" data-type="expiring">
                            Expiring
                        </a>
                        <span class="b-filters__count">@facilitators.count(_._1.expiring)</span>
                    </div>
                </div>
                <table id="facilitators" class="table js-table-list">
                    <thead>
                        <tr>
                            <th width="20%">Facilitator</th>
                            <th width="20%">Country</th>
                            <th width="15%" class="number">Public events</th>
                            <th width="15%" class="number">Private events</th>
                            <th width="15%" class="date">Joined on</th>
                            <th width="15%" class="date">License expire on</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    @for((license, person, data, joined, left, badges) <- facilitators) {
                        <tr @if(license.expired) {
                            class="inactive"
                        } data-id="@person.identifier"
                        data-brand="@brand.identifier">
                            <td>
                                <div class="js-row-badgeslist h-d-inline">
                                @v2.facilitator.badges(badges)
                                </div>
                                <a href="@controllers.core.routes.People.details(person.identifier)">@person.fullName</a>
                            </td>
                            <td>@Countries.name(person.address.countryCode)</td>
                            <td>@data.publicRating</td>
                            <td>@data.privateRating</td>
                            <td>@dateInterval(license.start, license.start)</td>
                            <td @if(license.expiring) {
                                class="h-pink" } >@dateInterval(license.end, license.end)</td>
                            <td>@license.active</td>
                            <td>@joined</td>
                            <td>@left</td>
                            <td>@license.expiring</td>
                            <td>

                                @if(!license.expired) {
                                    <a href="javascript:void(0)"
                                    class="link-blue h-nowrap js-row-badges">
                                        Assign badges
                                    </a>
                                }

                            <div class="modal fade js-row-modal" tabindex="-1" role="dialog" aria-hidden="true">
                            @v2.html.dialog("modalBadges",
                                "Select badges you want to assign to",
                                action = None,
                                actionId = None) {

                                <div class="b-badge-popup js-modalbadge-content"></div>
                            }
                            </div>
                            </td>
                        </tr>

                    }
                    </tbody>
                </table>
            </div>
        </div>
    <script src="@routes.Assets.at("js/facilitator/tableRowWithSlidingBadges.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("js/facilitator/tableRowWithBadges.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("js/facilitator/coordinators.js")" type="text/javascript"></script>
}