@import models.cm.brand.Badge
@(user: ActiveUser,
  brandId: Long,
  form: Form[Badge],
  badgeId: Option[Long] = None)(implicit flash: Flash,
        request: Request[Any],
        handler: be.objectify.deadbolt.scala.DeadboltHandler,
        token: play.filters.csrf.CSRF.Token,
        messages: Messages)

@import helper.CSRF
@import views.ViewHelpersV2._

@v2.main("Badge", "brand", user, withMelly = true) {
  <div class="b-form">
    <div class="container">
      <h1 class="b-form__title">
        @badgeId.map { _ => Edit Badge }.getOrElse { Add Badge }
      </h1>
    </div>

    @v2.html.form(action = badgeId.map { id =>
      CSRF(controllers.cm.brand.routes.Badges.update(brandId, id))
    }.getOrElse {
      CSRF(controllers.cm.brand.routes.Badges.create(brandId))
    }, 'enctype -> "multipart/form-data") {
      @v2.html.formBlock("") {
        @v2.html.text(form("name"), true, "Name")
        @v2.html.file(form("file"), '_label -> "Picture", '_required -> true)
      }
      @if(form.hasErrors) {
        @v2.html.formBlock("") {
          <div class="b-form__errors">
            @for(error <- form.errors) {
              @Messages(error.message)<br/>
            }
          </div>
        }
      }
      @v2.html.formBlock("") {
        <div class="b-form__buttons">
          <button class="btn btn-primary b-form__btn-submit" type="submit">
            Save
          </button>
          <a class="b-form__btn-cancel link-blue" href="javascript:history.back()">Cancel changes</a>
        </div>
      }
    }
  </div>
}