@import models.cm.brand.Badge
@(user: ActiveUser,
  brandId: Long,
  form: Form[Badge],
  badgeId: Option[Long] = None)(implicit flash: Flash,
        request: Request[Any],
        handler: be.objectify.deadbolt.scala.DeadboltHandler,
        token: play.filters.csrf.CSRF.Token,
        messages: Messages)

@import helper.CSRF
@import views.ViewHelpersV2._

@v2.main("Badge", "brand", user, withMelly = true) {
  <div class="form">
    @v2.html.block("") {
      @badgeId.map { _ => <h1>Edit Badge</h1> }.getOrElse { <h1>Add Badge</h1> }
    }
    @v2.html.form(action = badgeId.map { id =>
      CSRF(controllers.cm.brand.routes.Badges.update(brandId, id))
    }.getOrElse {
      CSRF(controllers.cm.brand.routes.Badges.create(brandId))
    }, 'enctype -> "multipart/form-data") {
      @v2.html.block("") {
        @v2.html.text(form("name"), true, "Name")
        @v2.html.file(form("file"), '_label -> "Picture", '_required -> true)
      }
      @if(form.hasErrors) {
        @v2.html.block("") {
          <div class="errors">
            @for(error <- form.errors) {
              @Messages(error.message)<br/>
            }
          </div>
        }
      }
      @v2.html.block("") {
        <div class="row">
          <div class="col-md-5">
            <button class="btn btn-primary btn-block btn-lg" type="submit">
              Save</button>
          </div>
          <div class="col-md-3 cancel">
            <a href="javascript:history.back()">Cancel changes</a></div>
        </div>
      }
    }
  </div>
}