@import models.cm.brand.EventType
@(user: ActiveUser,
  brand: Brand,
  form: Form[EventType])(implicit flash: Flash,
        request: Request[Any],
        handler: be.objectify.deadbolt.scala.DeadboltHandler,
        token: play.filters.csrf.CSRF.Token,
        messages: Messages)

@import helper.CSRF
@import views.ViewHelpersV2._

@v2.main("Event type", "brand", user, withMelly = true) {
    <div class="b-form">
        <div class="container">
            <h1 class="b-form__title">Add Event Type</h1>
        </div>
        @v2.html.form(action = CSRF(routes.EventTypes.create(brand.id.get))) {
            <input type="hidden" name="brandId" value="@brand.id.get"/>
            @v2.html.formBlock("") {
                @v2.html.text(form("name"), true, "Name")
                @v2.html.text(form("title"), true, "Default title", '_placeholder -> "Ex: Regular Management 3.0 event")
                @v2.html.number(form("maxHours"), true, "Maximum chargeable hours")
                @v2.html.checkbox(form("free"), '_label -> "Facilitators are able to create free events of this type")
            }
            @if(form.hasErrors) {
                @v2.html.formBlock("") {
                    <div class="b-form__errors">
                    @for(error <- form.errors) {
                        @Messages(error.message)<br/>
                    }
                    </div>
                }
            }
            @v2.html.formBlock("") {
                <div class="b-form__buttons">
                    <button class="btn btn-primary b-form__btn-submit" type="submit">
                        Save
                    </button>
                    <a class="b-form__btn-cancel link-blue" href="javascript:history.back()">Cancel changes</a>
                </div>
            }
        }
  </div>
}