body {
    background-image: url(../images/melly.png);
    background-repeat: no-repeat;
    background-position: left 41px;
}

.navbar-inverse .brand {
	color: #EE929F;
	}

.activity td {
    text-indent: -19px;
    padding-left: 19px;
}

h1 {
    margin-bottom: 1em;
}

/* Activity stream */

.icon-activity-signedup {
    background-position: -168px 0;
}
.icon-activity-created {
    background-position: -96px 0;
}
.icon-activity-updated {
    background-position: -96px -72px;
}
.icon-activity-deleted {
    background-position: -48px -96px;
}

/* Datatables */
table.dataTable tr.odd td.sorting_1 {
    background-color: #FBEBEE;
}
table.dataTable tr.even td.sorting_1 {
    background-color: #FBF2F3;
}
