@(user: securesocial.core.Identity,
  person: Person,
  organisations: List[Organisation],
  otherOrganisations: List[Organisation],
  contributions: List[ContributionView],
  products: List[Product],
  licenses: List[LicenseView],
  accountRole: Option[models.UserRole.Role.Role],
  otherUser: Option[UserAccount]
  )(implicit request: Request[Any], flash: Flash, handler: AuthorisationHandler, token: play.filters.csrf.CSRF.Token)

@import helper.CSRF
@import models.UserRole.Role._
@import templates.Formatters._
@import be.objectify.deadbolt.scala.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@roleInput(accountRole: Option[models.UserRole.Role.Role], inputRole: models.UserRole.Role.Role, label: String) = {
  <label class="radio">
    <input type="radio" name="role" value="@inputRole" @if(accountRole == Some(inputRole)) {checked}> @label
  </label>
}

@main(person.fullName + " - Person", Some(user)) {

  <div class="span8">
    <header>

    <h1>
        @person.photo.url.map { photo =>
            <img width="64" src="@photo"/>
        }
        @person.fullName

    </h1>
    <p><small>Added by @person.dateStamp.createdBy on @person.dateStamp.created.format <br> Updated by @person.dateStamp.updatedBy on @person.dateStamp.updated.format</small></p>
    @if(!person.active) {
      <p><span class="label label-warning">This person is deactivated</span></p>
    }
    </header>
  </div>

  <div class="span2 actions">
    @dynamic(handler, "person", "edit") {
      <form>
        <a class="btn-block btn" href="@routes.People.edit(person.id.get)"><i class="icon-pencil"></i> Edit</a>
        <div class="clearfix"></div>
      </form>
    }
    @restrict(handler, List(as(Editor.toString))) {
      <form method="post" action="@CSRF(routes.People.activation(person.id.getOrElse(0)))">
        <input name="active" value="@(!person.active)" type="hidden">
        @if(person.active) {
          <button class="btn btn-block btn-warning" type="submit"><i class="icon-off icon-white"></i> Deactivate</button>
        } else {
          <button class="btn btn-block btn-success" type="submit"><i class="icon-off icon-white"></i> Activate</button>
        }
      </form>
      <div class="clearfix"></div>
    }
    @dynamic(handler, "person", "delete") {
      <form class="delete" method="post" text="person" action="@CSRF(routes.People.delete(person.id.getOrElse(0)))">
        <button class="btn btn-danger btn-block" type="submit"
          @if(!person.deletable) { disabled="disabled" title="@Messages("error.notDeletablePerson")" }>
          <i class="icon-white icon-trash"></i> Delete
        </button>
      </form>
    }
  </div>

  <div class="span4">
    @* TODO Extract adress.scala.html template for use here and by organisation/details.scala.html *@
    <h3>Addresses</h3>
    <address>
      <strong>@person.fullName</strong><br>
      @person.address.street1.map { addressLine =>
        @addressLine<br>
      }
      @person.address.street2.map { addressLine =>
        @addressLine<br>
      }
      @person.address.postCode.map { addressLine =>
        @addressLine<br>
      }
      @person.address.city.map { addressLine =>
        @addressLine<br>
      }
      @person.address.province.map { addressLine =>
        @addressLine<br>
      }
      <img width="32" src="/assets/images/flags/32/@(person.address.countryCode.toLowerCase).png" align="baseline">
      @Messages("country." + person.address.countryCode)
    </address>

    <p><strong>E-mail address</strong>
    <br><a href="mailto:@person.emailAddress">@person.emailAddress</a></p>
  </div>

  <div class="span4">
    <h3>Personal details</h3>

    @person.socialProfile.twitterHandle.map { handle =>
      <p><strong>Twitter</strong>
      <br><a href="http://twitter.com/@handle">@@@handle</a></p>
    }

    @if(person.socialProfile.facebookUrl.isDefined || person.socialProfile.linkedInUrl.isDefined ||
      person.socialProfile.googlePlusUrl.isDefined) {
      <p><strong>Social networks</strong>

      @person.socialProfile.facebookUrl.map { url =>
        <br><a href="@url">Facebook</a>
      }

      @person.socialProfile.linkedInUrl.map { url =>
        <br><a href="@url">LinkedIn</a>
      }

      @person.socialProfile.googlePlusUrl.map { url =>
        <br><a href="@url">Google+</a>
      }
      </p>
    }

    @if(person.boardMember || person.stakeholder) {
      <p><strong>Happy Melly Roles</strong>
      @if(person.boardMember) { <br>Board member }
      @if(person.stakeholder) { <br>Stakeholder }
      </p>
    }

    @person.webSite.map { url =>
      <p><strong>Web site</strong>
      <br><a href="@url">@url</a></p>
    }

    @person.blog.map { url =>
      <p><strong>Blog</strong>
      <br><a href="@url">@url</a></p>
    }
  </div>

  @restrict(handler, List(as("admin"))) {
    <div class="span3">
      <h3>User role</h3>
      @otherUser.map { account =>
        <p>None (cannot log in)</p>
        <div class="alert alert-error">
          <p>
            You cannot add a role because <a href="@routes.People.details(account.personId)">another user</a>
            has the same Twitter handle, Facebook URL, Google+ URL or LinkedIn URL.
          </p>
        </div>
      }.getOrElse {
        @if(!person.canHaveUserAccount) {
          <p>None (cannot log in) - add a Twitter handle, Facebook URL, Google+ URL or LinkedIn URL to assign roles</p>
        } else {
          <form method="post" action="@CSRF(routes.UserAccounts.update)">
            <input type="hidden" name="personId" value="@person.id">
            <div class="control-group" id="role_field">
              <label class="radio">
                <input type="radio" name="role" value="" @if(accountRole.isEmpty) {checked}> None (cannot log in)
              </label>
              @roleInput(accountRole, models.UserRole.Role.Viewer, "Viewer (can view data)")
              @roleInput(accountRole, models.UserRole.Role.Editor, "Editor (can modify data)")
              @roleInput(accountRole, models.UserRole.Role.Admin, "Admin (can change user roles)")
            </div>

            <button class="btn" type="submit">Update Role</button>
          </form>
        }
      }
    </div>
  }

  <div class="span8">
    @person.bio.map { text =>
      <h3>Bio</h3>
      <p>@text.markdown</p>
    }

    @person.interests.map { text =>
      <h3>Interests</h3>
      <p>@text.markdown</p>
    }
  </div>

  <div class="span10">
    <ul class="nav nav-tabs" id="activities">
      <li class="active"><a href="#finance">Accounting details</a></li>
      <li><a href="#organizations">Organizations</a></li>
      <li><a href="#contributions">Product Contributions</a></li>
      <li><a href="#licenses">Licenses</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="finance">
        <p><strong>Financial account</strong><br>@if(person.account.active){Active}else{Inactive}
        @if(person.account.editableBy(user.asInstanceOf[LoginIdentity].userAccount)) {
            (<a href="@routes.Accounts.details(person.account.id.get)">@if(person.account.active){Deactivate}else{Activate}</a>)</p>
        }
        <p><strong>Account history</strong>
        <br><a href="@routes.Accounts.bookings(person.account.id.get)">Booking entries</a></p>
      </div>
      <div class="tab-pane" id="organizations">
        @if(organisations.isEmpty) {
          <p>@person.fullName has no organizations.</p>
        } else {
          @views.html.organisation.table(organisations) { organisation =>
            @restrict(handler, List(as(Editor.toString))) {
              <a href="@routes.People.deleteMembership("person", person.id.get, organisation.id.get)"><i class="icon-pencil"></i> Remove membership</a>
            }
          }
        }
        @restrict(handler, List(as(Editor.toString))) {
          <form class="form-inline" method="POST" action="@CSRF(routes.People.addMembership)">
            <p>
              <input type="hidden" name="page" value="person">
              <input type="hidden" name="personId" value="@person.id.get">
              <select name="organisationId">
                @for(organisation <- otherOrganisations) {
                  <option value="@organisation.id">@organisation.name</option>
                }
              </select>
              <button class="btn"><i class="icon-plus"></i>Add Membership</button>
            </p>
          </form>
        }
      </div>
      <div class="tab-pane" id="contributions">
        @if(contributions.isEmpty) {
          <p>@person.fullName has no contributions.</p>
        } else {
          <table  class="datatables table table-bordered">
            <thead>
              <th>Product</th>
              <th>Role</th>
              <th></th>
            </thead>
            <tbody>
              @for(contribution <- contributions) {
                <tr>
                  <td><a href="@routes.Products.details(contribution.product.id.getOrElse(0))">@contribution.product.title</a></td>
                  <td>@contribution.contribution.role</td>
                  <td>
                    @restrict(handler, List(as(Editor.toString))) {
                      <a href="@routes.Contributions.delete("person", contribution.contribution.id.get)">
                      <i class="icon-pencil"></i> Remove contribution</a>
                    }
                  </td>
                </tr>
              }
            </tbody>
          </table>
        }
        @restrict(handler, List(as(Editor.toString))) {
          <form class="form-inline" method="POST" action="@CSRF(routes.Contributions.create("person"))">
            <p>
              <input type="hidden" name="page" value="person">
              <input type="hidden" name="contributorId" value="@person.id.get">
              <input type="hidden" name="isPerson" value="true">
              <select name="productId">
                @for(product <- products) {
                  <option value="@product.id">@product.title</option>
                }
              </select>
              <input name="role" placeholder="Role">
              <button class="btn"><i class="icon-plus"></i>Add Contribution</button>
            </p>
          </form>
        }
      </div>
      <div class="tab-pane" id="licenses">
        <div class="span7">
          @if(licenses.isEmpty) {
            <p>@person.fullName has no licenses.</p>
          } else {
            @views.html.license.table(licenses)
          }
          @restrict(handler, List(as(Editor.toString))) {
            <p><a href="@routes.Licenses.add(person.id.getOrElse(0))" class="btn"><i class="icon-plus"></i>Add Content License</a></p>
          }
        </div>
        <div class="span2">
          <h4>Manage Signature</h4>
          @if(person.signature) {
            <p><i class="icon-file"></i> <a href="@routes.People.signature(person.id.getOrElse(0))">Signature</a></p>
          }
          <form action="@CSRF(routes.People.uploadSignature())"
            method="post" enctype="multipart/form-data">
            <input type="hidden" name="personId" value="@person.id"/>
            <input type="file" id="signature" name="signature"/>
            <button class="btn btn-primary btn-small" type="submit">
              @if(person.signature) { Replace File } else { Upload File } </button>
          </form>
          @if(person.signature) {
            <form method="post" action="@CSRF(routes.People.deleteSignature(person.id.getOrElse(0)))">
              <button class="btn btn-danger btn-small" type="submit">
                <i class="icon-trash icon-white"></i> Delete File</button>
            </form>
          }
        </div>
      </div>
    </div>
    <br/><br/>
  </div>

  <script src="@routes.Assets.at("person/details.js")" type="text/javascript"></script>
}
