@(user: UserIdentity,
    id: Option[Long],
    form: Form[Person])(implicit flash: Flash,
        request: Request[Any],
        handler: AuthorisationHandler,
        token: play.filters.csrf.CSRF.Token)

    @import helper.CSRF
    @import views.Countries
    @import views.ViewHelpers._

    @defining(form.value.map(person => "Person %s %s".format(person.firstName, person.lastName)).getOrElse("Add person")) { personName =>
        @main("Person", "people", user) {
            @if(form.hasErrors) {
                @html.error()
            }

            <div class="col-md-6">
                <div class="page-header">
                    <h1>@personName</h1>
                </div>
                @html.form(action = CSRF(id.map(id => routes.People.update(id)).getOrElse(routes.People.create()))) {
                    @forms.person(form)

                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                            <button class="btn btn-primary btn-block pull-right" type="submit">Save</button>
                        </div>
                    </div>
                }
            </div>
        }
    }
