@(user: LoginIdentity, people: List[PersonSummary])(implicit request: Request[Any], flash: Flash, handler: AuthorisationHandler)
@import models.UserRole.Role._
@import be.objectify.deadbolt.scala.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@main("People", "people", Some(user)) {

  @html.indexPageHeader("People") {
    @restrict(handler, List(as(Editor.toString))) {
      <a class="btn btn-success pull-right" href="@routes.People.add()">
      <i class="glyphicon glyphicon-plus glyphicon-white"></i> Add Person</a>
    }
  }

  <div class="col-md-12">
    @if(people.isEmpty) {
      <p>There are no people</p>
    } else {
      @table(people) { person =>
        @restrict(handler, List(as(Editor.toString))) {
          <a href="@routes.People.edit(person.id)"><i class="glyphicon glyphicon-pencil"></i> Edit</a>
        }
      }
    }
  </div>

	<script src="@routes.Assets.at("index.js")" type="text/javascript"></script>
}
