@(user: securesocial.core.Identity, people: List[PersonSummary])(implicit request: Request[Any], flash: Flash, handler: AuthorisationHandler)
@import models.UserRole.Role._
@import be.objectify.deadbolt.scala.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@main("People", Some(user)) {

  <div class="col-md-5">
    <h1>People</h1>
  </div>
  @restrict(handler, List(as(Editor.toString))) {
    <div class="col-md-3">
      <a class="btn btn-success" href="@routes.People.add()">
      <i class="icon-plus icon-white"></i>Add Person</a>
    </div>
  }

  <div class="col-md-10">
    @if(people.isEmpty) {
      <p>There are no people</p>
    } else {
      @table(people) { person =>
        @restrict(handler, List(as(Editor.toString))) {
          <a href="@routes.People.edit(person.id)"><i class="icon-pencil"></i> Edit</a>
        }
      }
    }
  </div>

	<script src="@routes.Assets.at("index.js")" type="text/javascript"></script>
}
