@(personId: Long,
  gravatarUrl: String,
  customUrl: String,
  active: String)(implicit request: Request[Any],
  handler: AuthorisationHandler)

<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4>Update profile photo</h4>
  </div>
  <div class="modal-body photo-selector">
    <div class="row">
      <div class="col-md-6" id="gravatar">
        <img height="200" class="img-rounded photo @if(active=="gravatar"){active}"
          src="@gravatarUrl"/>
      </div>
      <div class="col-md-6" id="custom">
        @if(active == "custom") {
          <img width="200" class="img-rounded active photo" id="customPhoto"
            src="@customUrl"/>
        } else {
          <img width="200" class="img-rounded" id="customPhoto"
            src="@routes.Assets.at("images/happymelly-face-white.png")"/>
        }
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 photo-description">
        <p class="text-uppercase"><strong>Gravatar<p class="text-uppercase"></strong><p>
        <p class="text-justify text-muted" style="margin: 10px 40px 10px 40px;"><a href="http://gravatar.com" target="_blank">Gravatar</a> is a service
        to store your identity assigned to your email address. It's used by
        many websites.</p>
      </div>
      <div class="col-md-6 photo-description">
        <p class="text-uppercase"><strong>Custom<p class="text-uppercase"></strong><p>
        <div class="form-group col-md-10 col-md-offset-1">
          <input type="file" id="photoUpload" class="form-control input-sm" name="photo"
            data-url="@routes.ProfilePhotos.upload(personId)"/>
        </div>
        <button class="btn btn-primary btn-sm" id="btnPhotoUpload">Upload</button>
        <button class="btn btn-danger btn-sm" id="btnPhotoDelete"
          data-href="@routes.ProfilePhotos.delete(personId)">
          <i class="glyphicon glyphicon-trash glyphicon-white"></i> Delete</button>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <a id="saveLink" class="btn btn-danger" href="#">Save</a>
  </div>
</div>
