@(people: List[Person])(actions: (Person) => Html)

@if(!people.isEmpty) {

  <table id="people" class="datatables table table-bordered">
  <thead>
    <tr>
      <th>First Name</th>
      <th class="sorting_asc">Last Name</th>
      <th>Country</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for(person <- people) {
      <tr @if(!person.active) { class="inactive" title="deactivated" })>
        <td><a href="@routes.People.details(person.id.getOrElse(0))">@person.firstName</a></td>
        <td><a href="@routes.People.details(person.id.getOrElse(0))">@person.lastName</a></td>
        <td>
          <img width="16" src="/assets/images/flags/16/@(person.address.countryCode.toLowerCase).png" align="absmiddle">
          @Messages("country." + person.address.countryCode)
        </td>
        <td>@actions(person)</td>
      </tr>
    }
  </tbody>
  </table>
}
