@(url: String, org: Boolean)(implicit request: Request[Any], flash: Flash)

@v2.layout.unauthorized("Congratulations") {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/registration.css")">
    <div class="registration-menu">
        <span>Join Happy Melly</span>
        <span>Create account</span>
        <span>Personal Data</span>
        <span>Organisation Data</span>
        <span>Payment</span>
        <span>Congratulations</span>
        <span><a class="stop-registration" href="@core.routes.LoginPage.logout()">Back to login</a></span>
    </div>
    <div class="action-block registration">
        <h3>Congratulations!</h3>
        <div class="congratulation">
            <div class="col-md-4">
                <img src="@routes.Assets.at("images/HM-character.png")" height="395px"/>
            </div>
            <div class="col-md-offset-1 col-md-7 right-column">
                <p>You joined the international business
                    network of awesome people and organizations helping others to be happy
                    at work. YOU ROCK!</p>
                <p>Check your mailbox! Your welcome email is already waiting for you with
                    more advice on how to enjoy
                    being a member of <a href="http://happymelly.com" target="_blank">Happy Melly</a>.
                </p>
                <a class="btn btn-primary action-button" href="@(url)#membership">Go to your profile</a>
            </div>
        </div>
    </div>
}
