@(form: Form[PaymentData],
    person: Person,
    apiKey: String,
    fee: (Int, Int, Int),
    org: Option[Organisation] = None)(implicit request: Request[Any],
        handler: be.objectify.deadbolt.scala.DeadboltHandler,
        flash: Flash,
        messages: Messages)

@v2.layout.unauthorized("Add Organisation Data") {

    <div class="b-authmenu">
        <span class="b-authmenu__i">Join Happy Melly</span>
        <span class="b-authmenu__i">Create account</span>
        <span class="b-authmenu__i">Personal Data</span>
        <span class="b-authmenu__i">Organisation Data</span>
        <span class="b-authmenu__i">Payment</span>
        <span class="b-authmenu__i state_inactive">Congratulations</span>
        <span class="b-authmenu__back"><a class="link-blue" href="@controllers.core.routes.LoginPage.logout()">Back to login</a></span>
    </div>
    <div class="b-unauth__content">
        <h3 class="b-unauth__title">Make Payment</h3>

        @views.html.v2.element.payment(form, person, apiKey, fee, org)
        <div class="row payment-info">
            <div class="col-md-2">
                <img src="@routes.Assets.at("images/RapidSSL_SEAL-90x50.gif")"/>
            </div>
            <div class="col-md-10 text-left">
                <p class="text-muted">Happy Melly does not store your card details. All payments are securily
                    processed by <a href="http://stripe.com" target="_blank">Stripe, Inc.</a>
                </p>
                <p class="text-muted">
                    The information transfer is secured and verified by SSL 128 bit certificate
                    issued by RapidSSL. Web site fully satisfies the security standards of
                    Visa and Mastercard (PCI compliancy).
                </p>
            </div>
        </div>
    </div>
}
