@(user: ActiveUser,
    form: Form[OrgData])(implicit request: Request[Any], flash: Flash, messages: Messages)

@import helper.CSRF
@import views.Countries
@import views.ViewHelpersV2._

@v2.layout.unauthorized("Add Organisation Data") {

    <div class="b-authmenu">
        <span class="b-authmenu__i">Join Happy Melly</span>
        <span class="b-authmenu__i">Create account</span>
        <span class="b-authmenu__i">Personal Data</span>
        <span class="b-authmenu__i">Organisation Data</span>
        <span class="b-authmenu__i state_inactive">Payment</span>
        <span class="b-authmenu__i state_inactive">Congratulations</span>
        <span class="b-authmenu__back"><a class="link-blue" href="@controllers.core.routes.LoginPage.logout()">Back to login</a></span>
    </div>
    <div class="b-unauth__content">
        <h3 class="b-unauth__title">Add Organisation Data</h3>
        <div class="col-md-11 col-md-offset-1">
        @v2.html.form(action = CSRF(routes.Registration.saveOrg())) {
            @v2.html.text(form("name"), '_label -> "Name", '_help -> "")(narrow, messages)
            @v2.html.select(form("country"), ("", "Choose a country") :: Countries.all, '_label -> "Country",
                '_help -> "")(narrow, messages)

            <div class="form-group">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <button class="btn btn-primary btn-block" type="submit">Make a Payment</button>
                </div>
            </div>
        }
        </div>
    </div>

}
