@(user: ActiveUser,
    form: Form[OrgData])(implicit request: Request[Any], flash: Flash, messages: Messages)

@import helper.CSRF
@import views.Countries
@import views.ViewHelpersV2._

@v2.layout.unauthorized("Add Organisation Data") {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/registration.css")">
    <div class="registration-menu">
        <span>Join Happy Melly</span>
        <span>Create account</span>
        <span>Personal Data</span>
        <span>Organisation Data</span>
        <span class="inactive">Payment</span>
        <span class="inactive">Congratulations</span>
        <span><a class="stop-registration" href="@core.routes.LoginPage.logout()">Back to login</a></span>
    </div>
    <div class="action-block registration">
        <h3>Add Organisation Data</h3>
        <div class="action-area col-md-11 col-md-offset-1">
        @v2.html.form(action = CSRF(routes.Registration.saveOrg())) {
            @v2.html.text(form("name"), '_label -> "Name", '_help -> "")(narrow, messages)
            @v2.html.select(form("country"), ("", "Choose a country") :: Countries.all, '_label -> "Country",
                '_help -> "")(narrow, messages)

            <div class="form-group">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <button class="btn btn-primary btn-block" type="submit">Make a Payment</button>
                </div>
            </div>
        }
        </div>
    </div>
    <div>
        <a href="@core.routes.LoginPage.logout()">Back to login</a>
    </div>
}
