@()(implicit request: Request[Any], flash: Flash)

@v2.layout.unauthorized("Welcome") {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/payment.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/registration.min.css")">
    <script type="text/javascript" src="@routes.Assets.at("membership/welcome.js")"></script>
    <div class="registration-menu">
        <span>Join Happy Melly</span>
        <span class="inactive">Create account</span>
        <span class="inactive">Personal Data</span>
        <span class="inactive">Organisation Data</span>
        <span class="inactive">Payment</span>
        <span class="inactive">Congratulations</span>
        <span><a class="stop-registration" href="@routes.LoginPage.logout()">Back to login</a></span>
    </div>
    <div class="action-block registration welcome">
        <h3>Join Happy Melly network</h3>
        <div class="action-area text-left">
            <p>If you value the purpose of Happy Melly (pursuing happy work-lives)
                then you can now join us as a Supporter. This means you <b>help us
                promote happiness in work</b>. You can then proudly wear the Happy
                Melly badge on your blog or website, and you can say you are
                <em>officially</em> a member of the network. Oh, and you will enjoy
                some benefits too, such as exclusive access to people, content and events.</p>
            <p>But who cares about benefits!? This is not about <em>what's-in-it-for-me</em>,
                it's about <em>what's-in-it-for-them</em>! Your support is going to
                help us sponsor the best events, produce the best books, and offer
                the best content, for all those unhappy Mellys who still hate their jobs.</p>
            <div class="selector">
                <div class="radio">
                    <label>
                        <input type="radio" name="supporterType" id="optionsRadios1" value="person" checked>
                        I want to be a Supporter
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="supporterType" id="optionsRadios2" value="org">
                        My organization wants to be a Supporter
                    </label>
                </div>
            </div>
        </div>

        <div class="button-line text-center">
            <a href="@routes.Registration.step1(false)" class="btn btn-primary" id="registrationButton">
                Continue with Sign Up
            </a>
        </div>
    </div>
}