@()(implicit request: Request[Any], flash: Flash)

@v2.layout.unauthorized("Welcome") {
    <script type="text/javascript" src="@routes.Assets.at("js/membership/welcome.js")"></script>

    <div class="b-authmenu">
        <span class="b-authmenu__i">Join Happy Melly</span>
        <span class="b-authmenu__i state_inactive">Create account</span>
        <span class="b-authmenu__i state_inactive">Personal Data</span>
        <span class="b-authmenu__i state_inactive">Organisation Data</span>
        <span class="b-authmenu__i state_inactive">Payment</span>
        <span class="b-authmenu__i state_inactive">Congratulations</span>
        <span class="b-authmenu__back"><a class="link-blue" href="@controllers.core.routes.LoginPage.logout()">Back to login</a></span>
    </div>
    <div class="b-unauth__content b-authwelcome">
        <h3 class="b-unauth__title">Join the Happy Melly network</h3>
        <div class="b-authwelcome__content">
            @views.html.v2.element.supporter()

            <div class="b-authwelcome__selector">
                <div class="radio">
                    <label>
                        <input type="radio" name="supporterType" id="optionsRadios1" value="person" checked>
                        I want to be a Supporter
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="supporterType" id="optionsRadios2" value="org">
                        My organization wants to be a Supporter
                    </label>
                </div>
            </div>
        </div>

        <div class="b-authwelcome__buttons">
            <a href="@routes.Registration.step1(false)" class="btn btn-primary" id="registrationButton">
                Continue with Sign Up
            </a>
        </div>
    </div>
}