@()(implicit request: Request[Any], flash: Flash)

@v2.layout.unauthorized("Welcome") {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/payment.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/registration.css")">
    <script type="text/javascript" src="@routes.Assets.at("js/membership/welcome.js")"></script>
    <div class="registration-menu">
        <span>Join Happy Melly</span>
        <span class="inactive">Create account</span>
        <span class="inactive">Personal Data</span>
        <span class="inactive">Organisation Data</span>
        <span class="inactive">Payment</span>
        <span class="inactive">Congratulations</span>
        <span><a class="stop-registration" href="@core.routes.LoginPage.logout()">Back to login</a></span>
    </div>
    <div class="action-block registration welcome">
        <h3>Join the Happy Melly network</h3>
        <div class="action-area text-left">
            @views.html.v2.element.supporter()
            <div class="selector">
                <div class="radio">
                    <label>
                        <input type="radio" name="supporterType" id="optionsRadios1" value="person" checked>
                        I want to be a Supporter
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="supporterType" id="optionsRadios2" value="org">
                        My organization wants to be a Supporter
                    </label>
                </div>
            </div>
        </div>

        <div class="button-line text-center">
            <a href="@routes.Registration.step1(false)" class="btn btn-primary" id="registrationButton">
                Continue with Sign Up
            </a>
        </div>
    </div>
}