@(member: Member)(implicit request: Request[Any],
    handler: AuthorisationHandler,
    token: play.filters.csrf.CSRF.Token)

@import helper.CSRF

<div class="block">
  <h3>Administration</h3>
  <a class="btn btn-primary" href="@routes.Members.edit(member.id.get)">
    Edit Membership</a>
  <a class="btn btn-default" href="#" data-toggle="modal"
    data-target="#deleteMembership">Delete Membership</a>
  <div class="modal fade" id="deleteMembership" tabindex="-1" role="dialog"
    aria-labelledby="feeModal" aria-hidden="true">
    @v2.html.postDialog("deleteMembership",
      "Delete Membership",
      CSRF(routes.Members.delete(member.id.get)),
      "Delete") {
        <p><b>Attention:</b> you cannot undo this action.</p>
        <p>All payment records will be kept and restored as soon as this
          person / organisation becomes a member again.</p>
    }
  </div>
</div>