@(member: Member)(implicit request: Request[Any])

<div id="badgeCodeDialog" class="modal fade b-modal" tabindex="-1" role="dialog" aria-hidden="true">
  @v2.html.alert("updateReason", "Copy the code") {
    <textarea class="form-control" cols="30" rows="5" id="badge-code" data-src="http://tiny.cc/hm_"><a href="http://happymelly.com/members#@member.id.get" target="_blank"><img src="http://tiny.cc/hm_pink"/></a></textarea>
  }
</div>

<div class="block">
  <script src="@routes.Assets.at("js/element/badge.js")" type="text/javascript"></script>
  <h4>Badge</h4>
  <p class="text-muted"><i>Pick the color and put this badge on your page</i></p>
  <br/>
  <div class="row">
    <div class="col-md-4">
      <div class="badge-selector" id="badge-selector">
        <div class="item selected">
            <a href="#" data-value="pink">
            <img src="@routes.Assets.at("images/badges/pink.png")" width="35px"/>
            Pink
          </a>
        </div>
        <div class="item">
          <a href="#" data-value="yellow">
            <img src="@routes.Assets.at("images/badges/yellow.png")" width="35px"/>
            Yellow
          </a>
        </div>
        <div class="item">
          <a href="#" data-value="grey">
            <img src="@routes.Assets.at("images/badges/grey.png")" width="35px"/>
            Grey
          </a>
        </div>
        <div class="item">
          <a href="#" data-value="green">
            <img src="@routes.Assets.at("images/badges/green.png")" width="35px"/>
            Green
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-5 text-center">
      <img width="180px" data-src="@routes.Assets.at("images/badges/")"
        id="badge-picture" src="@routes.Assets.at("images/badges/pink.png")"/>
      <br/>
      <a href="#" data-toggle="modal" data-target="#badgeCodeDialog">Get the code</a>
    </div>
  </div>
</div>