@(activeBrand: Brand,
    brands: List[Brand],
    tab: String = "",
    small: Boolean = false,
    facilitator: Boolean = false)(content: Html)

    <div class="b-brandhead">
      <div class="container h-rel">
        <div class="b-brandhead__links">
          @if(tab == "events") {
            <span class="b-brandhead__i">Events</span>
          } else {
            <a class="link-blue b-brandhead__i" href="@controllers.cm.routes.Events.index(activeBrand.identifier)">Events</a>
          }
          @if(tab == "attendees") {
            <span class="b-brandhead__i">Attendees</span>
          } else {
            <a class="link-blue b-brandhead__i"
                href="@controllers.cm.event.routes.Attendees.index(activeBrand.identifier).url">Attendees</a>
          }
          @if(tab == "statistics") {
            <span class="b-brandhead__i">Statistics</span>
          } else {
            <a class="link-blue b-brandhead__i"
                href="@controllers.cm.routes.Statistics.index(activeBrand.identifier).url">Statistics</a>
          }
          @if(tab == "facilitators") {
            <span class="b-brandhead__i">Facilitators</span>
          } else {
            <a class="link-blue b-brandhead__i" href="@controllers.cm.routes.Facilitators.index(activeBrand.identifier)">Facilitators</a>
          }
          @if(!facilitator) {
            @if(tab == "requests") {
              <span class="b-brandhead__i">Requests</span>
            } else {
              <a class="link-blue b-brandhead__i" href="@controllers.cm.routes.EventRequests.index(activeBrand.identifier)">Requests</a>
            }
            <a class="link-blue b-brandhead__i" href="@routes.Brands.details(activeBrand.identifier).url">
              Settings
            </a>
          }
        </div>

        <a class="b-brandhead__img-con" href="@controllers.core.routes.Dashboard.overview(activeBrand.identifier)">
            @activeBrand.picture.map { picture =>
              <img class="b-brandhead__img" src="@Brands.pictureUrl(activeBrand)" />
            }.getOrElse {
              <img class="b-brandhead__img" src="@routes.Assets.at("images/happymelly-face-white.png")"/>
            }
        </a>

        <div class="b-brandhead__content">
          <div class="b-brandhead__title">
              @activeBrand.name
              @v2.element.brandSwitcher(Some(activeBrand), brands, facilitator)
          </div>
          <div class="b-brandhead__button @if(small) { small }">
              @content
          </div>
        </div>
      </div>
  </div>
