@(activeBrand: Brand,
    brands: List[Brand],
    tab: String = "",
    small: Boolean = false)(content: Html)

<div class="row brand-header">
  @if(brands.length > 1) {
    <div class="brand-menu">
      <div class="container">
        @for(brand <- brands) {
          @if(brand.identifier == activeBrand.identifier) {
            <span>@brand.name</span>
          } else {
            <span><a href="@routes.Dashboard.overview(brand.identifier)">@brand.name</a></span>
          }
        }
      </div>
    </div>
  }
  <div class="brand-header-content">
    <div class="container">
      <div class="brand-image">
        <a href="@routes.Dashboard.overview(activeBrand.identifier)">
          @activeBrand.picture.map { picture =>
            <img class="img-rounded" @if(small) {width="80"} else {width="120"} src="@routes.Brands.picture(activeBrand.code)"/>
          }.getOrElse {
            <img class="img-rounded" @if(small) {width="80"} else {width="120"} src="@routes.Assets.at("images/happymelly-face-white.png")"/>
          }
        </a>
      </div>
      <div class="brand-name">
        <h2>@activeBrand.name</h2>
        <div class="buttons @if(small) { small }">
          @content
        </div>
      </div>
      <div class="brand-links text-right">
        @if(tab == "events") { <span>Events</span> } else {
          <span><a href="@routes.Events.index(activeBrand.identifier)">Events</a></span>
        }
        @if(tab == "participants") { <span>Participants</span> } else {
          <span><a href="@routes.Participants.index(activeBrand.identifier).url">Participants</a></span>
        }
        @if(tab == "statistics") { <span>Statistics</span> } else {
          <span><a href="@routes.Statistics.index(activeBrand.identifier).url">Statistics</a></span>
        }
        <span><a href="@routes.Brands.details(activeBrand.identifier).url">Settings</a></span>
      </div>
    </div>
  </div>
</div>