@(activeBrand: Option[Brand],
    brands: List[Brand],
    withAllBrands: Boolean = false)

@if(brands.length > 1) {
  <div class="b-brandmenu">
    <i class="b-brandmenu__icon" data-toggle="dropdown"></i>
    <div class="b-brandmenu__popup dropdown-menu">
      @if(withAllBrands) {
        @if(activeBrand.nonEmpty) {
          <a class="b-brandmenu__i" href="@controllers.core.routes.Dashboard.index()">All brands</a>
        } else {
          <div class="b-brandmenu__i state-selected">All brands</div>
        }
      }
      @for(brand <- brands) {
        <div class="b-brandmenu__i state-selected">@brand.name</div>
      }
    </div>
  </div>
}