@(objectType: String,
  contributions: List[ContributionView])(implicit request: Request[Any],
    handler: be.objectify.deadbolt.scala.DeadboltHandler,
    token: play.filters.csrf.CSRF.Token)

@import be.objectify.deadbolt.scala.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import models.UserRole.Role._

<h4>Contributions</h4>
@if(contributions.nonEmpty) {
  <table  class="table">
    <thead>
      <th>Product</th>
      <th>Role</th>
      @restrict(handler, List(as(Admin.toString))) {
        <th></th>
      }
    </thead>
    <tbody>
    @for(contribution <- contributions) {
      <tr>
        <td><a href="@community.routes.Products.details(contribution.product.id.getOrElse(0))">@contribution.product.title</a></td>
        <td>@contribution.contribution.role</td>
        <td>
        @restrict(handler, List(as(Admin.toString))) {
          <a href="@routes.Contributions.delete(contribution.contribution.id.get, objectType)" class="font-sm">
            Remove contribution</a>
        }
        </td>
      </tr>
    }
    </tbody>
  </table>
}
<div>
  Visit <a href="@community.routes.Products.index()">Products</a> page to find a list of
    products you can contribute to.
</div>