@()

<div class="b-notiflist @if(true){ b-notiflist_have_notification } js-notification-list">
    <div class="b-notiflist__back" data-notif-close></div>
    <a href="#" class="b-notiflist__link" data-notif-show><span class="count">5</span><i class="fa fa-bell"></i></a>
    <div class="b-notiflist__popup">
        <a href="#" class="b-notiflist__close" data-notif-close></a>
        <div class="b-notiflist__title">
            <span class="notif-title">
                Notifications
            </span>
            <span class="notif-count">
                <span data-notif-count>5</span> new notificatoins
            </span>
        </div>
        <div class="b-notiflist__list">
            <div class="b-notiflist__list-inner" data-notif-list>
                @views.html.v2.element.notificationListItems()
            </div>
            <div class="b-notiflist__load-more" data-notif-load>
                Load previous notificatons
            </div>
        </div>
    </div>
</div>
