@()

<div class="b-notiflist js-notification-list">
    <a href="#" class="b-notiflist__link" data-notiflist-show >
        <span class="count" data-notiflist-count>0</span><i class="fa fa-bell"></i>
    </a>

    <div class="b-notiflist__popup">
        <a href="#" class="b-notiflist__close" data-notiflist-close></a>
        <div class="b-notiflist__title">
            <span class="notif-title">
                Notifications
            </span>
            <span class="notif-count">
                <span data-notiflist-count>0</span> new notificatoins
            </span>
        </div>
        <div class="b-notiflist__list">
            <div class="b-notiflist__list-inner" data-notiflist-list></div>
            <div class="b-notiflist__load-more" data-notiflist-load>
                Load previous notificatons
            </div>

            <div class="b-notiflist__empty">
                <span class="b-notiflist__empty-title">You don't have notifications yet.</span>
                Don't worry, we will notify when you have some :)
            </div>
        </div>
    </div>
</div>