<div class="b-notiflist-i">
    <div class="b-notiflist-i__img" style="background-image: url() ;"></div>
    <div class="b-notiflist-i__con">
        <div class="b-notiflist-i__con-inner">
            <a href="#" class="link-mblue">Anastesia Sronge</a> <br>
            Joind us as a new facilitator
        </div>
    </div>
</div>
<div class="b-notiflist-i">
    <div class="b-notiflist-i__img" style="background-image: url() ;"></div>
    <div class="b-notiflist-i__con">
        <div class="b-notiflist-i__con-inner">
            <a href="#" class="link-mblue">Anastesia Sronge</a> got the badge <br>
            <i class="b-notiflist-i__badge" style="background-image: url() ;"></i>
            Active member
        </div>
    </div>
</div>
<div class="b-notiflist-i">
    <div class="b-notiflist-i__img" style="background-image: url() ;"></div>
    <div class="b-notiflist-i__con">
        <div class="b-notiflist-i__con-inner">
            <b>Congratulations!</b> <br>
            You've got "Active member" badge
        </div>
    </div>
</div>