@(form: Form[community.PaymentData],
    person: Person,
    apiKey: String,
    fee: (Int, Int, Int),
    org: Option[Organisation] = None)(implicit request: Request[Any],
        handler: be.objectify.deadbolt.scala.DeadboltHandler,
        flash: Flash,
        messages: Messages)

@import models.core.payment.Payment
@import views.Countries

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script src="@routes.Assets.at("javascripts/jquery.payment.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("js/membership/payment.js")" type="text/javascript"></script>
<script type="text/javascript">
  // This identifies your website in the createToken call below
  Stripe.setPublishableKey("@apiKey");
</script>

  <div class="b-payment">
    <div class="b-payment__text">
      To be a Happy Melly Supporter, all you need is to do is pay a small annual membership contribution.
      The minimum contribution amount depends on the country you live in.
    </div>

    <form class="b-payment__form "
      action="@person.id.map { id => @community.routes.Membership.charge() }.getOrElse {
          @routes.Registration.charge() }"
      method="POST" id="payment-form" autocomplete="on">
      <span class="b-payment__errors"></span>
      @org.map { organisation =>
        <input type="hidden" name="orgId" value="@organisation.id.getOrElse(0)"/>
      }
      <div>
        <div class="b-feestrip">
            <div class="b-feestrip__col">
                <h4 class="b-feestrip__title">Set you one year subscription fee</h4>
                <div class="input-group">
                    <label class="input-group-addon">€</label>
                    @defining(if (form("fee").value.isEmpty) { fee._2 } else { form("fee").value }) { amount =>
                        <input class="form-control b-feestrip__input" name="@form("fee").name" id="@form("fee").id"
                        type="number" min="@fee._1"
                        step="1" value="@amount" data-tax="@Payment.TAX_PERCENT_AMOUNT">
                    }
                </div>
                @if(form("fee").hasErrors) {
                    <span class="help-block">
                    @for(error <- form("fee").errors) {
                        @Messages(error.message, error.args: _*)
                    }
                    </span>
                }
            </div>
            <div class="b-feestrip__col">
                @org.map { organisation =>
                <p>@organisation.name is from @Countries.all.toMap.get(organisation.countryCode).
                    For this country a Token contribution is <b>&#8364;@fee._1</b>,
                    a Generous contribution is <b>&#8364;@fee._2</b>
                    and a Big hearted contribution is <b>&#8364;@fee._3</b>.
                </p>
                }.getOrElse {
                    <p>You are from @Countries.all.toMap.get(person.address.countryCode).
                        For your country Token contribution is <b>&#8364;@fee._1</b>,
                        Generous contribution is <b>&#8364;@fee._2</b>
                        and Big hearted contribution is <b>&#8364;@fee._3</b>.
                    </p>
                }
                <p><a href="#" class="link-mblue" data-toggle="modal" data-target="#hmfees">Learn about Happy Melly membership contributions</a></p>
            </div>
        </div>
      </div>
        @views.html.v2.element.card()

        <div class="b-card__buttons">
            Subscription fee &euro;<span id="amount">30</span>
            plus @(Payment.TAX_PERCENT_AMOUNT.toInt)% tax &euro; <span id="tax">0.00</span>

            <div>
                <button type="submit" class="btn btn-primary b-card__submit">Pay &euro;<span>0.00</span></button>
            </div>
        </div>
    </form>
  </div>

<div class="modal fade dlg-hmfees" id="hmfees" tabindex="-1" role="dialog" aria-labelledby="feeModal" aria-hidden="true">
    @views.html.v2.element.fees()
</div>


