<div class="b-payinfo">
    <img src="@routes.Assets.at("images/RapidSSL_SEAL-90x50.gif")" alt="" class="b-payinfo__img">
    <div class="b-payinfo__text">
        <p class="text-muted">Happy Melly does not store your card details. All payments are securily
            processed by <a class="link-mblue" href="http://stripe.com" target="_blank">Stripe, Inc.</a>
                </p>
        <p class="text-muted">
                    The information transfer is secured and verified by SSL 128 bit certificate
            issued by RapidSSL. Web site fully satisfies the security standards of
            Visa and Mastercard (PCI compliancy).
        </p>
    </div>
</div>