<p>Love Happy Melly? Want to share its purpose? Any individual or organization can apply to become a supporter of
    Happy Melly and work with us to help people be happier in their jobs.</p>
<p>Supporters enjoy a number of benefits provided by the network. Hopefully you’ve just read those on
    <a href="http://happymelly.com/benefits">the Happy Melly website</a> and you’re convinced our network is for you.</p>

<p>Our supporters pay a token annual contribution. The minimum is based on your country of residence and its GDP/Capita Value.
    Example: if you live in a Top 10 Country you’ll contribute a minimum of €25 to join. If you live in a country
    outside of the Top 100 the minimum contribution will be just €5. That’s all!</p>
<p>You can increase your contribution and we’ll love you for it! But remember: Every member gets the same access,
    regardless of the size of their contribution.</p>

<p>Payment is by credit card only. </p>
