@(user: ActiveUser,
  id: Option[Long],
  brands: List[Brand],
  emptyForm: Boolean,
  form: Form[EventView])(implicit request: Request[Any],
    flash: Flash,
    handler: AuthorisationHandler,
    token: play.filters.csrf.CSRF.Token)

@import helper.CSRF
@import views.Countries
@import views.Languages
@import views.ViewHelpersV2._

@defining(id.map(view => "Edit Event").getOrElse("Add event")) { title =>
  @v2.main("Events", "events", user, withMelly = true) {
    <div class="form">
      @v2.html.block("") { <h1>@title</h1> }
      <div id="emptyForm" value="@emptyForm"></div>
      @v2.html.form(action = CSRF(id.map(id => routes.Events.update(id)).getOrElse(routes.Events.create()))) {
        @if(user.account.isFacilitatorNow) {
          <div id="currentUserId" value="@user.person.id.get"></div>
        }
        <div id="currentEventTypeId" value="@form("eventTypeId").value"></div>
        <div id="currentInvoiceToId" value="@form("invoice").value"></div>
        @v2.html.block("General") {
          @v2.html.select(form("brandId"), brands.map(v => v.id.get.toString -> v.name),
            '_label -> "Brand", '_help -> "", '_required -> true)
          @v2.html.twoInRow(form("eventTypeId"),
            html.select(form("eventTypeId"), Seq(("", "Choose event type")))(asIs, implicitly[Lang]),
            form("title"),
            html.text(form("title"), '_label -> "", '_placeholder -> "Title")(asIs, implicitly[Lang]),
            "Type & Title", help = ""
          )
          <div id="facilitatorIds_field" class="form-group @if(form.error("facilitatorIds").isDefined) {has-error} ">
            <label for="facilitatorIds" class="control-label col-sm-2">
              Facilitators</label>
            <div class="col-md-7">
              <div class="input col-xs-5 padding-fix">
                <select id="facilitatorIds" class="form-control"></select>
              </div>
              <div id="chosenFacilitators" class="col-xs-7 padding-fix last"
              value="@helper.repeat(form("facilitatorIds"), min = 0) { f =>@f.value,}">
              </div>
            </div>
            <div class="col-md-3 field-type"><span>required</span></div>
            <div id="no_org_warning" class="col-md-7 col-md-offset-2 help"></div>
          </div>
        }
        @v2.html.block("Languages & Location", Some("grey")) {
          @v2.html.twoInRow(form("language.spoken"),
            html.select(form("language.spoken"), ("", "Choose a language") +: Languages.all.toList.sortBy(_._2))(asIs, implicitly[Lang]),
            form("language.secondSpoken"),
            html.select(form("language.secondSpoken"), ("", "Choose a language") +: Languages.all.toList.sortBy(_._2))(asIs, implicitly[Lang]),
            "Event in", help = "First language is required, second one is optional. Ex: English / Norwegian"
          )
          @v2.html.select(form("language.materials"), ("", "Choose a language") +: Languages.all.toList.sortBy(_._2),
            '_label -> "Materials in", '_help -> "")
          @v2.html.twoInRow(form("location.country"),
            views.html.v2.event.countries(form("location.country"), Countries.all)(asIs, implicitly[Lang]),
            form("location.city"),
            html.text(form("location.city"))(asIs, implicitly[Lang]),
            "Country & City", help = ""
          )
        }
        @v2.html.block("Description", Some("yellow")) {
          @v2.html.textarea(form("details.description"), '_label -> "Description",
            'rows -> 3,'markdownpreview -> "", '_type -> views.html.element.markdownHelp())
          @v2.html.textarea(form("details.specialAttention"), '_label -> "Special attention",
            'rows -> 3, 'markdownpreview -> "", '_type -> views.html.element.markdownHelp())
        }
        @v2.html.block("Schedule") {
          @v2.html.twoInRow(form("schedule.start"),
            html.date(form("schedule.start"))(asIs, implicitly[Lang]),
            form("schedule.end"),
            html.date(form("schedule.end"))(asIs, implicitly[Lang]),
            "Start date/End date"
          )
          @v2.html.twoInRow(form("schedule.hoursPerDay"),
            html.number(form("schedule.hoursPerDay"))(asIs, implicitly[Lang]),
            form("schedule.totalHours"),
            html.number(form("schedule.totalHours"))(asIs, implicitly[Lang]),
            "Hours per Day/Total Hours"
          )
          <div class="col-md-offset-2 alert alert-warning" id="totalHours-alert">
            <i class="glyphicon glyphicon-info-sign"></i> Number of total hours
            is much less than number of hours per day multiplied to number of days.
            Please check if it's a mistake or not.
          </div>
        }
        @v2.html.block("Organizer", Some("grey")) {
          <input type="hidden" value="@form("organizer.id").value"
            id="@form("organizer.id").id" name="@form("organizer.id").name"/>
          <div class="form-group @if(form.error("organizer.id").isDefined) {has-error} ">
            <label for="organizerSearch" class="control-label col-md-2">Organizer</label>
            <div class="col-md-7 search-block" id="searchBlock">
              <input id="organizerSearch" name="organizerSearch"
                class="form-control" placeholder="Start typing organizer's name">
            </div>
            <div class="col-md-2 search-block field-type">
              <span>required</span>
            </div>
            <div class="col-md-7" id="addOrgBlock"></div>
          </div>
          @v2.html.text(form("organizer.webSite"), '_label -> "Organizer website",
            'placeholder -> "http://", '_type -> "Web site URL", '_help -> "")


          @v2.html.text(form("organizer.registrationPage"), '_label -> "Registration page",
            'placeholder -> "http:// or mailto:", '_type -> "Web site URL or email address")
        }
        @v2.html.block("Misc", Some("yellow")) {
          @v2.html.checkboxWithDescription(form("followUp"),
            '_label -> "Follow Up",
            '_desc -> "Participants will receive requests to evaluate this event or to confirm their evaluations on the first, third and seventh days after this event",
            '_help -> "")
          @v2.html.checkboxWithDescription(form("notPublic"),
            '_label -> "Private",
            '_desc -> "This event is not shown on the calendar, but evaluation is still possible",
            '_help -> "")
          @v2.html.checkboxWithDescription(form("archived"),
            '_label -> "Archived",
            '_desc -> "Participants won't be able to evaluate this event",
            '_help -> "")
          @v2.html.checkboxWithDescription(form("confirmed"),
            '_label -> "Confirmed",
            '_desc -> "You will get an invoice after this event takes place",
            '_help -> "")
          <div class="col-md-offset-2 alert alert-info" id="confirmed-alert">
            <i class="glyphicon glyphicon-info-sign"></i>
            You confirmed the event took or will
            take place. You will get an invoice for this event. If you are not sure that
            the event will take place, uncheck this checkbox.
          </div>
          @v2.html.checkbox(form("free"),
            '_label -> "Free Event : Participants of this event can't be certified",
            '_help -> "")
        }
        @v2.html.block("Invoice") {
          @v2.html.select(form("invoice"), Nil, '_label -> "Invoice To", '_required -> true, '_help -> "")
        }
        @if(form.hasErrors) {
          @v2.html.block("") {
            <div class="errors">
            @for((error, index) <- form.errors.zipWithIndex) {
              @{index + 1}. @play.api.i18n.Messages(error.message)<br/>
            }
            </div>
          }
        }
        @v2.html.block("") {
          <div class="row">
            <div class="col-md-5">
              <button class="btn btn-primary btn-block btn-lg" type="submit">
                Save</button>
            </div>
            <div class="col-md-3 cancel">
              <a href="javascript:history.back()">Cancel changes</a></div>
          </div>
        }
      }
      <div id="addOrgFormContainer" class="hidden">
        <form id="addOrgForm">
          <input name="name" type="text" placeholder="Type name" class="subform-element form-control"/>
          <select name="address.country" class="subform-element form-control">
          @Countries.all.map { v =>
            <option value="@v._1">@v._2</option>
          }
          </select>
          <input type="hidden" name="profile.email" value=""/>
          <div class="col-md-6 padding-fix">
            <button type="submit" class="btn btn-block btn-success">Add</button>
          </div>
          <div class="col-md-6 padding-fix">
            <button id="addOrgFormBack" class="btn btn-block btn-default">Back</button>
          </div>
        </form>
      </div>
    </div>

    <script src='@routes.Assets.at("javascripts/ImageSelect.jquery.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("javascripts/jquery.autocomplete.min.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("event/facilitators.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("event/form.js")' type="text/javascript"></script>
  }
}
