@(user: ActiveUser,
  brand: Brand,
  brands: List[Brand],
  facilitators: List[(Long, String)])(implicit request: Request[Any], flash: Flash, handler: AuthorisationHandler)

@v2.main("Events", "events", user) {
  @v2.element.brandHeader(brand, brands, "events", facilitator = user.account.isFacilitatorNow) {
    <a class="btn btn-default" href="@routes.Events.add()">Add Event</a>
  }
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-md-12 content-block">
          @views.html.event.reason()
          <input type="hidden" id="activeBrandId" value="@brand.identifier"/>
          <div id="filter-containter">
            <div class="table-filters pull-left">
              <span>Filter by Facilitator: </span>
              @if(facilitators.nonEmpty) {
                <div class="btn-group">
                  <select id="facilitators" class="selectpicker" showIcon="false" data-style="btn-details"  data-width="auto" data-live-search="true">
                    <option value="all">All</option>
                    @for((id, name) <- facilitators) {
                      <option value="@id">@name</option>
                    }
                  </select>
                </div>
              } else {
                <input type="hidden" id="activeUserId" value="@user.person.identifier"/>
              }
            </div>
            <div class="table-filters pull-right">
              <div class="btn-group">
                <span>By Time: </span>
                <select id="past-future" class="selectpicker" data-style="btn-details" data-width="auto">
                  <option value="all">All</option>
                  <option value="future" selected>Future</option>
                  <option value="past">Past</option>
                </select>
              </div>
              <div class="btn-group">
                <span> By Privacy: </span>
                <select id="private" class="selectpicker" data-style="btn-details" data-width="auto">
                  <option value="all">All</option>
                  <option value="public">Public</option>
                  <option value="private">Private</option>
                </select>
              </div>
              <div class="btn-group">
                <span>By Actuality: </span>
                <select id="archived" class="selectpicker" data-style="btn-details" data-width="auto">
                  <option value="all">All</option>
                  <option value="current">Current</option>
                  <option value="archived">Archived</option>
                </select>
              </div>
            </div>
          </div>
          <table id="events" class="datatables table table-rowed">
            <thead>
              <tr>
                <th width="20%">Event</th>
                <th width="15%">Facilitator</th>
                <th width="15%">Location</th>
                <th width="12%" id="date" >Dates</th>
                <th width="8%" id="hours" align="center">Total Hours</th>
                <th align="center">Materials</th>
                <th width="8%" align="center">Invoice</th>
                <th align="center">Confirmed</th>
                <th></th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
  <script src="@routes.Assets.at("event.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("event/index.js")" type="text/javascript"></script>
}
