@(user: ActiveUser,
    funders: List[Organisation],
    event: Event,
    view: InvoiceView)(implicit
    request: Request[Any],
    flash: Flash,
    handler: be.objectify.deadbolt.scala.DeadboltHandler,
    token: play.filters.csrf.CSRF.Token)

@import helper.CSRF

<div class="col-md-3">
    <div class="panel panel-success notification-widget">
        <div class="panel-body grey-widget">
            <h5>License Event Fee</h5>
            @if(event.free) {
                <div class="text-center strength-value">Free</div>
            } else {
                <div class="text-center strength-value">@event.fee.map { fee => @fee }</div>
            }
            @if(!event.free) {
                <dt>Invoice To:</dt>
                <dl><a href="@routes.Organisations.details(view.invoice.invoiceTo)">@view.invoiceTo</a></dl>
                @view.invoice.invoiceBy.map { id =>
                    <dt>Invoice By:</dt>
                    <dl><a href="@routes.Organisations.details(id)">@view.invoiceBy.get</a></dl>
                }
                @view.invoice.number.map { number =>
                    <dt>Invoice #:</dt>
                    <dl>@number</dl>
                }
                @if(user.account.isCoordinatorNow) {
                    <form method="POST" action="@CSRF(routes.Events.invoice(event.id.get))">
                        <input type="hidden" name="id" value="@view.invoice.id">
                        <input type="hidden" name="invoiceTo" id="invoiceTo" value="@view.invoice.invoiceTo">
                        <input type="hidden" name="eventId" value="@event.id">
                        <div class="form-group" id="invoiceBy_field">
                            <label for="invoiceBy" class="control-label">Invoiced By</label>
                            <select name="invoiceBy" class="form-control" id="invoiceBy">
                                <option value="">Choose an organisation</option>
                                @funders.map { entity =>
                                    <option value="@entity.id" @if(view.invoice.invoiceBy.exists(_ == entity.id.get)) {selected}>@entity.name </option>
                                }
                            </select>
                        </div>
                        <div class="form-group" id="number_field">
                            <label for="number" class="control-label">Invoice Number</label>
                            <input id="number" class="form-control" type="text" name="number" value="@view.invoice.number">
                        </div>
                        <p>
                            <button class="btn btn-primary btn-block">Update Invoice Info</button>
                        </p>
                    </form>
                }
                @if(user.account.isFacilitatorNow) {
                    <div class="text-warning">
                        You will be invoiced for @event.fee.map { fee => @fee }. If the event didn't take place,
                        <b>cancel it</b>.</div>
                }
            }
        </div>
    </div>
</div>