@(event: models.cm.Event, brand: Brand, facilitators: List[(Person, Float, String)])(implicit request: RequestHeader)

@import controllers.core.People
@import templates.Formatters._
@import views.{Countries, Languages}
@import views.ViewHelpersV2._

@language(lang: models.cm.Language) = {
    @defining(lang.secondSpoken.map(value => s" and $value").getOrElse("")) { suffix =>
        Event is in @Languages.name(lang.spoken)@Languages.name(suffix)
    }
    @lang.materials.map { value =>
        , all materials and handouts are in @Languages.name(value).
    }.getOrElse {
        .
    }
}

@v2.layout.public(event.title, true) {
    <div class="p-public-con">

        <div class="container">
            <div class="p-public">
                <div class="p-public__hint">
                    @brand.name Events
                </div>
                <h2 class="p-public__title">
                    @event.title
                </h2>

                <div class="p-public__date">
                    @dateInterval(event.schedule.start, event.schedule.end) <br>
                    in @event.location.city, @Countries.name(event.location.countryCode)
                </div>

                @event.details.description.map { text =>
                    <div class="p-public__text">
                        @text.markdown
                    </div>
                }
                @event.details.specialAttention.map { text =>
                    <div class="p-public__text">
                        @text.markdown
                    </div>
                }

                <div class="b-event">
                    <div class="b-event__people">
                        <h3 class="b-event__title">Facilitators</h3>
                        <div class="b-event__people-list">
                        @for((person, rating, url) <- facilitators) {
                            @v2.element.personBadge(People.pictureUrl(person), url, rating) {
                                @person.firstName <br> @person.lastName
                                }
                        }
                        </div>
                    </div>
                    <div class="b-event__info">
                        <h3 class="b-event__title">Event specific</h3>
                        <p>
                        @language(event.language)
                        </p>
                        <p>
                            Total hours @event.schedule.totalHours, @event.schedule.hoursPerDay hour(s) per day.
                        </p>
                    </div>
                </div>

                <div class="p-public__submit">
                    @event.organizer.registrationPage.map { url =>
                        <a href="@url" class="btn btn-primary p-public__submit-btn">
                            Register for the event
                        </a>
                    }
                    <div class="p-public__submit-text">
                        @dateInterval(event.schedule.start, event.schedule.end) <br>
                        in @event.location.city, @Countries.name(event.location.countryCode)
                    </div>

                </div>
            </div>
        </div>
    </div>

    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/person/public-page.css")">
}
