@(id: Long)
<div class="b-modal__dlg modal-dialog">
  <a href="#" class="b-modal__close" data-dismiss="modal" aria-hidden="true">×</a>
  <div class="b-modal__content">
      <div class="b-modal__title">Cancel event</div>
      <form id="cancelForm" action="" method="post">
        <p>We want to help you to promote your events and make your potential
        participants happier. To find out how to do it better we need your support.
        We appreciate if you share with us as much information as possible about the event
        you're cancelling.
        </p>
        <div class="alert alert-warning" role="alert"><b>Important:</b> the provided information will be available only to
        a brand management team. Other facilitators won't see it.</div>
        <div class="form-group">
          <label for="reason">Describe the reason why you cancel this event</label> (optional)
          <textarea name="reason" id="reason" class="form-control" rows="5"></textarea>
        </div>
        <div class="form-group">
          <label for="participantNumber">Number of registered participants</label> (optional)
          <input type="number" name="participantNumber" class="form-control"/>
        </div>
        <div class="form-group">
          <label for="details">Participants info (emails, full names)</label> (optional)
          <p>We will use this data to contact participants when a new event
          is organised in the same area.</p>
          <textarea name="details" id="reason" class="form-control" rows="5"></textarea>
        </div>
      </form>

      <div class="text-right">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <a data-id="@id" class="btn btn-danger" id="eventCancelButton" href="#">Cancel Event</a>
      </div>
    </div>
</div>
