

.b-eventlink{
  display: inline-block;
  font-size: 18px;
  line-height: 1.1;
  color: #4a90e2;
  border-bottom: 1px dashed #4A90E2;
  cursor: pointer;
  .transition(all .15s ease);

  &:hover{
    opacity: .9;
  }

  &.state_active{
    color: #333333;
    border-bottom-color: transparent;
    cursor: default;
  }
}

.b-eventlist{
  .clearfix();
  font-size: 0;
}

.b-eventfut{
  display: inline-block;
  vertical-align: top;
  position: relative;
  border: 1px solid #E7E7E7;
  font-size: 14px;
  width: 48%;
  margin-bottom: 25px;
  .box-sizing(border-box);
  padding: 19px 12px 15px;
  min-height: 205px;
  text-align: left;

  &:nth-child(2n + 1){
    margin-right: 4%;
  }
}

.b-eventfut__brand{
  position: relative;
  margin-bottom: 3px;
  font-size: 12px;
  text-align: left;
  line-height: 1;
  color: #999;
  .t-ellps();
}

.b-eventfut__title{
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  overflow: hidden;
  margin-bottom: 9px;
}

.b-eventfut__info{
  margin-bottom: 30px;
}

.b-eventfut__buttons{
  text-align: justify;
  height: 15px;
  max-width: 260px;

  &:after{
    content: '';
    display: inline-block;
    vertical-align: top;
    width: 100%;
    overflow: hidden;
  }
}

/*== States ==*/
.b-eventfut_state_disabled{
  opacity: .2;
}

