@(user: ActiveUser,
    personId: Long,
    brands: List[Brand],
    form: Form[EndorsementFormData])(implicit flash: Flash,
      request: Request[Any],
      handler: be.objectify.deadbolt.scala.DeadboltHandler,
      token: play.filters.csrf.CSRF.Token,
      messages: Messages)

@import helper.CSRF
@import views.ViewHelpersV2._

@v2.main("Endorsement", "person", user, withMelly = true) {
  <input type="hidden" disabled id="personId" value="@personId"/>
  <div class="form endorsement-form tabs-bl">
    @v2.html.block("") {
      <h1>Add Endorsement</h1>
      <ul class="tabs-bl__nav" role="tablist" id="switcher">
        <li role="presentation" >
          <a class="tabs-bl__link" href="#addForm" aria-controls="addForm" role="tab">Create new</a>
        </li>
        <li class="active" role="presentation">
          <a class="tabs-bl__link" href="#selectForm" aria-controls="selectForm" role="tab">Select from your evaluations</a>
        </li>
      </ul>
    }
      @html.form(action = CSRF(routes.Endorsements.create(personId))) {
        <div class="tabs-bl__content">
          <div id="addForm" role="tabpanel" class="tabs-bl__pane">
            @v2.html.block("") {
              @v2.html.textarea(form("content"), true, "Endorsement")
              @v2.html.text(form("name"), true, "Name")
              @v2.html.select(form("brandId"), false, "Brand",
                ("0", "Not brand-related endorsement") :: brands.map(x => (x.id.get.toString, x.name)))
              @v2.html.text(form("company"), false, "Company / Job role")
            }
            @if(form.hasErrors) {
              @v2.html.block("") {
                <div class="errors">
                @for(error <- form.errors) {
                  @Messages(error.message)<br/>
                }
                </div>
              }
            }
          </div>
          <div id="selectForm" role="tabpanel" class="tabs-bl__pane active" data-url="@routes.Endorsements.renderSelectForm(personId).url">
          </div>
        </div>

        <div class="p-endors__buttons-con">
          <div class="p-endors__buttons">
            <div class="container">
              <button class="btn btn-primary btn-lg p-endors__btn-select" id="submit" type="submit">
                Save
              </button>
              <a class="link-blue p-endors__btn-cancel" href="javascript:history.back()">Cancel changes</a>
            </div>
          </div>
        </div>
      }
  </div>
  <script type="text/javascript" src="@routes.Assets.at("js/endorsement/form.js")"></script>
}