@(user: ActiveUser,
    personId: Long,
    brands: List[Brand],
    form: Form[EndorsementFormData],
    endorsementId: Long)(implicit flash: Flash,
        request: Request[Any],
        handler: be.objectify.deadbolt.scala.DeadboltHandler,
        token: play.filters.csrf.CSRF.Token,
        messages: Messages)

@import helper.CSRF
@import views.ViewHelpersV2._

@v2.main("Endorsement", "person", user, withMelly = true) {
  <div class="form">
    @v2.html.block("") { <h1>Add Endorsement</h1> }
    @html.form(action = CSRF(routes.Endorsements.update(personId, endorsementId))) {
      @v2.html.block("") {
        @v2.html.textarea(form("content"), true, "Endorsement")
        @v2.html.text(form("name"), true, "Name")
        @v2.html.select(form("brandId"), false, "Brand",
          ("0", "Not brand-related endorsement") :: brands.map(x => (x.id.get.toString, x.name)))
        @v2.html.text(form("company"), false, "Company / Job role")
      }
      @if(form.hasErrors) {
        @v2.html.block("") {
          <div class="errors">
          @for(error <- form.errors) {
            @Messages(error.message)<br/>
          }
          </div>
        }
      }
      @v2.html.block("") {
        <div class="row">
          <div class="col-md-5">
            <button class="btn btn-primary btn-block btn-lg" type="submit">
              Save</button>
          </div>
          <div class="col-md-3 cancel">
            <a href="javascript:history.back()">Cancel changes</a></div>
        </div>
      }
    }

  </div>
}