@(user: ActiveUser,
    personId: Long,
    brands: List[Brand],
    form: Form[EndorsementFormData],
    endorsementId: Long)(implicit flash: Flash,
        request: Request[Any],
        handler: be.objectify.deadbolt.scala.DeadboltHandler,
        token: play.filters.csrf.CSRF.Token,
        messages: Messages)

@import helper.CSRF
@import views.ViewHelpersV2._

@v2.main("Endorsement", "person", user, withMelly = true) {
  <div class="b-form">
    <div class="container">
      <h1 class="b-form__title">Add Endorsement</h1>
    </div>
    @html.form(action = CSRF(routes.Endorsements.update(personId, endorsementId))) {
      @v2.html.formBlock("") {
        @v2.html.textarea(form("content"), '_label -> "Endorsement")
        @v2.html.text(form("name"), '_label -> "Name")
        @v2.html.select(form("brandId"),
          ("0", "Not brand-related endorsement") :: brands.map(x => (x.id.get.toString, x.name)),
          '_label -> "Brand", '_help -> "")
        @v2.html.text(form("company"), '_label -> "Company / Job role", '_help -> "")
      }
      @if(form.hasErrors) {
        @v2.html.formBlock("") {
          <div class="b-form__errors">
          @for(error <- form.errors) {
            @Messages(error.message)<br/>
          }
          </div>
        }
      }
      @v2.html.formBlock("") {
        <div class="b-form__buttons">
          <button class="btn btn-primary b-form__btn-submit" type="submit">
            Save
          </button>
          <a class="b-form__btn-cancel link-blue" href="javascript:history.back()">Cancel changes</a></div>
      }
    }

  </div>
}