@(user: ActiveUser,
  personId: Long,
  records: List[(Evaluation, String, String)])(implicit flash: Flash,
    request: Request[Any],
    handler: AuthorisationHandler,
    token: play.filters.csrf.CSRF.Token)

<div class="container">
  <div class="strip">
    <ul class="sorting" id="sorting">
      <li>Sort by rating:</li>
      <li class="active"><a href="#" id="toZero">from 10 to 0</a></li>
      <li><a href="#" id="toTen">from 0 to 10</a></li>
    </ul>
    <div class="list-group">
      @for((evaluation, person, brand) <- records) {
        <div class="list-group-item" data-rating="@evaluation.impression">
          <div class="evaluation-block">
            <div class="evaluation-selector">
              <input type="checkbox" value="@evaluation.id"/>
            </div>
            <div class="evaluation">
              <div class="content">@evaluation.question4</div>
              <div class="text-muted info">
                <div class="pull-left">@person</div>
                <div class="pull-right">
                  <span>@evaluation.created.toDate.format("yyyy-MM-dd")</span>
                  <span title="Rating"><i class="fa fa-star"></i> @evaluation.impression</span>
                  <span>@brand</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div>
