@(user: ActiveUser,
    brand: Brand,
    languages: Map[String, String],
    form: Form[FakeCertificateTemplate])(implicit flash: Flash,
        request: Request[Any],
        token: play.filters.csrf.CSRF.Token,
        handler: be.objectify.deadbolt.scala.DeadboltHandler,
        messages: Messages)

@import helper.CSRF
@import views.ViewHelpersV2._

@v2.main("Certificate Template", "brand", user) {
    <div class="form">
        @v2.html.block("") {
            <h1>Add Template</h1>
        }
        @v2.html.form(action = CSRF(routes.CertificateTemplates.create(brand.id.get)), 'enctype -> "multipart/form-data") {
            @v2.html.block("") {
                @v2.html.select(form("language"), true, "Language",
                    ("", "Choose a language") +: languages.toList.sortBy(_._2))
                @v2.html.file(form("oneFacilitator"), '_label -> "One Facilitator", '_required -> true,
                    'accept -> "image/jpeg, image/pjpeg, image/gif, image/png", '_help -> "")
                @v2.html.file(form("twoFacilitators"), '_label -> "Two Facilitators", '_required -> true,
                    'accept -> "image/jpeg, image/pjpeg, image/gif, image/png", '_help -> "")
            }
            @if(form.hasErrors) {
                @v2.html.block("") {
                    <div class="errors">
                    @for((error, index) <- form.errors.zipWithIndex) {
                        @{index + 1}. @Messages(error.message)<br/>
                    }
                    </div>
                }
            }
            @v2.html.block("") {
                <div class="row">
                    <div class="col-md-5">
                        <button class="btn btn-primary btn-block btn-lg" id="submit" type="submit">
                            Save</button>
                    </div>
                    <div class="col-md-3 cancel">
                        <a href="javascript:history.back()">Cancel changes</a></div>
                </div>
            }
        }
    </div>
}

