@(user: ActiveUser,
        brands: Iterable[(Long, String, List[(String, Float, Float)])])(implicit flash: Flash,
        request: Request[Any],
        handler: be.objectify.deadbolt.scala.DeadboltHandler)

@v2.main("Usage", "", user) {
    <div class="row fees">
        <div class="container">
            <div class="row">
                <div class="col-md-9 content-block">
                    <h1>Teller Usage by Brands</h1>
                    <h4>
                    @for( (brandId, brandName, stats) <- brands) {
                        <a href="#" id="brand_@brandId" class="usage-switcher">@brandName</a> /
                    }
                    </h4>
                    @for( (brandId, brandName, stats) <- brands) {
                        <table class="table brand_@brandId usage-data">
                            <thead>
                                <tr>
                                    <th>Month</th>
                                    <th>Event fee, €</th>
                                    <th>Facilitator fee, €</th>
                                    <th>Total fee, €</th>
                                </tr>
                            </thead>
                            <tbody>
                            @for( (name, eventFee, facilitatorFee) <- stats) {
                                <tr>
                                    <td><strong>@name</strong></td>
                                    <td>@{
                                        "%.2f".format(eventFee)
                                    }</td>
                                    <td>@{
                                        "%.2f".format(facilitatorFee)
                                    }</td>
                                    <td>@{
                                        "%.2f".format(eventFee + facilitatorFee)
                                    }</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    }
                </div>
                <div class="col-md-3" style="padding-left: 50px ; padding-top: 30px ;">
                    <div class="js-completion-widget" ></div>
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="@routes.Assets.at("css/usage.min.css")">
    <script src="@routes.Assets.at("usage/index.js")" type="text/javascript"></script>
}
