@(user: securesocial.core.Identity,
  organisation: Organisation,
  members: List[Person],
  otherPeople: List[Person],
  contributions: List[ContributionView],
  products: List[Product]
  )(implicit request: Request[Any], flash: Flash, handler: AuthorisationHandler, token: play.filters.csrf.CSRF.Token)

@import helper.CSRF
@import models.UserRole.Role._
@import templates.Formatters._
@import be.objectify.deadbolt.scala.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@main(organisation.name + " - Organization", Some(user)) {

  <div class="span8">
    <header>

    <h1>
      <img width="32" src="/assets/images/flags/32/@(organisation.countryCode.toLowerCase).png" align="baseline">
      @organisation.name
      @restrict(handler, List(as(Editor.toString))) {
        <a class="btn-small btn"href="@routes.Organisations.edit(organisation.id.get)"><i class="icon-pencil"></i> Edit</a>
      }
    </h1>
    <p><small>Added by @organisation.createdBy on @organisation.created.format <br> Updated by @organisation.updatedBy on @organisation.updated.format</small></p>
    @if(!organisation.active) {
      <p><span class="label label-warning">This organisation is deactivated</span></p>
    }
    </header>
  </div>

  @restrict(handler, List(as(Editor.toString))) {
    <div class="span2 actions">
      <form method="post" action="@CSRF(routes.Organisations.activation(organisation.id.getOrElse(0)))">
        <input name="active" value="@(!organisation.active)" type="hidden">
        @if(organisation.active) {
          <button class="btn btn-block btn-warning" type="submit"><i class="icon-off icon-white"></i> Deactivate</button>
        } else {
          <button class="btn btn-block btn-success" type="submit"><i class="icon-off icon-white"></i> Activate</button>
        }
      </form>
        <div class="clearfix"></div>
      <form class="delete" method="post" text="organisation" action="@CSRF(routes.Organisations.delete(organisation.id.getOrElse(0)))">
        <button class="btn btn-danger btn-block" type="submit"
          @if(!organisation.deletable) { disabled="disabled" title="You cannot delete this organisation because it has members, booking entries or an active account" }>
          <i class="icon-white icon-trash"></i> Delete
        </button>
      </form>
    </div>
  }

  <div class="span4">
    <h3>Address</h3>
    <address>
      <strong>@organisation.name</strong><br>
      @organisation.street1.map { addressLine =>
        @addressLine<br>
      }
      @organisation.street2.map { addressLine =>
        @addressLine<br>
      }
      @organisation.postCode.map { addressLine =>
        @addressLine<br>
      }
      @organisation.city.map { addressLine =>
        @addressLine<br>
      }
      @organisation.province.map { addressLine =>
        @addressLine<br>
      }
      @Messages("country." + organisation.countryCode)
    </address>

    @organisation.webSite.map { url =>
    <p><strong>Web site</strong>
        <br><a href="@url">@url</a></p>
    }

    @organisation.blog.map { url =>
    <p><strong>Blog</strong>
        <br><a href="@url">@url</a></p>
    }

  </div>

  <div class="span4">
    <h3>Accounting details</h3>

    @organisation.category.map { name =>
      <p><span class="label @Messages(s"models.OrganisationCategory.$name.label")">@Messages(s"models.OrganisationCategory.$name")</span>
      </p>
    }

    <p><strong>Financial account</strong>
      <br>@if(organisation.account.active){Active}else{Inactive}
      @if(organisation.account.canBeEditedBy(user.asInstanceOf[LoginIdentity].userAccount)) {
        (<a href="@routes.Accounts.details(organisation.account.id.get)">@if(organisation.account.active){Deactivate}else{Activate}</a>)
      }
      <p><strong>Account history</strong>
      <br><a href="@routes.Accounts.bookings(organisation.account.id.get)">Booking entries</a></p>
    </p>

    @organisation.vatNumber.map { number =>
      <p><strong>VAT number</strong>
      <br>@number</p>
    }

    @organisation.registrationNumber.map { number =>
      <p><strong>Company registration</strong>
      <br>@number</p>
    }
  </div>

  <div class="span8">
    <h3>People</h3>
    @if(members.isEmpty) {
      <p>@organisation.name has no members.</p>
    } else {
    	@views.html.person.table(members.map(_.summary)) { person =>
        @restrict(handler, List(as(Editor.toString))) {
		    	<a href="@routes.People.deleteMembership("organisation", person.id, organisation.id.get)"><i class="icon-pencil"></i> Remove membership</a>
        }
			}
    }
    @restrict(handler, List(as(Editor.toString))) {
      <form class="form-inline" method="POST" action="@CSRF(routes.People.addMembership)">
        <p>
          <input type="hidden" name="page" value="organisation">
          <input type="hidden" name="organisationId" value="@organisation.id.get">
          <select name="personId">
            @for(person <- otherPeople) {
            <option value="@person.id">@person.fullName</option>
            }
          </select>
          <button class="btn"><i class="icon-plus"></i>Add Membership</button>
        </p>
      </form>
    }
  </div>

  <div class="span8">
    <h3>Product contributions</h3>
    @if(contributions.isEmpty) {
      <p>@organisation.name has no contributions.</p>
    } else {
      <table  class="datatables table table-bordered">
        <thead>
          <th>Product</th>
          <th>Role</th>
          <th></th>
        </thead>
        <tbody>
          @for(contribution <- contributions) {
            <tr>
              <td><a href="@routes.Products.details(contribution.product.id.getOrElse(0))">@contribution.product.title</a></td>
              <td>@contribution.contribution.role</td>
              <td>
                @restrict(handler, List(as(Editor.toString))) {
                  <a href="@routes.Contributions.delete("organisation", contribution.contribution.id.get)">
                  <i class="icon-pencil"></i> Remove contribution</a>
                }
              </td>
            </tr>
          }
        </tbody>
      </table>
    }
    @restrict(handler, List(as(Editor.toString))) {
      <form class="form-inline" method="POST" action="@CSRF(routes.Contributions.create("organisation"))">
        <p>
          <input type="hidden" name="page" value="organisation">
          <input type="hidden" name="contributorId" value="@organisation.id.get">
          <input type="hidden" name="isPerson" value="false">
          <select name="productId">
            @for(product <- products) {
              <option value="@product.id">@product.title</option>
            }
          </select>
          <input name="role" placeholder="Role">
          <button class="btn"><i class="icon-plus"></i>Add Contribution</button>
        </p>
      </form>
    }
  </div>

	<script src="@routes.Assets.at("details.js")" type="text/javascript"></script>
}
