@(user: securesocial.core.Identity, id: Option[Long], orgForm: Form[Organisation])(implicit flash: Flash, token: play.filters.csrf.CSRF.Token)

@import helper.CSRF
@import views.Countries
@import views.ViewHelpers._

@defining(orgForm.value.map(org => "Organization %s".format(org.name)).getOrElse("Add organization")) { orgName =>
    @main("Organizations", Some(user)) {

        <h1>@orgName</h1>

        @if(orgForm.hasErrors) {
          <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Please fix the validation errors.
          </div>
        }

        @helper.form(action = CSRF(id.map(id => routes.Organisations.update(id)).getOrElse(routes.Organisations.create()))) {
            @helper.inputText(orgForm("name"), '_label -> "Name")
            @helper.inputText(orgForm("street1"), '_label -> "Address line 1")
            @helper.inputText(orgForm("street2"), '_label -> "Address line 2")
            @helper.inputText(orgForm("postCode"), '_label -> "Post code")
            @helper.inputText(orgForm("city"), '_label -> "City")
            @helper.inputText(orgForm("province"), '_label -> "Province or state")
            @helper.select(orgForm("country"), ("", "Choose a country") +: Countries.all, '_label -> "Country")
            @helper.inputText(orgForm("vatNumber"), '_label -> "VAT number")
            @helper.inputText(orgForm("registrationNumber"), '_label -> "Registration number")

            @helper.select(
              orgForm("category"),
              ("", "None") +: models.OrganisationCategory.values.map(value => value.toString -> Messages(s"models.OrganisationCategory.${value.toString}")).toSeq,
              '_label -> "Category")

            @helper.inputText(orgForm("webSite"), '_label -> "Web site", 'placeholder -> "http://", '_help -> "Web site URL")
            @helper.inputText(orgForm("blog"), '_label -> "Blog", 'placeholder -> "http://", '_help -> "Web site URL")

            <button class="btn btn-primary" type="submit">Save</button>
        }
    }
}
