@(user: LoginIdentity,
  id: Option[Long],
  form: Form[Organisation])(implicit flash: Flash,
        request: Request[Any],
        handler: AuthorisationHandler,
        token: play.filters.csrf.CSRF.Token)

@import helper.CSRF
@import views.ViewHelpers._

@defining(form.value.map(org => "Organization %s".format(org.name)).getOrElse("Add organization")) { name =>
  @main("Organizations", "orgs", user) {
    @if(form.hasErrors) {
      @html.error()
    }

    <div class="col-md-6">
      <div class="page-header">
        <h1>@name</h1>
      </div>
      @html.form(action = CSRF(id.map(id => routes.Organisations.update(id)).getOrElse(routes.Organisations.create()))) {
        @forms.organisation(form)

        <div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-9">
            <button class="btn btn-primary btn-block pull-right" type="submit">Save</button>
          </div>
        </div>
      }
    </div>
  }
}
