@(user: securesocial.core.Identity, organisations: List[Organisation])(implicit flash: Flash)

@main("Organizations", Some(user)) {

  <div class="span7">
  <h1>Organizations</h1>
  </div>
  <div class="span3">
      <a class="btn btn-success" href="@routes.Organisations.add()">
      <i class="icon-plus icon-white"></i>Add Organization</a>
  </div>

  <div class="span10">
  @if(!organisations.isEmpty) {

      <table class="datatables table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>City</th>
          <th>Province/State</th>
          <th>Country</th>
        <th></th>
        </tr>
      </thead>
      <tbody>
        @for(organisation <- organisations) {
          <tr @if(!organisation.active) { class="inactive" title="deactivated" })>
            <td><a href="@routes.Organisations.details(organisation.id.getOrElse(0))">@organisation.name</a></td>
            <td>@organisation.city</td>
            <td>@organisation.province</td>
            <td>
              <img width="16" src="/assets/images/flags/16/@(organisation.countryCode.toLowerCase).png" align="absmiddle">
              @Messages("country." + organisation.countryCode)
            </td>
            <td>
              <a href="@routes.Organisations.edit(organisation.id.get)"><i class="icon-pencil"></i> Edit</a>
            </td>
          </tr>
        }
      </tbody>
      </table>
  } else {
    <p>There are no organisations.</p>
  }
  </div>

}
