@(user: securesocial.core.Identity, organisations: List[Organisation])(implicit flash: Flash)

@main("Organizations", Some(user)) {

  @flash.get("success").map { message =>
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    @message
  </div>
  }

<h1>Organizations</h1>
  @if(!organisations.isEmpty) {

    <table class="datatables table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>City</th>
        <th>Province/State</th>
        <th>Country</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for(organisation <- organisations) {
        <tr @if(!organisation.active) { class="inactive" title="deactivated" })>
          <td>@organisation.name</td>
          <td>@organisation.city</td>
          <td>@organisation.province</td>
          <td>
            <img width="16" src="/assets/images/flags/16/@(organisation.countryCode.toLowerCase).png" align="absmiddle">
            @Messages("country." + organisation.countryCode)
          </td>
          <td>
            <form class="delete" method="post" action="@routes.Organisations.delete(organisation.id.getOrElse(0))"><button class="btn btn-link" type="submit"><i class="icon-trash"></i> Delete</button></form>
          </td>
        </tr>
      }
    </tbody>
    </table>
  } else {
    <p>There are no organisations.</p>
  }

  <script type="text/javascript">
    $(function() {
      $('form.delete').submit(function() {
        return confirm('Delete this organisation? You cannot undo this action.');
      });
    });
  </script>
}
