
<div class="b-notification">
    <div class="container h-rel">
        <div class="b-notification__img"></div>
        <div class="b-notification__buttons">
            <a class="btn btn-default b-notification__btn" href="#">Close notification</a>
            <a class="btn btn-primary b-notification__btn" href="#">Reconnect my profiles</a>
        </div>
        <div class="b-notification__text">
            <div class="b-notification__text-inner">
                        Hi, there! We’ve made some changes to stabilize login through social networks. You have to reconnect all networks you were using to login, otherwise they will not work.
            </div>
        </div>
    </div>

</div>