@(user: ActiveUser)(implicit request: Request[Any],
        handler: be.objectify.deadbolt.scala.DeadboltHandler)


<div class="b-headmenu">
    <a href="@controllers.core.routes.Dashboard.profile()" class="b-headmenu__link" >
        <div class="b-headava">
            @defining(user.person.photo.url.map(url => url).getOrElse(routes.Assets.at("images/hm-face.jpg").url)) { url =>
                <div class="b-headava__img" style="background-image : url(@url) ;"></div>
            }
            <div class="b-headava__name">@user.name</div>
        </div>
    </a>
    <div class="b-headmenu__divider"></div>

    <a href="@controllers.core.routes.UserAccounts.account()" class="b-headmenu__link">
        Account settings
    </a>
    <div class="b-headmenu__divider"></div>
    <div class="b-headmenu__link">
        @views.html.v2.element.notificationList()
    </div>
    <div class="b-headmenu__divider"></div>
    <a href="@controllers.core.routes.LoginPage.logout()" class="b-headmenu__link">
        Log out
    </a>
</div>

