@(title: String)(content: Html)(implicit request: RequestHeader)

@v2.layout.public("Happy Melly") {
    <div class="unauth-page">
        <img class="unauth-page__img" src="@routes.Assets.at("images/melly_right.png")" class="melly"/>

        <div class="unauth-page__con">
            @content
        </div>
    </div>
    <div class="unauth__footer">
        Made with love at <a class="unauth__footer-link" href="http://happymelly.com" target="_blank">Happy Melly</a>
    </div>

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/unauth/unauth-pages.css")">

}
