@(user: securesocial.core.Identity,
  id: Option[Long],
  events: List[Event],
  people: List[Person],
  newPersonForm: Form[ParticipantData],
  existingPersonForm: Form[Participant],
  showExistingPersonForm: Boolean = true,
  currentEvent: Option[Long],
  ref: Option[String])(implicit flash: Flash, token: play.filters.csrf.CSRF.Token)

@import helper.CSRF
@import views.Countries
@import views.ViewHelpers._

@main("Participants", "participants", Some(user)) {
  <div id="error">
    @if(newPersonForm.hasErrors || existingPersonForm.hasErrors) {
      @html.error()
    }
  </div>

  <div class="col-md-6">
    <div class="page-header">
      <h1>Add Participant</h1>
    </div>
    <div id="switcher">
      @currentEvent.map { value =>
        <div id="currentEvent" value="@value"></div>
      }
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-9 toolbar">
          <form>
            <label class="radio-inline control-label">
              <input type="radio" name="participantType" id="existingPerson"
                value="existing" @if(showExistingPersonForm) {checked }>
              Existing Person
            </label>
            <label class="radio-inline control-label">
              <input type="radio" name="participantType"
                id="newPerson" value="new" @if(!showExistingPersonForm) {checked}>
              New Person
            </label>
          </form>
        </div>
      </div>
      <div class="existingPerson">
        @html.form(action = CSRF(routes.Participants.create(currentEvent, ref))) {
          @html.select(existingPersonForm("eventId"),
            ("", "Choose an event") :: events.map(e => (e.id.get.toString, e.longTitle)), '_label -> "Event", '_help ->"")
          @html.select(existingPersonForm("participantId"),
            ("", "Choose a person") :: people.map(p => (p.id.get.toString, p.fullName)), '_label -> "Person", '_help ->"")
          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
              <button class="btn btn-primary btn-block pull-right" type="submit">Save</button>
            </div>
          </div>
        }
      </div>
      <div class="newPerson">
        @html.form(action = CSRF(routes.Participants.createParticipantAndPerson(currentEvent, ref))) {
          @html.select(newPersonForm("eventId"),
            ("", "Choose an event") :: events.map(e => (e.id.get.toString, e.longTitle)), '_label -> "Event", '_help ->"")
          @html.text(newPersonForm("firstName"), '_label -> "First name")
          @html.text(newPersonForm("lastName"), '_label -> "Last name")
          @html.date(newPersonForm("birthDate"), '_label -> "Birth date")
          @html.text(newPersonForm("emailAddress"), '_label -> "E-mail address")
          @html.select(newPersonForm("country"), ("", "Choose a country") :: Countries.all, '_label -> "Country")
          @html.text(newPersonForm("city"), '_label -> "City")
          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
              <button class="btn btn-primary btn-block pull-right" type="submit">Save</button>
            </div>
          </div>
        }
      </div>
    </div>
  </div>

  <script src='@routes.Assets.at("participant/form.js")' type="text/javascript"></script>
}
