@(user: securesocial.core.Identity,
  brands: List[Brand])(implicit request: Request[Any], flash: Flash, handler: AuthorisationHandler)

@import models.UserRole.Role._
@import be.objectify.deadbolt.scala.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@main("Participants", Some(user)) {

  @common.evaluationActions()
  <div class="span12">
    <div class="span7">
      <h1>Participants</h1>
    </div>
    <div class="span4 pull-right">
      @dynamic(handler, "event", "add") {
        <a class="btn btn-success" href="@routes.Participants.add()">
          <i class="icon-plus icon-white"></i>Add Participant
        </a>
      }
      @dynamic(handler, "evaluation", "add") {
        <a class="btn btn-success" href="@routes.Evaluations.add()">
          <i class="icon-plus icon-white"></i>Add Evaluation
        </a>
      }
    </div>
  </div>
  <div class="span12">
    <div id="filter-containter">
      <div class="btn-toolbar pull-right">
        <div class="btn-group">
          <select id="brands" class="input-large">
            @for(brand <- brands) {
              <option value="@brand.code">@brand.name</option>
            }
          </select>
        </div>
        <div class="btn-group">
          <select id="events" class="input-large">
            <option value="">Select an event</option>
          </select>
        </div>
        <div class="btn-group">
          <select id="status" class="input-small">
            <option value="all"></option>
            <option value="0">Pending</option>
            <option value="1">Approved</option>
            <option value="2">Rejected</option>
          </select>
        </div>
      </div>
    </div>
    <table id="participants" class="datatables table table-bordered">
      <thead>
        <tr>
          <th></th>
          <th>Participant</th>
          <th width="20%">Event</th>
          <th>Location</th>
          <th>Dates</th>
          <th width="5%" align="center">General Impr</th>
          <th>Evaluation Date</th>
          <th>Handled Date</th>
          <th>Certificate Number</th>
          <th></th>
        </tr>
      </thead>
    </table>
  </div>

	<script src="@routes.Assets.at("participant/index.js")" type="text/javascript"></script>
}
