@(user: securesocial.core.Identity,
  participants: List[ParticipantView])(implicit request: Request[Any], flash: Flash, handler: AuthorisationHandler)

@import models.UserRole.Role._
@import be.objectify.deadbolt.scala.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@main("Participants", Some(user)) {

  <div class="span4">
    <h1>Participants</h1>
  </div>
  <div class="span4">
    @dynamic(handler, "event", "add") {
      <a class="btn btn-success" href="@routes.EventParticipants.add()">
        <i class="icon-plus icon-white"></i>Add Participant
      </a>
    }
    @dynamic(handler, "evaluation", "add") {
      <a class="btn btn-success" href="@routes.Evaluations.add()">
        <i class="icon-plus icon-white"></i>Add Evaluation
      </a>
    }
  </div>

  <div class="span10">
    @if(participants.isEmpty) {
      <p>There are no participants</p>
    } else {
      @table(participants) { participant =>
        @restrict(handler, List(as(Editor.toString))) {
          @participant.evaluationId.map { id =>
            <a href="@routes.Evaluations.edit(id)"><i class="icon-pencil"></i>Edit</a><br/>
          }
        }
      }
    }
  </div>

	<script src="@routes.Assets.at("index.js")" type="text/javascript"></script>
}
