@(user: securesocial.core.Identity,
  brands: List[Brand],
  brandCode: String)(implicit request: Request[Any], flash: Flash, handler: AuthorisationHandler)

@import models.UserRole.Role._
@import be.objectify.deadbolt.scala.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@main("Participants", "participants", Some(user)) {

  @html.evaluationActions()
  @html.indexPageHeader("Participants") {
    <div class="pull-right">
    @dynamic(handler, "event", "add") {
      <a class="btn btn-success" href="@routes.Participants.add()">
      <i class="glyphicon glyphicon-plus glyphicon-white"></i> Add Participant</a>
    }
    @dynamic(handler, "evaluation", "add") {
      <a class="btn btn-success" href="@routes.Evaluations.add(None, None)">
      <i class="glyphicon glyphicon-plus glyphicon-white"></i> Add Evaluation</a>
    }
    </div>
  }
  <div class="col-md-12">
    <div id="filter-containter">
      <div class="pull-left">
        <a id="exportLink" class="input-sm" href="" title="Only evaluations, currently visible in the table, will be exported">
          <i class="glyphicon glyphicon-cloud-download"></i> Export to XLSX</a>
      </div>
      <div class="toolbar pull-right">
        <div class="btn-group">
          <select id="brands" class="input-sm form-control">
            @for(brand <- brands) {
              <option value="@brand.code">@brand.name</option>
            }
          </select>
        </div>
        <div class="btn-group">
          <select id="events" class="input-sm form-control">
            <option value="">Select an event</option>
          </select>
        </div>
        <div class="btn-group">
          <select id="status" class="input-sm form-control">
            <option value="all"></option>
            <option value="0">Pending</option>
            <option value="1">Approved</option>
            <option value="2">Rejected</option>
          </select>
        </div>
        <div class="btn-group">
          <div class="checkbox input-sm">
            <label>
              <input id="facilitatedByMe" type="checkbox"> Facilitated By Me
            </label>
          </div>
        </div>
      </div>
    </div>
    <table id="participants" class="datatables table table-bordered" brandCode="@brandCode">
      <thead>
        <tr>
          <th></th>
          <th>Participant</th>
          <th width="20%">Event</th>
          <th>Location</th>
          <th>Dates</th>
          <th width="5%" align="center">General Impr</th>
          <th>Evaluation Date</th>
          <th>Handled Date</th>
          <th>Certificate Number</th>
          <th>Event id </th>
          <th>Facilitated By Me </th>
          <th></th>
        </tr>
      </thead>
    </table>
  </div>

	<script src="@routes.Assets.at("participant/index.js")" type="text/javascript"></script>
}
