@(participants: List[ParticipantView])(actions: (ParticipantView) => Html)

@if(!participants.isEmpty) {

  <table id="participants" class="datatables table table-bordered">
  <thead>
    <tr>
      <th>Participant</th>
      <th>Event</th>
      <th>Location</th>
      <th>Dates</th>
      <th>General Impression</th>
      <th>Status</th>
      <th>Evaluation Date</th>
      <th>Handled Date</th>
      <th>Certificate Number</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for(participant <- participants) {
      <tr>
        <td><a href="@routes.People.details(participant.person.id.get)">@participant.person.fullName</a></td>
        <td><a href="@routes.Events.details(participant.event.id.get)">@participant.event.title</a></td>
        <td>
          <img width="16" src="/assets/images/flags/16/@(participant.event.location.countryCode.toLowerCase).png" align="absmiddle">
          @participant.event.location.city
        </td>
        <td>@participant.event.schedule.start / @participant.event.schedule.end</td>
        <td>@participant.impression.map{ impression => @impression }</td>
        <td>@participant.status.map{ status => <span class="label @Messages(s"models.EvaluationStatus.${status}.label")">@Messages(s"models.EvaluationStatus.${status}") }</td>
        <td>@participant.date.map{ date => @date.toString("yyyy-MM-dd") }</td>
        <td>@participant.handled.map{ handled => @handled }</td>
        <td>@participant.certificate.map{ certificate => @certificate }</td>
        <td>@actions(participant)</td>
      </tr>
    }
  </tbody>
  </table>
}
