@(user: UserIdentity,
    canFacilitate: Boolean,
    funders: List[Organisation],
    event: Event,
    typeName: String,
    fees: List[(String, String)])(implicit
    request: Request[Any],
    flash: Flash,
    handler: AuthorisationHandler,
    token: play.filters.csrf.CSRF.Token)

@import helper.CSRF
@import templates.Formatters._
@import be.objectify.deadbolt.scala.views.html._
@import views.Countries
@import views.ViewHelpers.dateInterval

@main(event.title + " - Event", "events", user) {

  @element.evaluationActions()
  @views.html.event.requestEvaluation(event)
  <div class="page-header">
    <h1>
      @event.title
      <div class="actions pull-right">
      @dynamic(handler, "event", "edit") {
        <div class="button">
          <a class="btn btn-default" href="@routes.Events.edit(event.id.get)">
            <i class="glyphicon glyphicon-pencil"></i> Edit
          </a>
        </div>
        <div class="button">
          <a class="btn btn-success" href="@routes.Events.duplicate(event.id.get)">
            <i class="glyphicon glyphicon-edit"></i> Duplicate
          </a>
        </div>
        @if(!event.confirmed) {
          <div class="button">
            <form method="post" class="form-inline"
            action="@CSRF(routes.Events.confirm(event.id.getOrElse(0)))">
              <button class="btn btn-warning" type="submit">
                <i class="glyphicon-ok glyphicon glyphicon-white"></i> Confirm
              </button>
            </form>
          </div>
        }
        <div class="button">
          <form class="delete form-inline" method="post" text="event"
          action="@CSRF(routes.Events.delete(event.id.getOrElse(0)))">
            <div data-toggle="tooltip" data-placement="bottom"
              @if(!event.deletable) {
                title="@Messages("error.event.nonDeletable")" }>
              <button class="btn btn-danger" type="submit" @if(!event.deletable) {
                disabled="disabled"} >
                <i class="glyphicon glyphicon-white glyphicon-trash"></i> Delete
              </button>
            </div>
          </form>
        </div>
      }
      </div>
    </h1>
  </div>
  @if(event.confirmed) {
    <div class="alert alert-info">
      <i class="glyphicon glyphicon-info-sign"></i> This event is
        <span class="label label-success">confirmed</span>.
      @event.fee.map { fee => License event fee is @fee  }
    </div>
  }

  <input type="hidden" disabled id="brandCode" value="@event.brandCode"/>
  <div class="col-md-8">
    <div class="col-md-9">
      <dl class="dl-horizontal">
        <dt>When</dt>
        <dd>@dateInterval(event.schedule.start, event.schedule.end)</dd>
        <dt>Where</dt>
        <dd>@event.location.city, @Countries.name(event.location.countryCode)</dd>
        <dt>Spoken Language</dt>
        <dd>@event.spokenLanguage</dd>
        <dt>Materials in</dt>
        <dd>@event.materialsLanguage</dd>
        <dt>Hours</dt>
        <dd>@event.schedule.totalHours (per day: @event.schedule.hoursPerDay)</dd>
        @event.details.webSite.map { url =>
          <dt>Website</dt>
          <dd><a href="@url" target="_blank">@url</a></dd>
        }
        @event.details.registrationPage.map { url =>
          <dt>Registration</dt>
          <dd><a href="@url" target="_blank">@url</a></dd>
        }
      </dl>
      <dl class="dl-horizontal">
        <dt class="text-muted">Brand</dt>
        <dd class="text-muted"><a href="@routes.Brands.details(event.brandCode)">@event.brandCode</a></dd>
        <dt class="text-muted">Event type</dt>
        <dd class="text-muted">@typeName</dd>
      </dl>
      <dl class="dl-horizontal">
        <dt></dt>
        <dd>@if(event.notPublic) {
          <span class="label label-danger">private</span>
        } else {
          <span class="label label-default">public</span>
        }
          @if(event.archived) {
            <span class="label label-warning">archived</span>
          } else {
            <span class="label label-info">active</span>
          }
        </dd>
      </dl>
    </div>
    <div class="col-md-3">
      <dl>
        <dt>Facilitators</dt>
        @for(facilitator <- event.facilitators) {
          <dd>
            @element.photo(facilitator, "25")
            <a href="@routes.People.details(facilitator.id.getOrElse(0))"> @facilitator.fullName</a> <br/>
          </dd>
        }
      </dl>
      <dl>
        <dt>License Event Fee</dt>
        <dd>
          @event.fee.map { fee => @fee }.getOrElse {
            Fee for this country is not defined yet. Please contact the brand manager.
          }
          <a href="#" data-toggle="modal" data-target="#brandfees"><i class="glyphicon glyphicon-info-sign"></i></a>
        </dd>
      </dl>
      <dl>
        <dt>Event Rating</dt>
        <dd>@views.html.element.rating(event.rating)</dd>
      </dl>
    </div>
  </div>
  @views.html.element.brandFees(event.brandCode, fees)
  <div class="col-md-3 col-md-offset-1x">
    <legend>Invoice</legend>
    <p>
      <strong>
        To:</strong> <a href="@routes.Organisations.details(event.invoice.invoiceTo)">@event.invoice.invoiceToOrg.get.name</a>
      @event.invoice.invoiceBy.map { id =>
        &nbsp;&nbsp;&nbsp; <strong>
          By:</strong> <a href="@routes.Organisations.details(id)">@event.invoice.invoiceByOrg.get.name</a>
      }
      @event.invoice.number.map { number =>
        <br/>
        <strong>Invoice #:</strong> @number
      }
    </p>
    @dynamic(handler, "event", "admin") {
      <form method="POST" action="@CSRF(routes.Events.invoice(event.id.get))">
        <input type="hidden" name="id" value="@event.invoice.id">
        <input type="hidden" name="invoiceTo" id="invoiceTo" value="@event.invoice.invoiceTo">
        <input type="hidden" name="eventId" id="eventId" value="@event.id">
        <div class="form-group" id="invoiceBy_field">
          <label for="invoiceBy" class="control-label">Invoiced By</label>
          <select name="invoiceBy" class="form-control" id="invoiceBy">
            <option value="">Choose an organisation</option>
            @funders.map { entity =>
              <option value="@entity.id" @if(event.invoice.invoiceBy.exists(_ == entity.id.get)) {selected}>@entity.name </option>
            }
          </select>
        </div>
        <div class="form-group" id="number_field">
          <label for="number" class="control-label">Invoice Number</label>
          <input id="number" class="form-control" type="text" name="number" value="@event.invoice.number">
        </div>
        <p>
          <button class="btn btn-success">Update Invoice Info</button>
        </p>
      </form>
    }
  </div>
  <div id="currentEventId" value="@event.id"></div>
  <div class="col-md-12">
    <ul class="nav nav-tabs" id="details">
      <li><a href="#description">Description</a></li>
      @if(canFacilitate) {
        <li><a href="#participant">Participants</a></li>
      }
    </ul>
    <div class="tab-content">
      <div class="tab-pane" id="description">
        <br/>
        @event.details.description.map { desc =>
          <p>
            <strong>Short description</strong><br/>@desc.markdown
          </p>
        }
        @event.details.specialAttention.map { attention =>
          <p>
            <strong>Special attention</strong><br/>@attention.markdown
          </p>
        }
      </div>
      @if(canFacilitate) {
        <div class="tab-pane" id="participant">
          <div id="filter-containter">
            <div class="pull-right">
              <a class="input-sm" tabindex="-1"
              href="@routes.Participants.add(Some(event.brandCode), event.id, Some("event")).url" title="Add Participant">
                <i class="glyphicon glyphicon-plus"></i> Add Participant</a>
              <a class="input-sm" tabindex="-1" href="#request" data-toggle="modal" title="Request Evaluation">
                <i class="glyphicon glyphicon-envelope"></i>
                Send Evaluation Request</a>
              <a id="exportLink" class="input-sm" href="" title="Only evaluations, currently visible in the table, will be exported">
                <i class="glyphicon glyphicon-cloud-download"></i>
                Export to XLSX</a>
            </div>
          </div>
          <table id="participants" class="datatables table table-bordered">
            <thead>
              <tr>
                <th></th>
                <th>Participant</th>
                <th align="center" id="impression"></th>
                <th>Evaluation Date</th>
                <th>Handled Date</th>
                <th>Certificate Number</th>
                <th></th>
              </tr>
            </thead>
          </table>
        </div>
      }
    </div>
  </div>

  <script src="@routes.Assets.at("participant.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("event/details.js")" type="text/javascript"></script>
}
