@(user: securesocial.core.Identity,
  legalEntities: List[Organisation],
  event: Event
  )(implicit request: Request[Any], flash: Flash, handler: AuthorisationHandler, token: play.filters.csrf.CSRF.Token)

@import helper.CSRF
@import models.UserRole.Role._
@import templates.Formatters._
@import be.objectify.deadbolt.scala.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@main(event.title + " - Event", Some(user)) {

  <div class="span8">
    <header>

    <h1>
      @event.title
      @dynamic(handler, "event", "edit") {
        <a class="btn-small btn"href="@routes.Events.edit(event.id.get)"><i class="icon-pencil"></i> Edit</a>
      }
    </h1>
        <p><small>Added by @event.createdBy on @event.created.format <br> Updated by @event.updatedBy on @event.updated.format</small>

        </p>
        <p>
            @if(event.notPublic) {
            <span class="label label-success">Private</span>
            }
            @if(event.archived) {
            <span class="label label-important">Archived</span>
            }
        </p>
    </header>
  </div>

  @dynamic(handler, "event", "edit") {
    <div class="span2 actions">
        <a href="@CSRF(routes.Events.duplicate(event.id.getOrElse(0)))" class="btn btn-success btn-block" type="submit">
            <i class="icon-white icon-edit"></i> Duplicate
        </a><br/>
      <div class="clearfix"></div>
      <form class="delete" method="post" text="event" action="@CSRF(routes.Events.delete(event.id.getOrElse(0)))">
        <button class="btn btn-danger btn-block" type="submit">
          <i class="icon-white icon-trash"></i> Delete
        </button>
      </form>
    </div>
  }
  <div class="span5">
      <h3>Details</h3>
      <p>
          <strong>Brand</strong><br/>
          <a href="@routes.Brands.details(event.brandCode)">@event.brandCode</a>
      </p>
      <p>
          <strong>Spoken Language</strong><br/>
          @event.spokenLanguage
      </p>
      @event.materialsLanguage.map { lang =>
      <p>
          <strong>Materials Language</strong><br/>@lang
      </p>
      }
      @event.details.description.map { desc =>
      <p>
          <strong>Short description</strong><br/>@desc.markdown
      </p>
      }
      @event.details.specialAttention.map { attention =>
      <p>
          <strong>Special attention</strong><br/>@attention.markdown
      </p>
      }
      @event.details.webSite.map { url =>
      <p><strong>Web site</strong>
          <br><a href="@url">@url</a></p>
      }

      @event.details.registrationPage.map { url =>
      <p><strong>Registration page</strong>
          <br><a href="@url">@url</a></p>
      }
      <h3>Invoice</h3>
      <p>
        <strong>To:</strong> <a href="@routes.Organisations.details(event.invoice.invoiceTo)">@event.invoice.invoiceToOrg.get.name</a>
        @event.invoice.invoiceBy.map { id =>
          &nbsp;&nbsp;&nbsp;<strong>By:</strong> <a href="@routes.Organisations.details(id)">@event.invoice.invoiceByOrg.get.name</a>
        }
        @event.invoice.number.map { number =>
          <br/>
          <strong>Invoice #:</strong> @number
        }
      </p>
      @dynamic(handler, "event", "admin") {
        <form class="form-inline" method="POST" action="@CSRF(routes.Events.invoice(event.id.get))">
          <p>
            <input type="hidden" name="id" value="@event.invoice.id">
            <input type="hidden" name="invoiceTo" id="invoiceTo" value="@event.invoice.invoiceTo">
            <input type="hidden" name="eventId" id="eventId" value="@event.id">
            <select name="invoiceBy" id="invoiceBy">
              <option value="">Choose an organisation</option>
              @legalEntities.map { entity =>
              <option value="@entity.id" @if(event.invoice.invoiceBy.exists(_ == entity.id.get)){selected}>@entity.name</option>
              }
            </select>
            <input id="number" class="input" type="text" name="number" value="@event.invoice.number">
          </p>
          <p>
            <button class="btn">Update Invoice Info</button>
          </p>
        </form>
      }
  </div>
  <div class="span3">
    <h3>Who</h3>
    @for(facilitator <- event.facilitators) {
      <a href="@routes.People.details(facilitator.id.getOrElse(0))">@facilitator.fullName</a><br/>
    }
    <h3>Where</h3>
    <address>
      <img width="32" src="/assets/images/flags/32/@(event.location.countryCode.toLowerCase).png" align="baseline"> @event.location.city
    </address>
    <h3>When</h3>
    <p>
        <strong>Start date</strong><br/>@event.schedule.start
    </p>
    <p>
        <strong>End date</strong><br/>@event.schedule.end
    </p>
    <p>
        <strong>Hours per day / Total hours</strong><br/>@event.schedule.hoursPerDay / @event.schedule.totalHours
    </p>


  </div>

	<script src="@routes.Assets.at("details.js")" type="text/javascript"></script>
}
