@(user: securesocial.core.Identity,
  id: Option[Long],
  brands: List[BrandView],
  eventForm: Form[Event])(implicit flash: Flash, token: play.filters.csrf.CSRF.Token)

@import helper.CSRF
@import views.Countries
@import views.ViewHelpers._


@defining(eventForm.value.map(event => "Event %s".format(event.title)).getOrElse("Add event")) { eventTitle =>
    @main("Events", Some(user)) {

        <h1>@eventTitle</h1>

        @if(eventForm.hasErrors) {
          <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Please fix the validation errors.
          </div>
        }

        @helper.form(action = CSRF(id.map(id => routes.Events.update(id)).getOrElse(routes.Events.create()))) {
            @helper.select(eventForm("brandId"), brands.map(b => (b.brand.code, b.brand.name)), '_label -> "Brand")
            @helper.inputText(eventForm("title"), '_label -> "Title")
            @helper.inputText(eventForm("spokenLanguage"), '_label -> "Spoken Language")
            @helper.inputText(eventForm("materialsLanguage"), '_label -> "Materials Language")
            @helper.inputText(eventForm("city"), '_label -> "City")
            @helper.select(eventForm("country"), ("", "Choose a country") +: Countries.all, '_label -> "Country")
            <section class="container">
                <label for="facilitatorIds">Facilitators</label>
                <div>
                    <select id="facilitatorIds"></select>
                </div>
                <div>
                    <input type="text" value="Test" readonly/>
                </div>
            </section>
            @helper.inputDate(eventForm("schedule.start"), '_label -> "Start date")
            @helper.inputDate(eventForm("schedule.end"), '_label -> "End date")
            @helper.inputText(eventForm("schedule.hoursPerDay"), '_label -> "Hours per day")
            @helper.inputText(eventForm("webSite"), '_label -> "Web site", 'placeholder -> "http://", '_help -> "Web site URL")
            @helper.inputText(eventForm("registrationPage"), '_label -> "Registration page", 'placeholder -> "http://", '_help -> "Web site URL")
            <div class="control-group" id="isPrivate_field">
                <label for="isPrivate" class="checkbox">
                    <input type="checkbox" id="isPrivate" name="isPrivate" value="true"
                    @if(eventForm("isPrivate").value.exists(_ == "true")){checked}>
                    Private Event
                </label>
            </div>
            <div class="control-group" id="isArchived_field">
                <label for="isArchived" class="checkbox">
                    <input type="checkbox" id="isArchived" name="isArchived" value="true"
                    @if(eventForm("isArchived").value.exists(_ == "true")){checked}>
                    Archived Event
                </label>
            </div>
            <button class="btn btn-primary" type="submit">Save</button>
        }

        <script src='@routes.Assets.at("event/form.js")' type="text/javascript"></script>

    }
}
