@(user: securesocial.core.Identity,
  id: Option[Long],
  brands: List[Brand],
  currentUserId: Long,
  emptyForm: Boolean,
  form: Form[Event])(implicit flash: Flash, token: play.filters.csrf.CSRF.Token)

@import helper.CSRF
@import views.Countries
@import views.Languages
@import views.ViewHelpers._


@* Returns a comma-separated list of validation error messages, for one or more fields. *@
@fieldErrors(fields: Field*) = {
  @if(fields.exists(_.hasErrors)) {
    @fields.map(_.errors.map(error => Messages(error.message, error.args: _*))).flatten.toSet.mkString(", ")
  }
}

@defining(form.value.map(event => "Event %s".format(event.title)).getOrElse("Add event")) { eventTitle =>
  @main("Events", "events", Some(user)) {
    <div id="error">
      @if(form.hasErrors) {
        @html.error()
      }
    </div>
    <div class="col-md-8">
      <div class="page-header">
        <h1>@eventTitle</h1>
      </div>
      <div id="emptyForm" value="@emptyForm"></div>

      @html.form(action = CSRF(id.map(id => routes.Events.update(id)).getOrElse(routes.Events.create()))) {
        <div id="currentUserId" value="@currentUserId"></div>
        <div id="currentEventTypeId" value="@form("eventTypeId").value"></div>
        <div id="currentInvoiceToId" value="@form("invoice.invoiceTo").value"></div>
        @html.twoInRow(form("brandCode"),
          html.select(form("brandCode"), brands.map(v => v.code -> v.name))(asIs, implicitly[Lang]),
          form("eventTypeId"),
          html.select(form("eventTypeId"), Seq(("", "Choose an event type")))(asIs, implicitly[Lang]),
          "Brand & Title"
        )
        @html.text(form("title"), '_label -> "", '_placeholder -> "Title")
        @html.twoInRow(form("spokenLanguage"),
          html.select(form("spokenLanguage"), ("", "Choose a language") +: Languages.all.toList.sortBy(_._2))(asIs, implicitly[Lang]),
          form("materialsLanguage"),
          html.select(form("materialsLanguage"), ("", "Choose a language") +: Languages.all.toList.sortBy(_._2))(asIs, implicitly[Lang]),
          "Spoken & Materials Languages"
        )
        @html.twoInRow(form("location.country"),
          html.select(form("location.country"), ("", "Choose a country") +: Countries.all)(asIs, implicitly[Lang]),
          form("location.city"),
          html.text(form("location.city"))(asIs, implicitly[Lang]),
          "Country & City"
        )
        @html.textarea(form("details.description"), '_label -> "Description",
          'rows -> 3, '_help -> views.html.markdownHelp())
        @html.textarea(form("details.specialAttention"), '_label -> "Special attention",
          'rows -> 3, '_help -> views.html.markdownHelp())

        @if(form.error("facilitatorIds").isDefined) {
        <div id="facilitatorIds_field" class="form-group has-error">
        } else {
        <div id="facilitatorIds_field" class="form-group">
        }
          <label for="facilitatorIds" class="control-label col-sm-3">Facilitators</label>
          <div class="col-sm-9">
            <div class="input col-xs-5 padding-fix">
                <select id="facilitatorIds" class="form-control"></select>
                @if(form.error("facilitatorIds").isDefined) {
                  <span class="help-block">@form.error("facilitatorIds").get.message</span>
                } else {
                  <span class="help-block">Choose at least one facilitator</span>
                }
            </div>
            <div id="chosenFacilitators" class="col-xs-5 padding-fix"
              value="@helper.repeat(form("facilitatorIds"), min=0) { f =>@f.value,}">
            </div>
          </div>
          <div id="no_org_warning" class="col-sm-9 col-sm-offset-3"></div>
      </div>

        <legend>Schedule</legend>
        @html.twoInRow(form("schedule.start"),
          html.date(form("schedule.start"))(asIs, implicitly[Lang]),
          form("schedule.end"),
          html.date(form("schedule.end"))(asIs, implicitly[Lang]),
          "Start date/End date"
        )
        @html.twoInRow(form("schedule.hoursPerDay"),
          html.number(form("schedule.hoursPerDay"))(asIs, implicitly[Lang]),
          form("schedule.totalHours"),
          html.number(form("schedule.totalHours"))(asIs, implicitly[Lang]),
          "Hours per Day/Total Hours"
        )
        <legend>Misc</legend>
        @html.text(form("details.webSite"), '_label -> "Organizer website",
          'placeholder -> "http://", '_help -> "Web site URL")
        @html.text(form("details.registrationPage"), '_label -> "Registration page",
          'placeholder -> "http://", '_help -> "Web site URL")
        @html.checkbox(form("notPublic"),
          '_label -> "Private Event : Private events are not shown on the calendar, but evaluation is still possible",
          '_help -> "")
        @html.checkbox(form("archived"),
          '_label -> "Archived Event : Evaluation is not possible anymore for archived events",
          '_help -> "")
        @html.checkbox(form("confirmed"),
          '_label -> "Confirmed Event : Invoicing for licenses only happens for confirmed events",
          '_help -> "")
        <legend>Invoice</legend>
        @html.select(form("invoice.invoiceTo"), Nil, '_label -> "Invoice To", '_help -> "")
        <div clas="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-9">
            <button class="btn btn-primary btn-block pull-right" type="submit">Save</button>
          </div>
        </div>
      }
    </div>
    <script src='@routes.Assets.at("event/form.js")' type="text/javascript"></script>

  }
}
