@(user: securesocial.core.Identity, events: List[Event])(implicit request: Request[Any], flash: Flash, handler: AuthorisationHandler)
@import models.UserRole.Role._
@import be.objectify.deadbolt.scala.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@main("Events", Some(user)) {

  <div class="span7">
  <h1>Events</h1>
  </div>
  @dynamic(handler, "event", "add") {
    <div class="span3">
      <a class="btn btn-success" href="@routes.Events.add()">
      <i class="icon-plus icon-white"></i>Add Event</a>
    </div>
  }

  <div class="span10">
    @if(events.isEmpty) {
      <p>There are no events</p>
    } else {
      @table(events) { event =>
          @restrict(handler, List(as(Editor.toString))) {
            <a href="@routes.Events.edit(event.id.get)"><i class="icon-pencil"></i> Edit</a><br/>
            <a href="@routes.Events.duplicate(event.id.get)"><i class="icon-pencil"></i> Duplicate</a><br/>
          }
      }
    }
  </div>

	<script src="@routes.Assets.at("index.js")" type="text/javascript"></script>
}
