@(user: securesocial.core.Identity,
  brands: List[Brand],
  facilitators: play.api.libs.json.JsValue,
  userName: String,
  personalLicense: String)(implicit request: Request[Any], flash: Flash, handler: AuthorisationHandler)

@import be.objectify.deadbolt.scala.views.html._
@import play.api.libs.json._

@main("Events", "events", Some(user)) {

  @html.indexPageHeader("Events") {
    @dynamic(handler, "event", "add") {
      <a class="btn btn-success pull-right" href="@routes.Events.add()">
      <i class="glyphicon glyphicon-plus glyphicon-white"></i> Add Event</a>
    }
  }

  <div class="col-md-12">
    <input type="hidden" id="userName" value="@userName"/>
    <input type="hidden" id="personalLicense" value="@personalLicense"/>
    <div id="filter-containter">
      <div class="toolbar pull-right">
        <div class="btn-group">
          <select id="brands" class="input-sm form-control">
            <option value="all">All</option>
            @brands.map { v =>
              <option value="@v.code">@v.name</option>
            }
          </select>
        </div>
        <div class="btn-group">
          <select id="facilitators" class="input-sm form-control">
            <option value="all">All</option>
          </select>
        </div>
        <div class="btn-group">
          <select id="past-future" class="input-sm form-control">
            <option value="all">All</option>
            <option value="future" selected>Future</option>
            <option value="past">Past</option>
          </select>
        </div>
        <div class="btn-group">
          <select id="private" class="input-sm form-control">
            <option value="all">All</option>
            <option value="public">Public</option>
            <option value="private">Private</option>
          </select>
        </div>
        <div class="btn-group">
          <select id="archived" class="input-sm form-control">
            <option value="all">All</option>
            <option value="current">Current</option>
            <option value="archived">Archived</option>
          </select>
        </div>
      </div>
    </div>
    <table id="events" class="datatables table table-bordered">
      <thead>
        <tr>
          <th>Title</th>
          <th>Brand</th>
          <th>Facilitators</th>
          <th>Location</th>
          <th>Dates</th>
          <th>Total hours</th>
          <th>Materials</th>
          <th>Invoice</th>
          <th>Confirmed</th>
          <th></th>
        </tr>
      </thead>
    </table>
  </div>

  <script type="text/javascript">
    var facilitators = @Html(facilitators.toString()) ;
    console.log(facilitators);
  </script>
  <script src="@routes.Assets.at("event/index.js")" type="text/javascript"></script>
}
