@(user: securesocial.core.Identity, events: List[Event])(implicit request: Request[Any], flash: Flash, handler: AuthorisationHandler)
@import models.UserRole.Role._
@import be.objectify.deadbolt.scala.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@main("Events", "events", Some(user)) {

  @html.indexPageHeader("Events") {
    @dynamic(handler, "event", "add") {
      <a class="btn btn-success pull-right" href="@routes.Events.add()">
      <i class="glyphicon glyphicon-plus glyphicon-white"></i> Add Event</a>
    }
  }

  <div class="col-md-12">
    @if(events.isEmpty) {
      <p>There are no events</p>
    } else {
      @table(events) { event =>
          @restrict(handler, List(as(Editor.toString))) {
            <a href="@routes.Events.edit(event.id.get)">
              <i class="glyphicon glyphicon-pencil"></i> Edit</a><br/>
            <a href="@routes.Events.duplicate(event.id.get)">
              <i class="glyphicon glyphicon-edit"></i> Duplicate</a><br/>
          }
      }
    }
  </div>

	<script src="@routes.Assets.at("event/index.js")" type="text/javascript"></script>
}
