<div id="request" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="requestLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Request Evaluations</h3>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <h4>Choose participants</h4>
          <table id="participantList" class="table table-bordered">
            <tbody>
            </tbody>
          </table>
          <h4>Write a request body</h4>
          <textarea name="body" class="form-control" rows="5"></textarea>
          <span class="help-block">The letter will have "Hi [participant name]," in its header</span>
        </form>
      </div>
      <div class="modal-footer">
        <a id="approveLink" class="btn btn-primary" href="#">Send</a>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      </div>
    </div>
  </div>
</div>