@(event: Event, facilitatorId: Long, evaluationUrl: Option[String])(implicit token: play.filters.csrf.CSRF.Token)

@import helper.CSRF

<div id="request" class="modal fade b-modal js-request-evaluation" tabindex="-1" role="dialog" aria-labelledby="requestLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <a href="#" class="b-modal__close" data-dismiss="modal" aria-hidden="true">×</a>

            <div class="request-dlg">
                <h2 class="request-dlg__title">
                    Request Evaluations
                </h2>
                <form class="request-dlg__form"
                    id="requestForm"
                    action="@CSRF(controllers.event.routes.Requests.send(event.id.get))" method="post">

                    <div class="request-dlg__i type-hightlight">
                        <h4 class="request-dlg__i-title">
                            1. Choose participants
                        </h4>

                        <div class="request-particip">
                            <div class="request-particip__head">
                                <div class="text">Select: </div>
                                <a href="#" class="link-blue" data-requesteval-filter="all">All</a>
                                <a href="#" class="link-blue" data-requesteval-filter="with">Only with evaluations</a>
                                <a href="#" class="link-blue" data-requesteval-filter="without">Only without evaluations</a>
                                <a href="#" class="link-blue" data-requesteval-filter="none">None</a>
                            </div>

                            <script type="text/template" id="request-dlg-template">
                                <label class="request-particip__i ">
                                    <input type="checkbox"
                                            class=" <%= status? ' have-evaluation': ''%>"
                                            name="participantIds[<%= index %>]"
                                            value = "<%= value %>"  />
                                    <span class="text"><%= name %></span>
                                </label>
                            </script>

                            <div class="request-particip__list" data-requesteval-list></div>
                        </div>
                    </div>
                    <div class="request-dlg__i">
                        <h4 class="request-dlg__i-title">
                            2. Write a request body
                        </h4>
                        <div class="request-dlg__i-text">
                            Your letter should contain a link to an evaluation form. Use
                             <a target="_blank" href="http://daringfireball.net/projects/markdown/syntax" class="link-blue">Markdown</a>
                                to formating.
                        </div>
                        <div class="h-rel">
                            <textarea name="body" cols="30" rows="10"
                                class="request-dlg__i-textarea form-control"
                                data-requesteval-textarea
                                markdownpreview
                                data-markdownclass = "request-dlg__markdown"
                                data-markdownposition = "not-fixed">
                            @mail.templates.evaluation.html.requestBody("#### Hi PARTICIPANT_NAME_TOKEN, ####", event, facilitatorId, evaluationUrl)
                            </textarea>
                        </div>

                        <div class="request-dlg__i-hint">
                            The letter will have "The [brand] team" in its footer
                        </div>
                    </div>
                    <div class="request-dlg__buttons">
                        <button id="requestButton"
                            data-requesteval-submit
                            class="btn btn-primary request-dlg__btn-save"
                            type="submit"
                            form="requestForm" disabled>
                            Send
                        </button>

                        <a href="#" class="link-blue request-dlg__cancel" data-dismiss="modal" aria-hidden="true">Cancel</a>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>