@(events: List[Event])(actions: (Event) => Html)
@import models.UserRole.Role._
@import be.objectify.deadbolt.scala.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@if(!events.isEmpty) {

  <style>
      #events tr *:nth-child(9) {
        display: none;
      }
      #events tr *:nth-child(10) {
        display: none;
      }

  </style>
  <div id="filter-containter">
    <div class="btn-toolbar pull-right">
      <div class="btn-group">
        <select id="past-future" class="input-sm form-control">
          <option value="all">All</option>
          <option value="future" selected>Future</option>
          <option value="past">Past</option>
        </select>
      </div>
      <div class="btn-group">
        <select id="private" class="input-sm form-control">
          <option value="all">All</option>
          <option value="public">Public</option>
          <option value="private">Private</option>
        </select>
      </div>
      <div class="btn-group">
        <select id="archived" class="input-sm form-control">
          <option value="all">All</option>
          <option value="current">Current</option>
          <option value="archived">Archived</option>
        </select>
      </div>
    </div>
  </div>
  <table id="events" class="datatables table table-bordered">
    <thead>
        <tr>
          <th>Title & Location</th>
          <th>Brand</th>
          <th>Facilitators</th>
          <th>Location</th>
          <th>Dates</th>
          <th>Total hours</th>
          <th>Materials</th>
          <th>Invoice</th>
          <th>Private</th>
          <th>Archived</th>
          <th>Confirmed</th>
          <th></th>
        </tr>
    </thead>
    <tbody>
    @for(event <- events) {
        <tr>
            <td><a href="@routes.Events.details(event.id.getOrElse(0))">@event.title</a></td>
            <td><a href="@routes.Brands.details(event.brandCode)">@event.brandCode</a></td>
            <td>
                @for(facilitator <- event.facilitators) {
                    <div><a href="@routes.People.details(facilitator.id.getOrElse(0))">@facilitator.fullName</a><br/></div>
                }
            </td>
            <td><img width="16" src="/assets/images/flags/16/@(event.location.countryCode.toLowerCase).png" align="absmiddle">
                @event.location.city</td>
            <td style="white-space: nowrap;">@event.schedule.start / @event.schedule.end</td>
            <td>@event.schedule.totalHours</td>
            <td>@event.materialsLanguage</td>
            <td>@event.invoice.invoiceBy.map{ v => Yes }.getOrElse("No")</td>
            <td>@event.notPublic</td>
            <td>@event.archived</td>
            <td>@if(event.confirmed) {
              <span class="label label-success">yes</span>
            } else {
              <span class="label label-danger">no</span>
            }</td>
            <td>@actions(event)</td>
        </tr>
    }
    </tbody>
  </table>
}
