@(user: ActiveUser,
  brandId: Long,
  form: Form[TestimonialFormData],
  testimonialId: Option[Long] = None)(implicit flash: Flash,
        request: Request[Any],
        handler: be.objectify.deadbolt.scala.DeadboltHandler,
        token: play.filters.csrf.CSRF.Token,
        messages: Messages)

@import helper.CSRF
@import views.ViewHelpersV2._

@v2.main("Testimonial", "brand", user, withMelly = true) {
    <div class="form">
        @v2.html.block("") { <h1>Add Testimonial</h1> }
        @v2.html.form(action = testimonialId.map { id =>
            CSRF(routes.BrandTestimonials.update(brandId, id))
        }.getOrElse {
            CSRF(routes.BrandTestimonials.create(brandId))
        }) {
            @v2.html.block("") {
                @v2.html.textarea(form("content"), true, "Testimonial")
                @v2.html.text(form("name"), true, "Name")
                @v2.html.text(form("company"), false, "Company / Job role")
            }
            @if(form.hasErrors) {
                @v2.html.block("") {
                    <div class="errors">
                    @for(error <- form.errors) {
                        @Messages(error.message)<br/>
                    }
                    </div>
                }
            }
            @v2.html.block("") {
                <div class="row">
                    <div class="col-md-5">
                        <button class="btn btn-primary btn-block btn-lg" type="submit">
                            Save</button>
                    </div>
                    <div class="col-md-3 cancel">
                        <a href="javascript:history.back()">Cancel changes</a></div>
                </div>
            }
        }
    </div>
}