@(user: ActiveUser,
  brandId: Long,
  form: Form[TestimonialFormData],
  testimonialId: Option[Long] = None)(implicit flash: Flash,
        request: Request[Any],
        handler: be.objectify.deadbolt.scala.DeadboltHandler,
        token: play.filters.csrf.CSRF.Token,
        messages: Messages)

@import helper.CSRF
@import views.ViewHelpersV2._

@v2.main("Testimonial", "brand", user, withMelly = true) {
    <div class="b-form">
        <div class="container">
            <h1 class="b-form__title">Add Testimonial</h1>
        </div>
        @v2.html.form(action = testimonialId.map { id =>
            CSRF(routes.BrandTestimonials.update(brandId, id))
        }.getOrElse {
            CSRF(routes.BrandTestimonials.create(brandId))
        }) {
            @v2.html.formBlock("") {
                @v2.html.textarea(form("content"), true, "Testimonial")
                @v2.html.text(form("name"), true, "Name")
                @v2.html.text(form("company"), false, "Company / Job role")
            }
            @if(form.hasErrors) {
                @v2.html.formBlock("") {
                    <div class="b-form__errors">
                    @for(error <- form.errors) {
                        @Messages(error.message)<br/>
                    }
                    </div>
                }
            }
            @v2.html.formBlock("") {
                <div class="row">
                    <button class="btn btn-primary b-form__btn-submit" type="submit">
                        Save
                    </button>
                    <a class="b-form__btn-cancel link-blue" href="javascript:history.back()">Cancel changes</a>
                </div>
            }
        }
    </div>
}