@(event: Event, brand: Brand, url: String)

@mail.templates.html.tmpl("Confirm your event", controllers.Brands.pictureUrl(brand)) {

    @mail.templates.html.title("Hi there,")
    @mail.templates.html.paragraph {
        You received this e-mail because you are a facilitator for a @brand.name event
        <a href="@url@routes.Events.details(event.id.getOrElse(0))" target="_blank">@event.title</a>.
    }
    @mail.templates.html.paragraph {
        It's coming!
    }
    @mail.templates.html.paragraph {
        Please, follow  <a href="@url@routes.Events.details(event.id.getOrElse(0))" target="_blank">the link</a>
        to confirm the event if it actually took place or delete it.
    }
    @mail.templates.html.paragraph {
        The @brand.name team
    }
    @brand.webSite.map { url =>
        @mail.templates.html.link(url)
    }
}
