@import models.cm.event.Comparator
@(event: models.cm.Event,
    eventType: String,
    brand: Brand,
    changes: List[Comparator.FieldChange])(implicit request: RequestHeader,
        messages: Messages)

@import laika.api._
@import laika.parse.markdown.Markdown
@import laika.render.HTML

@mail.templates.html.tmpl(s"Event '${event.title}'", controllers.Brands.pictureUrl(brand)) {
<tr>
    <td valign="top">
        @event.details.description.map { description => @Html(Transform.from(Markdown).to(HTML).fromString(description).toString) }
        <p><a href="@routes.Events.details(event.id.getOrElse(0)).absoluteURL(true)">Click to review</a></p>

        @if(changes.nonEmpty) {
            <h2>Changes</h2>
            <table cellpadding="2" cellspacing="2" border="1" align="center" width="100%"
            style="font-size: 12px ; line-height:16 px">
                <thead>
                    <tr>
                        <th>Field</th>
                        <th>Now</th>
                        <th>Was</th>
                    </tr>
                </thead>
                <tbody>
                @for(field <- changes) {
                    @defining(field.printable()) { value =>
                        @if(value._1 == "Description" || value._1 == "Special Attention") {
                            <tr>
                                <td width="150"><strong>@value._1</strong></td>
                                <td>@Html(value._2)</td>
                                <td>@Html(value._3)</td>
                            </tr>
                        } else {
                            <tr>
                                <td width="150"><strong>@value._1</strong></td>
                                <td>@value._2</td>
                                <td>@value._3</td>
                            </tr>
                        }

                    }
                }
                </tbody>
            </table>
            <br/><br/>
        }

        <h2>Event details</h2>
        <table cellpadding="2" cellspacing="2" border="1" align="center" width="100%"
            style="font-size: 12px ; line-height:16 px">
            <tbody>
                <tr>
                    <td width="150"><strong>Brand</strong></td>
                    <td>@brand.name</td>
                </tr>
                <tr>
                    <td width="150"><strong>Event Type</strong></td>
                    <td>@eventType</td>
                </tr>
                <tr>
                    <td width="150"><strong>Spoken Languages</strong></td>
                    <td>@event.spokenLanguage</td>
                </tr>
                <tr>
                    <td width="150"><strong>Materials Language</strong></td>
                    <td>@event.materialsLanguage</td>
                </tr>
                <tr>
                    <td width="150"><strong>City</strong></td>
                    <td>@event.location.city</td>
                </tr>
                <tr>
                    <td width="150"><strong>Country</strong></td>
                    <td>@Messages("country." + event.location.countryCode)</td>
                </tr>
                @event.details.specialAttention.map { text =>
                    <tr>
                        <td width="150"><strong>Special Attention</strong></td>
                        <td>@Html(Transform.from(Markdown).to(HTML).fromString(text).toString)</td>
                    </tr>
                }
                <tr>
                    <td width="150"><strong>Start Date</strong></td>
                    <td>@event.schedule.start.toString</td>
                </tr>
                <tr>
                    <td width="150"><strong>End Date</strong></td>
                    <td>@event.schedule.end.toString</td>
                </tr>
                <tr>
                    <td width="150"><strong>Hours Per Day</strong></td>
                    <td>@event.schedule.hoursPerDay.toString</td>
                </tr>
                <tr>
                    <td width="150"><strong>Total Hours</strong></td>
                    <td>@event.schedule.totalHours.toString</td>
                </tr>
                <tr>
                    <td width="150"><strong>Private</strong></td>
                    <td>@event.notPublic.toString</td>
                </tr>
                <tr>
                    <td width="150"><strong>Archived</strong></td>
                    <td>@event.archived</td>
                </tr>
                <tr>
                    <td width="150"><strong>Follow Up</strong></td>
                    <td>@event.followUp</td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
}
