@(user: ActiveUser,
    brand: Brand,
    brands: List[Brand])(implicit request: Request[Any],
    flash: Flash,
    handler: AuthorisationHandler)


@v2.main("Statistics", "statistics", user) {
  @v2.element.brandHeader(brand, brands, "statistics", facilitator = user.account.isFacilitatorNow) { }
  <input type="hidden" id="activeBrandId" value="@brand.identifier"/>
  <div class="container">
    <div class="row statistics-block">
      <div class="col-md-12"><h2>Facilitators</h2></div>
      <div class="col-md-3 info numbers">
        <div><span class="number" id="facilitatorTotal"></span> facilitators</div>
        <div>
          <span class="number" id="facilitatorActive"></span> active facilitators
          <i class="glyphicon glyphicon-info-sign" data-toggle="tooltip"
            data-placement="bottom" title="Facilitators are active if they have a confirmed event in last six months or a scheduled event"></i>
        </div>
        <div><span class="number" id="facilitatorWithGoodProfile"></span> facilitators with good profiles
          <i class="glyphicon glyphicon-info-sign" data-toggle="tooltip"
            data-placement="bottom" title="Profile is good if it's more than 80% completed"></i>
        </div>
        <div><span class="number" id="facilitatorJoined"></span> joined last month</div>
        <div><span class="number" id="facilitatorLeft"></span> quit last month</div>
      </div>
      <div class="col-md-9">
        <canvas id="facilitatorChart" width="700" height="400"></canvas>
      </div>
    </div>
    <div class="row statistics-block">
      <div class="col-md-12">
        <h3>Top 10 facilitators with most events in last six months</h3>
      </div>
      <div class="col-md-6">
        <canvas id="topFacilitatorsChart" width="550" height="400"></canvas>
      </div>
      <div class="col-md-4 info">
        <table class="table table-bordered" id="facilitatorList">
          <thead>
            <tr>
              <th>#</th>
              <th>Facilitator</th>
              <th>Number of events</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
    <div class="row statistics-block">
      <div class="col-md-12"><h2>Events</h2></div>
      <div class="col-md-3 info numbers">
        <div><span class="number" id="eventTotal"></span> events</div>
        <div><span class="number" id="futurePaid"></span> future paid events</div>
        <div><span class="number" id="futureFree"></span> future free events</div>
        <h3>Last month</h3>
        <div><span class="number" id="confirmedPaid"></span> confirmed paid events</div>
        <div><span class="number" id="confirmedFree"></span> confirmed free events</div>
        <div><span class="number" id="canceledPaid"></span> canceled paid events</div>
        <div><span class="number" id="canceledFree"></span> canceled free events</div>
        <div><span class="number" id="rating"></span> average rating</div>
        <div><span class="number" id="nps"></span> NPS</div>
      </div>
      <div class="col-md-9">
        <canvas id="eventChart" width="700" height="400"></canvas>
      </div>
    </div>
    <div class="row statistics-block">
      <div class="col-md-12">
        <h3>Top 10 countries with most events in last six months</h3>
      </div>
      <div class="col-md-6">
        <canvas id="countryChart" width="550" height="400"></canvas>
      </div>
      <div class="col-md-4 info">
        <table class="table table-bordered" id="countryList">
          <thead>
            <tr>
              <th>#</th>
              <th>Country</th>
              <th>Number of events</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
    <div class="row statistics-block">
      <div class="col-md-12"><h2>Organizers</h2></div>
      <div class="col-md-3 info numbers">
        <div><span class="number" id="organizers"></span> active organizers
          <i class="glyphicon glyphicon-info-sign" data-toggle="tooltip"
            data-placement="bottom" title="Organizers are active if they have a confirmed event in last six months or a scheduled event"></i>
        </div>
      </div>
      <div class="col-md-9">
      </div>
    </div>
    <div class="row statistics-block">
      <div class="col-md-12"><h2>Participants</h2></div>
      <div class="col-md-3 info numbers">
        <div><span class="number" id="participantsTotal"></span> participants</div>
      </div>
      <div class="col-md-9">
        <canvas id="participantChart" width="700" height="400"></canvas>
      </div>
    </div>
    <div class="row statistics-block">
      <div class="col-md-12">
        <h3>Distribution of participants by roles</h3>
      </div>
      <div class="col-md-6">
        <canvas id="rolesChart" width="550" height="400"></canvas>
      </div>
      <div class="col-md-4 info">
        <table class="table table-bordered" id="rolesList">
          <thead>
            <tr>
              <th>Role</th>
              <th># of participants</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
  <script src="@routes.Assets.at("javascripts/Chart.min.js")"></script>
  <script src="@routes.Assets.at("statistics/index.js")" type="text/javascript"></script>
}
