@(attendee: models.event.Attendee,
    evaluation: Option[Evaluation],
    coordinator: Boolean,
    identicalEvaluation: Option[Evaluation])(implicit request: Request[Any],
    token: play.filters.csrf.CSRF.Token)

<table class="table table-rowed">
  <tr><td class="person-actions">
    <strong class="text-muted">Manage Attendee:</strong>&nbsp;
      @if(attendee.personId.isEmpty) {
        <a href="@controllers.event.routes.Attendees.edit(attendee.eventId, attendee.identifier)">Edit</a>
      }
      <a class="delete-person" href="#" data-id="@attendee.id" data-event="@attendee.eventId">Delete</a>
      @if(coordinator && evaluation.isEmpty) {
        <a href="@routes.Evaluations.add(attendee.eventId, attendee.identifier)">Add Evaluation</a>
      }
  </td></tr>
  @evaluation.map { eval =>
    <tr><td class="evaluation-actions">
      <strong class="text-muted">Manage Evaluation:</strong>
      @views.html.v2.evaluation.body(eval, identicalEvaluation)
    </td></tr>
  }
</table>