@import models.cm.event.Attendee
@(attendee: Attendee,
    evaluation: Option[models.cm.Evaluation],
    coordinator: Boolean,
    identicalEvaluation: Option[models.cm.Evaluation])(implicit request: Request[Any],
    token: play.filters.csrf.CSRF.Token)

@import views.Countries
    
<table class="table">
    <tr><td class="person-actions">
        <strong class="text-muted">Manage Attendee:</strong>&nbsp;
          @if(attendee.personId.isEmpty) {
            <a href="@controllers.event.routes.Attendees.edit(attendee.eventId, attendee.identifier)">Edit</a>
          }
          <a class="delete-person" href="#" data-id="@attendee.id" data-event="@attendee.eventId">Delete</a>
          @if(coordinator && evaluation.isEmpty) {
            <a href="@routes.Evaluations.add(attendee.eventId, attendee.identifier)">Add Evaluation</a>
          }
        <br/><br/>
        @attendee.countryCode.map { code =>
            <div class="col-md-3">
                <strong>Address</strong><br/>
                @attendee.street_1.map { addressLine =>
                    @addressLine,
                }
                @attendee.street_2.map { addressLine =>
                    @addressLine,
                }
                @if(attendee.street_1.nonEmpty || attendee.street_2.nonEmpty) {
                    <br>
                }
                @attendee.city.map { addressLine =>
                    @addressLine,
                }
                @attendee.province.map { addressLine =>
                    @addressLine
                }
                @attendee.postcode.map { addressLine =>
                    @addressLine
                }
                @if(attendee.city.nonEmpty || attendee.province.nonEmpty || attendee.postcode.nonEmpty) {
                    <br/>
                }
                @Countries.name(code)
            </div>
        }
        @attendee.organisation.map { organisation =>
            <div class="col-md-3">
                <strong>Organisation</strong><br/>
                <span class="text-muted">@organisation</span><br/>
            </div>
        }
        @attendee.role.map { role =>
            <div class="col-md-3">
                <strong>Role</strong><br/>
                <span class="text-muted">@role</span><br/>
            </div>
        }
        @attendee.comment.map { comment =>
            <strong>Comment</strong><br/>
            <span class="text-muted">@comment</span><br/>
        }
  </td></tr>
  @evaluation.map { eval =>
    <tr><td class="evaluation-actions">
      <strong class="text-muted">Manage Evaluation:</strong>
      @views.html.v2.evaluation.body(eval, identicalEvaluation)
    </td></tr>
  }
</table>