@(user: ActiveUser,
    attendeeId: Option[Long],
    eventId: Long,
    form: Form[models.event.Attendee])(implicit flash: Flash,
        request: Request[Any],
        handler: be.objectify.deadbolt.scala.DeadboltHandler,
        token: play.filters.csrf.CSRF.Token,
        messages: Messages)

@import helper.CSRF
@import views.{Countries, Attendees}
@import views.ViewHelpersV2._

@v2.main("Person", "people", user, withMelly = true) {
    <div class="form">
        @v2.html.block("") {
            @if(attendeeId.isEmpty) {
                <h1>Add Attendee</h1>
            } else {
                <h1>Edit Attendee</h1>
            }
        }
        @html.form(action = CSRF(attendeeId.map { value =>
            controllers.event.routes.Attendees.update(eventId, value)
        }.getOrElse {
            controllers.event.routes.Attendees.create(eventId)
        })) {
            @v2.html.block("Personal") {
                @v2.html.text(form("firstName"), '_label -> "First name", '_required -> true, '_help -> "")
                @v2.html.text(form("lastName"), '_label -> "Last name", '_required -> true, '_help -> "")
                @v2.html.email(form("email"), '_label -> "E-mail address", '_required -> true, '_help -> "")
                @v2.html.date(form("birthday"), '_label -> "Date of birth")
            }
            @v2.html.block("Address", Some("grey")) {
                @v2.html.text(form("street1"), '_label -> "Address line 1")
                @v2.html.text(form("street2"), '_label -> "Address line 2")
                @v2.html.text(form("postCode"), '_label -> "Post code")
                @v2.html.text(form("city"), '_label -> "City")
                @v2.html.text(form("province"), '_label -> "Province or state")
                @v2.html.select(form("country"), ("", "Choose a country") :: Countries.all,
                    '_label -> "Country", '_help -> "")
            }
            @v2.html.block("Role", Some("yellow")) {
                @v2.html.select(form("role"),
                    ("", "I don't know") :: Attendees.roles.map(x => (x, x)), '_label -> "Role", '_help -> "")
            }
            @if(attendeeId.isEmpty) {
                @v2.html.block("OptOut") {
                    @v2.html.checkboxWithDescription(form("optOut"), '_label -> "OptOut",
                        '_desc -> "I don't want to use this attendee in any marketing campaign")
                }
            } else {
                <input type="hidden" name="outPut" value="@form("outPut").value"/>
            }

            @if(form.hasErrors) {
                @v2.html.block("") {
                    <div class="errors">
                    @for( error <- form.errors) {
                        @Messages(error.message) <br/>
                    }
                    </div>
                }
            }
            @v2.html.block("") {
                <div class="row">
                    <div class="col-md-5">
                        <button class="btn btn-primary btn-block btn-lg" type="submit">
                            Save</button>
                    </div>
                    <div class="col-md-3 cancel">
                        <a href="javascript:history.back()">Cancel changes</a></div>
                </div>
            }
        }
        </div>
    }
