@(person: Person)(implicit request: Request[Any],
    flash: Flash,
    handler: AuthorisationHandler,
    token: play.filters.csrf.CSRF.Token)

@import be.objectify.deadbolt.scala.views.html._
@import helper.CSRF
@import views.Countries

<div class="col-xs-12">
  <table class="datatables table table-bordered">
    <thead>
      <tr>
        <th>Countries you work in</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    @for(country <- person.countries) {
      <tr>
        <td>@Messages("country." + country.country)</td>
        <td>
        @dynamic(handler, "person", "edit") {
          <a href="@routes.Facilitators.deleteCountry(person.id.get, country.country)">
            <i class="glyphicon glyphicon-trash"></i> Delete</a>
        }

        </td>
      </tr>
    }
    </tbody>
  </table>
  @dynamic(handler, "person", "edit") {
    <form class="form-inline pull-right" method="POST" action="@CSRF(routes.Facilitators.addCountry(person.id.get))">
      <p>
        <select name="country" class="form-control input-sm">
        @for(country <- Countries.all.toList) {
          <option value="@country._1">@country._2</option>
        }
        </select>
        <button class="btn btn-success btn-sm"><i class="glyphicon glyphicon-plus"></i>
          Add Country</button>
      </p>
    </form>
  }
</div>