@(person: Person,
  licenses: List[LicenseView]
  )(implicit request: Request[Any], flash: Flash, handler: AuthorisationHandler, token: play.filters.csrf.CSRF.Token)

@import models.UserRole.Role._
@import be.objectify.deadbolt.scala.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

<div class="col-xs-9">
    @if(licenses.isEmpty) {
        <p>@person.fullName has no licenses.</p>
    } else {
        @views.html.license.table(licenses)
    }
    @restrict(handler, List(as(Editor.toString))) {
        <p><a href="@routes.Licenses.add(person.id.getOrElse(0))" class="btn btn-success btn-sm">
            <i class="glyphicon glyphicon-plus"></i>Add Content License</a></p>
    }
</div>