@(user: UserIdentity,
  brandId: Long,
  form: Form[TestimonialFormData],
  testimonialId: Option[Long] = None)(implicit flash: Flash,
        request: Request[Any],
        handler: AuthorisationHandler,
        token: play.filters.csrf.CSRF.Token)

@import helper.CSRF
@import views.ViewHelpers._

@main("Testimonial", "brand", user) {
  <div class="col-md-6">
    <div class="page-header">
      <h1>Add Testimonial</h1>
    </div>
    @html.form(action = testimonialId.map { id =>
      CSRF(routes.BrandTestimonials.update(brandId, id))
    }.getOrElse {
      CSRF(routes.BrandTestimonials.create(brandId))
    }) {
      @html.textarea(form("content"), '_label -> "Testimonial")
      @html.text(form("name"), '_label -> "Name")
      @html.text(form("company"), '_label -> "Company / Job role", '_help -> "")

      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
          <button class="btn btn-primary btn-block pull-right" type="submit">
            Save</button>
        </div>
      </div>
    }
  </div>
}