@(user: LoginIdentity,
        product: Product,
        derivatives: List[Product],
        parent: Option[Product],
        brands: List[BrandView],
        contributors: List[ContributorView],
        people: List[PersonSummary],
        organisations: List[Organisation])(implicit request: Request[Any], flash: Flash, handler: AuthorisationHandler, token: play.filters.csrf.CSRF.Token)

    @import helper.CSRF
    @import models.UserRole.Role._
    @import templates.Formatters._
    @import be.objectify.deadbolt.scala.views.html._
    @import be.objectify.deadbolt.core.utils.TemplateUtils._

    @main(product.title + " - Product", "products", Some(user)) {

        <div class="page-header">
            <h1>
                @product.picture.map { picture =>
                    <a href="@routes.Products.picture(product.id.get).url">
                        <img width="64" class="img-rounded" src="@routes.Products.picture(product.id.get).url"/></a>
                }
                @product.title
                <div class="actions pull-right">
                @restrict(handler, List(as(Editor.toString))) {
                    <div class="button">
                        <a class="btn btn-default" href="@routes.Products.edit(product.id.get)">
                            <i class="glyphicon glyphicon-pencil"></i> Edit
                        </a>
                    </div>
                    <div class="button">
                        <button class="btn btn-warning" type="submit">
                            <i class="glyphicon glyphicon-white glyphicon-trash"></i> Delete Picture
                        </button>
                    </div>
                    <div class="button">
                        <form class="delete form-inline" method="post" text="product"
                        action="@CSRF(routes.Products.delete(product.id.getOrElse(0)))">
                            <div data-toggle="tooltip" data-placement="bottom"
                                @if(derivatives.nonEmpty || contributors.nonEmpty) { title="@Messages("error.product.nonDeletable")" }>
                                <button class="btn btn-danger" type="submit"
                                    @if(derivatives.nonEmpty || contributors.nonEmpty) { disabled="disabled" }>
                                    <i class="glyphicon glyphicon-white glyphicon-trash"></i> Delete
                                </button>
                            </div>
                        </form>
                    </div>
                }
                </div>
            </h1>
        </div>

        <div class="col-md-4">
            @product.subtitle.map { subtitle =>
                <p><strong>Subtitle</strong>
                    <br>@subtitle</p>
            }
            @product.url.map { url =>
                <p><strong>Web site</strong>
                    <br><a href="@url" target="_blank">@url</a></p>
            }
            @product.description.map { desc =>
                <p>
                    <strong>Description</strong><br/>@desc.markdown
                </p>
            }
            @product.callToActionUrl.map { url =>
                <p><strong>Call To Action URL</strong>
                    <br><a href="@url" target="_blank">@url</a></p>
            }
            @product.callToActionText.map { text =>
                <p><strong>Call To Action button text</strong>
                    <br>@text</p>
            }
            @product.category.map { name =>
                <p><strong>Category</strong>
                    <br/><span class="label @Messages(s"models.ProductCategory.$name.label")">@Messages(s"models.ProductCategory.$name")</span>
            }
            @if(parent) {
                <p><strong>Parent Product</strong>
                    <br><a href="@routes.Products.details(parent.get.id.getOrElse(0))">@parent.get.title</a>

                    }
            <br/> <br/>
        </div>
        <div class="col-md-8">
                <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="active"><a href="#contributors" data-toggle="tab">Contributors</a></li>
                <li><a href="#products" data-toggle="tab">Derivative Products</a></li>
                <li><a href="#brands" data-toggle="tab">Brands</a></li>
            </ul>

                <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="contributors">
                    <table class="datatables table table-bordered">
                        <thead>
                            <th>Contributor</th>
                            <th>Role</th>
                            <th></th>
                        </thead>
                        <tbody>
                        @for(contributor <- contributors) {
                            <tr>
                                <td>
                                @if(contributor.contribution.isPerson) {
                                    <i class="glyphicon glyphicon-user"></i>
                                    <a href="@routes.People.details(contributor.id)">@contributor.name</a>
                                } else {
                                    <i class="glyphicon glyphicon-home"></i>
                                    <a href="@routes.Organisations.details(contributor.id)">@contributor.name</a>
                                }
                                </td>
                                <td>@contributor.contribution.role</td>
                                <td>
                                @restrict(handler, List(as(Editor.toString))) {
                                    <a href="@routes.Contributions.delete(contributor.contribution.id.get, "product")">
                                        <i class="glyphicon glyphicon-pencil"></i> Remove contributor</a>
                                }
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                    @restrict(handler, List(as(Editor.toString))) {
                        <form class="form-inline pull-right" method="POST"
                        action="@CSRF(routes.Contributions.create("contributor"))" id="contributor">
                            <input type="hidden" name="page" value="product">
                            <input type="hidden" name="productId" value="@product.id">
                            <input type="hidden" name="isPerson" value="true">
                            <select name="contributorId" id="contributorSelector" class="form-control input-sm">
                                <optgroup label="People">
                                @for(person <- people) {
                                    <option value="@person.id" isPerson="true">@(person.firstName + " " + person.lastName)</option>
                                }
                                </optgroup>
                                <optgroup label="Organisations">
                                @for(organisation <- organisations) {
                                    <option value="@organisation.id" isPerson="false">@organisation.name</option>
                                }
                                </optgroup>
                            </select>
                            <input name="role" placeholder="Role" class="form-control input-sm">
                            <button class="btn btn-success btn-sm"><i class="glyphicon glyphicon-plus"></i>
                                Add Contribution</button>
                        </form>
                    }
                </div>
                <div class="tab-pane" id="products">
                @views.html.product.table(derivatives) { product =>
                    @restrict(handler, List(as(Editor.toString))) {
                        <a href="@routes.Products.edit(product.id.get)">
                            <i class="glyphicon glyphicon-pencil"></i> Edit</a>
                    }
                }
                </div>
                <div class="tab-pane" id="brands">
                    <table class="datatables table table-bordered">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        @for(brand <- product.brands) {
                            <tr>
                                <td><a href="@routes.Brands.details(brand.code)">@brand.name</a></td>
                                <td>
                                @restrict(handler, List(as(Editor.toString))) {
                                    <a href="@routes.Products.deleteBrand("product", product.id.get, brand.id.get)">
                                        <i class="glyphicon glyphicon-pencil"></i> Unassign brand</a>
                                }
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                    @restrict(handler, List(as(Editor.toString))) {
                        <form class="form-inline pull-right" method="POST" action="@CSRF(routes.Products.addBrand)">
                            <p>
                                <input type="hidden" name="page" value="product">
                                <input type="hidden" name="productId" value="@product.id.get">
                                <select name="brandId" class="form-control input-sm">
                                @for(brandView <- brands) {
                                    <option value="@brandView.brand.id.get">@brandView.brand.name</option>
                                }
                                </select>
                                <button class="btn btn-success btn-sm"><i class="glyphicon glyphicon-plus"></i>
                                    Assign Brand</button>
                            </p>
                        </form>
                    }
                </div>
            </div>
        </div>
        <script src="@routes.Assets.at("details.js")" type="text/javascript"></script>
    }

