@(user: securesocial.core.Identity,
  id: Option[Long],
  title: Option[String],
  form: Form[Product])(implicit flash: Flash,
        request: Request[Any],
        handler: AuthorisationHandler,
        token: play.filters.csrf.CSRF.Token)

@import helper.CSRF
@import models.service.ProductService
@import views.ViewHelpers._

@defining(if (title) "Product %s".format(title.get) else "Add product") { productName =>
  @main("Product", "products", Some(user)) {
    @if(form.hasErrors) {
      @html.error()
    }
    <div class="col-md-6">
      <div class="page-header">
        <h1>@productName</h1>
      </div>
      @html.form(action = CSRF(id.map(id => routes.Products.update(id)).getOrElse(routes.Products.create())),
        'enctype -> "multipart/form-data") {
          @html.text(form("title"), '_label -> "Title")
          @html.text(form("subtitle"), '_label -> "Subtitle")
          @html.text(form("url"), '_label -> "URL", '_placeholder -> "http://", '_help -> "Web site URL")
          @html.textarea(form("description"), '_label -> "Description", 'rows -> 5,
            '_help -> views.html.markdownHelp())
          @html.text(form("callToActionUrl"), '_label -> "Call To Action URL", '_placeholder -> "http://",
            '_help -> "URL for a Call To Action button")
          @html.text(form("callToActionText"), '_label -> "Button text", '_placeholder -> "Buy Now",
            '_help -> "A text for a Call To Action button")
          @html.file(form("picture"), '_label -> "Picture")
          @html.select(
            form("category"),
            ("", "None") +: models.ProductCategory.values.map(value => value.toString -> Messages(s"models.ProductCategory.${value.
            toString}")).toSeq,
            '_label -> "Category")

          @html.select(
            form("parentId"),
            ("", "Choose a product parent") :: ProductService.get.findAll.map(p => (p.id.get.toString, p.title)),
            '_label -> "Parent", '_help -> "")

        <div clas="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-9">
            <button class="btn btn-primary btn-block pull-right" type="submit">Save</button>
          </div>
        </div>
      }
    </div>
  }
}

