@(user: ActiveUser, products: List[Product])(implicit request: Request[Any], flash: Flash, handler: AuthorisationHandler)

@import be.objectify.deadbolt.scala.views.html._
@import models.UserRole.DynamicRole

@main("Products", "products", user) {

  @html.indexPageHeader("Products") {
    @dynamic(handler, DynamicRole.Funder, "0") {
      <a class="btn btn-success pull-right" href="@routes.Products.add()">
      <i class="glyphicon glyphicon-plus glyphicon-white"></i> Add Product</a>
    }
  }

  <div class="col-md-12">
    @if(products.isEmpty) {
      <p>There are no products</p>
    } else {
      @table(products) { product =>
        @dynamic(handler, DynamicRole.Funder, "0") {
          <a href="@routes.Products.edit(product.id.get)"><i class="glyphicon glyphicon-pencil"></i> Edit</a>
        }
      }
    }
  </div>

  <script src="@routes.Assets.at("index.js")" type="text/javascript"></script>
}
