@(user: securesocial.core.Identity, products: List[Product])(implicit request: Request[Any], flash: Flash, handler: AuthorisationHandler)
@import models.UserRole.Role._
@import be.objectify.deadbolt.scala.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@main("Products", Some(user)) {

  <div class="col-md-7">
  <h1>Products</h1>
  </div>
  @restrict(handler, List(as(Editor.toString))) {
    <div class="col-md-3">
      <a class="btn btn-success" href="@routes.Products.add()">
      <i class="icon-plus icon-white"></i>Add Product</a>
    </div>
  }

  <div class="col-md-10">
    @if(products.isEmpty) {
      <p>There are no products</p>
    } else {
      @table(products) { product =>
        @restrict(handler, List(as(Editor.toString))) {
          <a href="@routes.Products.edit(product.id.get)"><i class="icon-pencil"></i> Edit</a>
        }
      }
    }
  </div>

  <script src="@routes.Assets.at("index.js")" type="text/javascript"></script>
}
