@(user: ActiveUser, products: List[Product])(implicit request: Request[Any],
    flash: Flash,
    handler: be.objectify.deadbolt.scala.DeadboltHandler,
    messages: Messages)

@import be.objectify.deadbolt.scala.views.html._
@import models.UserRole.Role

@main("Products", "products", user) {

  @html.indexPageHeader("Products") {
    @dynamic(handler, Role.Funder.toString, "0") {
      <a class="btn btn-success pull-right" href="@community.routes.Products.add()">
      <i class="glyphicon glyphicon-plus glyphicon-white"></i> Add Product</a>
    }
  }

  <div class="col-md-12">
    @if(products.isEmpty) {
      <p>There are no products</p>
    } else {
      @table(products) { product =>
        @dynamic(handler, Role.Funder.toString, "0") {
          <a href="@community.routes.Products.edit(product.id.get)"><i class="glyphicon glyphicon-pencil"></i> Edit</a>
        }
      }
    }
  </div>

  <script src="@routes.Assets.at("js/index.js")" type="text/javascript"></script>
}
