@(products: List[Product], viewOnly: Boolean = false)(actions: (Product) => Html)(implicit messages: Messages)

@if(products.nonEmpty) {
  <table class="datatables table ">
    <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      @if(!viewOnly) {
        <th></th>
      }
    </tr>
    </thead>
    <tbody>
    @for(product <- products) {
    <tr @if(!product.active) { class="inactive" title="Deactivated" }>
      <td><a href="@controllers.hm.routes.Products.details(product.id.getOrElse(0))">@product.title</a></td>
      <td>
        @product.category.map { name =>
          <span class="label @Messages(s"models.ProductCategory.$name.label")">@Messages(s"models.ProductCategory.$name")</span>
        }
      </td>
      @if(!viewOnly) {
        <td>@actions(product)</td>
      }
    </tr>
    }
    </tbody>
  </table>
}
