@(products: List[Product])(actions: (Product) => Html)
@import models.UserRole.Role._
@import be.objectify.deadbolt.scala.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@if(!products.isEmpty) {

  <table class="datatables table table-bordered">
    <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    @for(product <- products) {
    <tr>
    <td><a href="@routes.Products.details(product.id.getOrElse(0))">@product.title</a></td>
    <td>
      @product.category.map { name =>
        <span class="label @Messages(s"models.ProductCategory.$name.label")">@Messages(s"models.ProductCategory.$name")</span>
      }
    </td>
    <td>@actions(product)</td>
    </tr>
    }
    </tbody>
  </table>
}
