@(user: ActiveUser,
    form: Form[License],
    brands: List[(Long, String)],
    attendee: models.event.Attendee)(implicit flash: Flash,
        request: Request[Any],
        handler: be.objectify.deadbolt.scala.DeadboltHandler,
        token: play.filters.csrf.CSRF.Token,
        messages: Messages)

@import helper.CSRF

@v2.main("Add content license", "attendees", user, withMelly = true) {
    <div class="form">
        @v2.html.block("") {
            <h1>Add content license</h1>
        }
        @html.form(action = CSRF(routes.Licenses.createFromAttendee(attendee.identifier, attendee.eventId))) {
            @v2.license.form(form, brands)
        }
    </div>
}
