@import models.cm.event.Attendee
@(user: ActiveUser,
    form: Form[models.cm.License],
    brands: List[Brand],
    attendee: Attendee)(implicit flash: Flash,
        request: Request[Any],
        handler: be.objectify.deadbolt.scala.DeadboltHandler,
        token: play.filters.csrf.CSRF.Token,
        messages: Messages)

@import helper.CSRF

@v2.main("Add content license", "attendees", user, withMelly = true) {
    <div class="b-form">
        <div class="container">
            <h1 class="b-form__title">Add content license</h1>
        </div>
        @html.form(action = CSRF(routes.Licenses.createFromAttendee(attendee.identifier, attendee.eventId))) {
            @v2.license.form(form, brands)
        }
    </div>
}
