@(form: Form[License], brands: List[(Long, String)])

@import views.ViewHelpersV2._

    @v2.html.block("License") {
        @v2.html.select(form("brandId"), brands.map(x => (x._1.toString, x._2)), '_label -> "Brand", '_help -> "", '_required -> true)
        @v2.html.text(form("version"), '_label -> "Version", '_help -> "", '_required -> true)
        @v2.html.date(form("signed"), '_label -> "Date signed", '_required -> true)
        @v2.html.date(form("start"), '_label -> "Start date", '_required -> true)
        @v2.html.date(form("end"), '_label -> "End date", '_required -> true)
}
    <input type="hidden" name="confirmed" value="true" checked="checked"/>
    @v2.html.block("Fee", Some("yellow")) {
        @v2.html.money("fee", form("fee.currency"), form("fee.amount"),
            '_label -> "Fee")
    }
    @if(form.hasErrors) {
        @v2.html.block("") {
            <div class="errors">
            @for( error <- form.errors) {
                @play.api.i18n.Messages(error.message) <br/>
            }
            </div>
        }
    }
    @v2.html.block("") {
        <div class="row">
            <div class="col-md-5">
                <button class="btn btn-primary btn-block btn-lg" type="submit">
                    Save</button>
            </div>
            <div class="col-md-3 cancel">
                <a href="javascript:history.back()">Cancel changes</a></div>
        </div>
    }
