@(user: ActiveUser, booking: BookingEntry, currentUser: UserAccount,
  attachmentForm: fly.play.s3.upload.Form, activityStream: List[Activity])(implicit request: Request[Any],
        flash: Flash,
        handler: AuthorisationHandler,
        token: play.filters.csrf.CSRF.Token,
        messages: Messages)
@import scala.math.BigDecimal.RoundingMode

@import helper.CSRF
@import services.S3Bucket
@import models.UserRole.Role._
@import templates.Formatters._
@import be.objectify.deadbolt.scala.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@main(booking.summary + " - Booking", "finance", user) {

  <div class="page-header">
    <h1>
      Booking: @booking.summary
      @if(booking.editableBy(currentUser)) {
        <div class="actions pull-right">
          <div class="button">
            <a class="btn-default btn"href="@routes.BookingEntries.edit(booking.bookingNumber.get)">
              <i class="glyphicon glyphicon-pencil"></i> Edit</a>
          </div>
          <div class="button">
            <form class="delete form-inline" method="post" text="booking entry" action="@CSRF(routes.BookingEntries.delete(booking.bookingNumber.getOrElse(0)))">
              <button class="btn btn-danger" type="submit">
                <i class="glyphicon glyphicon-white glyphicon-trash"></i> Delete
              </button>
            </form>
          </div>
        </div>
      }
    </h1>
  </div>

  <div class="row">
    <div class="col-md-8">
      @booking.description.map { description =>
        <h3>Description</h3>
        <p>@description</p>
      }
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <h3>Booking details</h3>
    </div>
    <div class="col-md-4">
      <h3>File attachment</h3>
    </div>

    <div class="col-md-4">
      <p><strong>Booking number</strong>
      <br>@booking.bookingNumber.get</p>

      <p><strong>Booking owner</strong>
      <br><a href="@routes.People.details(booking.owner.id.get)">@booking.owner.fullName</a></p>

      <p><strong>Booking date</strong>
      <br>@booking.bookingDate.format</p>
    </div>

    <div class="col-md-4">
      @booking.brand.map { brand =>
        <p><strong>Brand</strong>
        <br><a href="@routes.Brands.details(brand.id.get)">@brand.name</a></p>
      }

      @booking.reference.map { reference =>
        <p><strong>Reference number</strong>
        <br>@reference</p>
      }

      <p><strong>Reference date</strong>
      <br>@booking.referenceDate.format</p>

      @booking.url.map { url =>
        <p><strong>URL</strong>
        <br><a href="@url" target="_blank">@url</a></p>
      }

      @booking.transactionType.map { transactionType =>
        <p><strong>Transaction type</strong>
        <br>@transactionType.name</p>
      }
    </div>

    <div class="col-md-4">
      @if(booking.attachmentKey.isDefined) {
        <p><i class="glyphicon glyphicon-file"></i> <a href="@booking.attachmentUrl">@booking.attachmentFilename</a></p>
      }
      <form id="attachmentUpload" action="@S3Bucket.url("")" method="post"
        class="form-inline" enctype="multipart/form-data">
        @for(field <- attachmentForm.fields) {
          @if(field.name == "key") {
            <input type="hidden" name="@field.name" value="@{field.value}/${filename}"/>
          } else {
            <input type="hidden" name="@field.name" value="@field.value"/>
          }
        }

        <input id="attachment" type="file" name="file" class="form-control"/>
      </form>
      <br/>
      <div>
        <button form="attachmentUpload" class="btn btn-primary btn-sm" type="submit">
          @booking.attachmentKey.map(_ => "Replace File").getOrElse("Upload File")
        </button>
        @if(booking.attachmentKey.isDefined) {
          <button form="attachmentDelete" class="btn btn-danger btn-sm" type="submit">
            <i class="glyphicon glyphicon-trash glyphicon-white"></i> Delete File</button>
          <form id="attachmentDelete" method="post"
            action="@CSRF(routes.BookingEntries.deleteAttachment(booking.bookingNumber.get))">
          </form>
        }
      </div>
    </div>
  </div>

  <h3>Transaction details</h3>

  <div class="row">
    <div class="col-md-4">
      <p><strong>Source amount</strong>
      <br>@booking.source.abs.format</p>
    </div>
    <div class="col-md-4">
      <p><strong>Percentage</strong>
      <br>@booking.sourcePercentage%</p>
    </div>
  </div>

  <p><strong>Transaction</strong></p>

  <div class="row">
    <div class="col-md-3">
      @booking.fromAmount.format
    </div>
    <div class="col-md-1">
      @if(booking.owes) {
        <span class="label label-success"> owes </span>
      } else {
        <span class="label label-danger"> pays </span>
      }
    </div>
    <div class="col-md-2">
      @booking.toAmount.format
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p>@booking.from.accountHolder.name</p>
    </div>
    <div class="col-md-4">
      <p>@booking.to.accountHolder.name</p>
    </div>
  </div>

  <h3>Activity</h3>
  <div class="row">
    <div class="col-md-8">
      <table class="table table-bordered">
        @for(activity <- activityStream) {
        <tr>
          <td>
            <i class="glyphicon glyphicon-activity-@activity.predicate"></i>
            @Messages("activity." + activity.predicate, activity.subject, activity.activityObject.getOrElse(""))
          </td>
          <td><small>@activity.timestamp.format</small></td>
        </tr>
        }
      </table>
    </div>
  </div>

  <script src="@routes.Assets.at("details.js")" type="text/javascript"></script>
}
