@()

<h3 id="brand">Brand details</h3>

<p>The <em>brand details</em> resource provides more details about an entry in the <a href="#brands">list</a>.</p>

<table class="table table-bordered">
    <tr>
        <th>Request</th>
        <td>
            <code>GET /api/v2/brand/{brandCode}</code><br/>
            <code>GET /api/v2/brand/{brandUniqueName}</code>
        </td>
    </tr>
    <tr>
        <th>Request path parameters</th>
        <td>
            <code>brandCode</code> unique identifier for the brand, e.g. <code>DARE</code><br/>
            <code>brandUniqueName</code> unique identifier for the brand, e.g. <code>management30</code>
        </td>
    </tr>
    <tr>
        <th>Request query string parameters</th>
        <td>none</td>
    </tr>
    <tr>
        <th>Response content type</th>
        <td><code>application/json; charset=utf-8</code></td>
    </tr>
    <tr>
        <th>Response body</th>
        <td>
            <p>A JSON object, with brand properties:</p>
            <ul>
                <li><code>code</code></li>
                <li><code>unique_name</code></li>
                <li><code>name</code></li>
                <li><code>tagline</code></li>
                <li><code>image</code> - URL of a brand's logo, excluding protocol/host</li>
                <li><code>description</code></li>
                <li><code>coordinator</code> - a JSON object with <a href="#person">person's</a> properties:
                    <ul>
                        <li><code>href</code> - URL of the <a href="#person">person details</a>
                            resource, excluding protocol/host and starting with <code>/api</code></li>
                        <li><code>name</code></li>
                        <li><code>photo</code></li>
                        <li><code>city</code></li>
                        <li><code>country</code> - ISO 8166-2 country code</li>
                    </ul>
                </li>
                <li><code>contact_info</code> - a JSON object with properties:
                    <ul>
                        <li><code>email</code></li>
                        <li><code>skype</code></li>
                        <li><code>phone</code></li>
                        <li><code>contactForm</code></li>
                    </ul>
                </li>
                <li><code>social_profile</code> - a JSON object with properties:
                    <ul>
                        <li><code>facebook</code></li>
                        <li><code>twitter</code></li>
                        <li><code>google_plus</code></li>
                        <li><code>linkedin</code></li>
                    </ul>
                </li>
                <li><code>products</code> - a list of JSON objects
                    <ul>
                        <li><code>href</code> - URL of the <a href="#product">product details</a>
                            resource, excluding protocol/host and starting with <code>/api</code></li>
                        <li><code>title</code></li>
                        <li><code>image</code> - URL of a product's image, excluding protocol/host</li>
                        <li><code>brands</code> - array of objects with properties:
                            <ul>
                                <li><code>code</code>
                                <li><code>name</code></li>
                            </ul>
                        </li>
                        <li><code>category</code></li>
                    </ul>
                </li>
                <li><code>links</code> - a list of JSON objects
                    <ul>
                        <li><code>type</code> - blog, website, video, photo, other</li>
                        <li><code>url</code></li>
                    </ul>
                </li>
                <li><code>testimonials</code> - a list of JSON objects
                    <ul>
                        <li><code>content</code></li>
                        <li><code>name</code></li>
                        <li><code>company</code> - company or job role</li>
                    </ul>
                </li>
                <li><code>events</code> - next three future public events
                    <ul>
                        <li><code>title</code></li>
                        <li><code>description</code></li>
                        <li><code>spokenLanguages</code> - an array of languages</li>
                        <li><code>start</code></li>
                        <li><code>end</code></li>
                        <li><code>hoursPerDay</code></li>
                        <li><code>totalHours</code></li>
                        <li><code>city</code></li>
                        <li><code>country</code> - ISO 8166-2 country code</li>
                        <li><code>website</code></li>
                        <li><code>registrationPage</code></li>
                        <li><code>free</code> - true if the event is free</li>
                    </ul>
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <th>Errors (HTTP status)</th>
        <td>
            <p><code>404 Not Found</code> if the specified brand is not found</p>
        </td>
    </tr>
    <tr>
        <th>Example request</th>
        <td>GET /api/v2/brand/mgt30?api_token=4d5d132664a3f42e9a04a53ca701f36a5fba53a2</td>
    </tr>
    <tr>
        <th>Example response</th>
        <td>
            <pre>
{
    "code" : "MGT30",
    "unique_name" : "MGT30",
    "name" : "Management 3.0",
    "tagline" : "Better management with fewer managers",
    "description" : "How do I deal with my crappy organization?...",
    "image" : "/brand/MGT30/picture",
    "coordinator" : {
        "id" : 22,
        "unique_name" : "jurgen.appelo",
        "first_name" : "Jurgen",
        "last_name" : "Appelo",
        "photo" : "http://graph.facebook.com/jurgenappelo/picture?type=large",
        "country" : "RU"
    },
    "contact_info" : {
        "email" : "skotlov@@gmail.com",
        "skype" : null,
        "phone" : null,
        "contactForm": null
    },
    "social_profile" : {
        "facebook" : "https://www.facebook.com/Management30",
        "twitter" : "management30",
        "google_plus" : "https://plus.google.com/+Management30",
        "linkedin" : "https://www.linkedin.com/groups/Management-30-4074448?gid=4074448"
    },
    "products" : [ {
            "title" : "#Workout",
            "subtitle" : "Engage People, Improve Work, Delight Clients",
            "image" : "/product/15/picture",
            "brands" : [ {
                "code" : "MGT30",
                "unique_name" : "MGT30",
                "name" : "Management 3.0"
            }],
            "category" : "Books"
        }, {
            "title" : "Delegation Poker",
            "subtitle" : "A Management 3.0 game",
            "image" : "/product/8/picture",
            "brands" : [ {
                "code" : "MGT30",
                "unique_name" : "MGT30",
                "name" : "Management 3.0"
            } ],
            "category" : "Games"
        }, {
            "title" : "How to Change the World",
            "subtitle" : "Change Management 3.0",
            "image" : "/product/7/picture",
            "brands" : [ {
                "code" : "MGT30",
                "unique_name" : "MGT30",
                "name" : "Management 3.0"
            } ],
            "category" : "Books"
        }, {
            "title" : "Kudo Cards",
            "subtitle" : "A Management 3.0 game",
            "image" : "/product/6/picture",
            "brands" : [ {
                "code" : "MGT30",
                "unique_name" : "MGT30",
                "name" : "Management 3.0"
            } ],
            "category" : "Games"
        }, {
            "title" : "Management 3.0",
            "subtitle" : "Leading Agile Developers, Developing Agile Leaders",
            "image" : "/product/1/picture",
            "brands" : [ {
                "code" : "MGT30",
                "unique_name" : "MGT30",
                "name" : "Management 3.0"
            } ],
            "category" : "Books"
        }, {
            "title" : "Meddlers",
            "subtitle" : "A Management 3.0 game",
            "image" : "/product/10/picture",
            "brands" : [ {
                "code" : "MGT30",
                "unique_name" : "MGT30",
                "name" : "Management 3.0"
            } ],
            "category" : "Games"
        }, {
            "title" : "Moving Motivators",
            "subtitle" : "A Management 3.0 game",
            "image" : "/product/9/picture",
            "brands" : [ {
                "code" : "MGT30",
                "unique_name" : "MGT30",
                "name" : "Management 3.0"
            } ],
            "category" : "Games"
        }],
      "links" : [ {
        "type" : "blog",
        "url" : "http://changegeek.ru"
      }, {
        "type" : "video",
        "url" : "http://chagegeek.ru"
      } ],
      "testimonials" : [ {
        "content" : "My pretty sight",
        "name" : "Sergey",
        "company" : null
      } ],
      "events" : [ {
        "title" : "Agile Business Management (Management 3.0)",
        "description" : null,
        "spokenLanguages" : [ "English" ],
        "start" : "2015-06-08",
        "end" : "2015-06-09",
        "hoursPerDay" : 8,
        "totalHours" : 16,
        "city" : "Singapore",
        "country" : "SG",
        "website" : "https://www.eventbrite.com/e/agile-business-management-management-30-in-singapore-tickets-16512069043",
        "registrationPage" : "https://www.eventbrite.com/e/agile-business-management-management-30-in-singapore-tickets-16512069043",
        "free" : false
      }, {
        "title" : "Regular 2-Day Management 3.0 Course",
        "description" : null,
        "spokenLanguages" : [ "English", "English" ],
        "start" : "2015-06-08",
        "end" : "2015-06-09",
        "hoursPerDay" : 8,
        "totalHours" : 8,
        "city" : "Istanbul",
        "country" : "TR",
        "website" : "http://www.ausculto.de",
        "registrationPage" : "http://management30turkey.com",
        "free" : false
      }, {
        "title" : "Workout - Paratiques de management",
        "description" : "Ce workshop d’un jour est différent du cours Management 3.0 sur 2 jours. Il est recommandé, mais non obligatoire, de suivre le cours sur 2 jours avant ce séminaire. Le workshop s’appuie sur les thèmes déjà présentés, mais avec du matériel supplémentaire et nouveau",
        "spokenLanguages" : [ "French", "English" ],
        "start" : "2015-06-09",
        "end" : "2015-06-09",
        "hoursPerDay" : 8,
        "totalHours" : 8,
        "city" : "Lyon",
        "country" : "FR",
        "website" : "http://smartgecko.info/fr/formations/management-3-0/management-workout/",
        "registrationPage" : null,
        "free" : false
      } ]
    }
            </pre>
        </td>
    </tr>
</table>