@()

<h3 id="event">Event</h3>

<p>The <em>event details</em> resource provides more details about an entry in the <a href="#events">list</a>.</p>

<table class="table table-bordered">
  <tr>
    <th>Request</th>
    <td><code>GET /api/v2/event/{eventId}</code></td>
  </tr>
  <tr>
    <th>Request path parameters</th>
    <td>
      <p><code>eventId</code> unique identifier for the event, e.g. <code>42</code></p>
    </td>
  </tr>
  <tr>
    <th>Request query string parameters (optional)</th>
    <td>none</td>
  </tr>
  <tr>
    <th>Response content type</th>
    <td><code>application/json; charset=utf-8</code></td>
  </tr>
  <tr>
    <th>Response body</th>
    <td>
      <p>A JSON array of events objects, with properties:</p>
      <ul>
        <li><code>brand</code> - a code for a brand</li>
        <li><code>type</code> - see <a href="#eventtypes">Event Types</a></li>
        <li><code>title</code></li>
        <li><code>description</code></li>
        <li><code>spokenLanguages</code> - an array of languages</li>
        <li><code>materialsLanguage</code></li>
        <li><code>start</code></li>
        <li><code>end</code></li>
        <li><code>hoursPerDay</code></li>
        <li><code>totalHours</code></li>
        <li><code>facilitators</code> - an array of objects
          <ul>
            <li><code>href</code> - URL of the <a href="#person">person details</a> resource, excluding protocol/host and starting with <code>/api</code></li>
            <li><code>name</code></li>
            <li><code>photo</code></li>
            <li><code>city</code></li>
            <li><code>country</code> - ISO 8166-2 country code</li>
          </ul>
        </li>
        <li><code>city</code></li>
        <li><code>country</code> - ISO 8166-2 country code</li>
        <li><code>website</code></li>
        <li><code>registrationPage</code></li>
        <li><code>rating</code> - event rating calculated from its evaluations</li>
        <li><code>public</code> - <code>true</code> if the event is public</li>
        <li><code>archived</code> - <code>true</code> if the event is archived</li>
        <li><code>confirmed</code> - <code>true</code> if the event is confirmed</li>
      </ul>
    </td>
  </tr>
  <tr>
    <th>Errors (HTTP status)</th>
    <td>
      <p><code>404 Not Found</code> if the given brand code is not defined</p>
    </td>
  </tr>
  <tr>
    <th>Example request</th>
    <td>GET /api/v2/event/1?api_token=4d5d132664a3f42e9a04a53ca701f36a5fba53a2</td>
  </tr>
  <tr>
    <th>Example response</th>
    <td><pre>
{
  "brand" : "MGT30",
  "type" : 1,
  "title" : "Management 3.0 - Curso de 2 días",
  "description" : "Curso Oficial Management 3.0 en Castellano",
  "spokenLanguages" : [ "Spanish" ],
  "materialsLanguage" : "English",
  "specialAttention" : "precios Early Bird hasta el 31 de ....",
  "start" : "2013-02-04",
  "end" : "2013-02-05",
  "hoursPerDay" : 8,
  "totalHours" : 16,
  "facilitators" : [ {
    "id" : 76,
    "unique_name" : "angel.medinilla",
    "href" : "/api/v1/person/76",
    "first_name" : "Angel",
    "last_name" : "Medinilla",
    "photo" : "https://secure.gravatar.com/avatar/bfe39d10318bb80b9efe49c72065c548?s=300",
    "country" : "ES"
  } ],
  "city" : "Barcelona",
  "country" : "ES",
  "website" : "http://www.proyectalis.com/2012/12/10/semana-de-formacion-barcelona-2013/",
  "registrationPage" : "http://www.proyectalis.com/2012/12/10/semana-de-formacion-barcelona-2013/",
  "rating" : 5.5,
  "public" : true,
  "archived" : true,
  "confirmed" : true
}
    </pre></td>
  </tr>
</table>