@(user: UserIdentity)

<h3 id="eventtypes">Event Types</h3>

<p>The <em>event types</em> resource is a list of event types for a particular brand.</p>

<table class="table table-bordered">
  <tr>
    <th>Request</th>
    <td><code>GET /api/v2/brand/{brand}/types</code></td>
  </tr>
  <tr>
    <th>Request path parameters</th>
    <td>
      <code>brand</code> a brand code to return event types for, e.g. <code>mgt30</code>
    </td>
  </tr>
  <tr>
    <th>Response content type</th>
    <td><code>application/json; charset=utf-8</code></td>
  </tr>
  <tr>
    <th>Response body</th>
    <td>
      <p>A JSON array of event types objects, with properties:</p>
      <ul>
        <li><code>id</code> - unique identification number of the type</li>
        <li><code>brand</code> - a brand code, e.g. <code>MGT30</code></li>
        <li><code>name</code></li>
        <li><code>defaultTitle</code></li>
      </ul>
    </td>
  </tr>
  <tr>
    <th>Errors (HTTP status)</th>
    <td>
      <p><code>404 Not Found</code> if the given brand code is not defined</p>
    </td>
  </tr>
  <tr>
    <th>Examples</th>
    <td>
      <a href="/api/v2/brand/mgt30/types?api_token=@user.apiToken">GET /api/v2/brand/mgt30/types</a>
    </td>
  </tr>
</table>