@()

<h3 id="eventRequest">Event request creation</h3>

<table class="table table-bordered">
  <tr>
    <th>Description</th>
    <td>Adds new event request to the system</td>
  </tr>
  <tr>
    <th>Request</th>
    <td><code>POST /api/v2/eventrequest/brand/:code</code></td>
  </tr>
  <tr>
    <th>Request path parameters</th>
    <td>
      <code>brand</code> a brand code an adding event request belongs to, e.g. <code>mgt30</code>
    </td>
  </tr>
  <tr>
    <th>Request POST parameters (not member)</th>
    <td>
      <ul>
        <li><code>country</code> - ISO 8166-2 country code, <i>string</i></li>
        <li><code>city</code> - optional, list of cities divided by commas, ex. <i>Orlando, London</i></li>
        <li><code>language</code> - list of languages divided by commas, ex. <i>Russian, English</i></li>
        <li><code>start_date</code> - optional, <i>string, YYYY-mm-DD</i></li>
        <li><code>end_date</code> - optional, <i>string, YYYY-mm-DD</i></li>
        <li><code>comment</code> - optional, <i>string</i></li>
        <li><code>name</code> - name of the person who makes this request, <i>string</i></li>
        <li><code>email</code> - email of the person who makes this request, <i>string</i></li>
        <li><code>number_of_participants</code> - number of participants, <i>int</i></li>
      </ul>
    </td>
  </tr>
  <tr>
    <th>Response content type</th>
    <td><code>application/json; charset=utf-8</code></td>
  </tr>
  <tr>
    <th>Response body</th>
    <td>
      <p>A JSON object with properties:</p>
      <ul>
        <li><code>request_id</code> - unique identifier for a created request</li>
      </ul>
    </td>
  </tr>
  <tr>
    <th>Errors (HTTP status)</th>
    <td>
      <p><code>400 Bad Request</code> if parameters are wrong, with a JSON object, containing errors for all parameters</p>
    </td>
  </tr>
</table>