@()

<h3 id="events">Events</h3>

<p>The <em>events</em> resource is a list of events for a particular brand, optionally filtered by several parameters.</p>

<table class="table table-bordered">
  <tr>
    <th>Request</th>
    <td><code>GET /api/v2/brand/{brand}/events</code></td>
  </tr>
  <tr>
    <th>Request path parameters</th>
    <td>
      <code>brand</code> a brand code to return events for, e.g. <code>mgt30</code>
    </td>
  </tr>
  <tr>
    <th>Request query string parameters (optional)</th>
    <td>
      <ul>
        <li><code>future</code> - filter events by time: <code>true</code> for future events and <code>false</code> for past events</li>
        <li><code>public</code> - filter events by publicity: <code>true</code> for public events and <code>false</code> for private events</li>
        <li><code>archived</code> - filter events by 'Archived' flag</li>
        <li><code>facilitatorId</code> - filter events by facilitator</li>
        <li><code>countryCode</code> - filter events by ISO 8166-2 country code, e.g. AT </li>
        <li><code>eventType</code> - filter events by an event type</li>
      </ul>
    </td>
  </tr>
  <tr>
    <th>Response content type</th>
    <td><code>application/json; charset=utf-8</code></td>
  </tr>
  <tr>
    <th>Response body</th>
    <td>
      <p>A JSON array of events objects, with properties:</p>
      <ul>
        <li><code>id</code> - an unique identifier for an event</li>
        <li><code>title</code></li>
        <li><code>type</code> - see <a href="#eventtypes">Event Types</a></li>
        <li><code>typeName</code> - name of event type
        <li><code>description</code></li>
        <li><code>specialAttention</code></li>
        <li><code>spokenLanguages</code> - an array of languages</li>
        <li><code>materialsLanguage</code></li>
        <li><code>start</code></li>
        <li><code>end</code></li>
        <li><code>totalHours</code></li>
        <li><code>hoursPerDay</code></li>
        <li><code>facilitators</code> - an array of objects
          <ul>
            <li><code>id</code> - an unique identifier for a person</li>
            <li><code>href</code> - URL of the <a href="#person">person details</a> resource, excluding protocol/host and starting with <code>/api</code></li>
            <li><code>first_name</code></li>
            <li><code>last_name</code></li>
            <li><code>photo</code></li>
            <li><code>city</code></li>
            <li><code>country</code> - ISO 8166-2 country code</li>
          </ul>
        </li>
        <li><code>city</code></li>
        <li><code>country</code> - ISO 8166-2 country code</li>
        <li><code>website</code></li>
        <li><code>registrationPage</code></li>
        <li><code>rating</code> - event's rating calculated from its evaluations</li>
        <li><code>confirmed</code> - <code>true</code> if the event is confirmed</li>
        <li><code>free</code> - <code>true</code> if the event is free</li>
      </ul>
    </td>
  </tr>
  <tr>
    <th>Errors (HTTP status)</th>
    <td>
      <p><code>404 Not Found</code> if the given brand code is not defined</p>
    </td>
  </tr>
  <tr>
    <th>Examples request</th>
    <td>
      GET /api/v2/brand/mgt30/events?api_token=4d5d132664a3f42e9a04a53ca701f36a5fba53a2
      <br>GET /api/v2/brand/mgt30/events?future=true&public=true&api_token=4d5d132664a3f42e9a04a53ca701f36a5fba53a2
    </td>
  </tr>
  <tr>
    <th>Example response</th>
    <td><pre>
[{
  "id" : 193,
  "title" : "Management 3.0 two day course",
  "type" : 1,
  "typeName": "Regular 2-Day Management 3.0 Course",
  "description" : "",
  "spokenLanguages" : [ "German" ],
  "materialsLanguage" : "English",
  "specialAttention" : "",
  "start" : "2011-11-24",
  "end" : "2011-11-25",
  "hoursPerDay" : 8,
  "totalHours" : 16,
  "facilitators" : [ {
    "id" : 31,
    "unique_name" : "mischa.ramseyer",
    "first_name" : "Mischa",
    "last_name" : "Ramseyer",
    "photo" : null,
    "country" : "CH"
  } ],
  "city" : "Zürich",
  "country" : "CH",
  "website" : "http://www.pragmatic-solutions.ch",
  "registrationPage" : "http://www.management30.ch",
  "rating" : 8.0,
  "confirmed" : true,
  "free" : false
}, {
  "id" : 270,
  "title" : "Management 3.0 two day course",
  "type" : 1,
  "description" : "",
  "spokenLanguages" : [ "French" ],
  "materialsLanguage" : "English",
  "specialAttention" : "",
  "start" : "2012-03-22",
  "end" : "2012-03-23",
  "hoursPerDay" : 8,
  "totalHours" : 16,
  "facilitators" : [ {
    "id" : 36,
    "unique_name" : "françois.beauregard",
    "first_name" : "François",
    "last_name" : "Beauregard",
    "photo" : null,
    "country" : "CA"
  } ],
  "city" : "Montréal",
  "country" : "CA",
  "website" : null,
  "registrationPage" : null,
  "rating" : 5.65,
  "confirmed" : false,
  "free" : true
}]
    </pre></td>
  </tr>
</table>