@(user: UserIdentity)(implicit flash: Flash,
        request: Request[Any],
        handler: AuthorisationHandler)

@main("API", "admin", user) {

  <div class="page-header">
    <h1>API (v2)</h1>
  </div>
  <div class="col-md-3">
    <ul class="nav nav-pills nav-stacked" role="tablist">
      <li class="active"><a href="#security" role="tab" data-toggle="tab">Home</a></li>
      <li><a href="#brand" role="tab" data-toggle="tab">Brand</a></li>
      <li><a href="#brands" role="tab" data-toggle="tab">Brands</a></li>
      <li><a href="#fees" role="tab" data-toggle="tab">Brand Fees</a></li>
      <li><a href="#evaluation" role="tab" data-toggle="tab">Evaluation</a></li>
      <li><a href="#event" role="tab" data-toggle="tab">Event</a></li>
      <li><a href="#events" role="tab" data-toggle="tab">Events</a></li>
      <li><a href="#eventTypes" role="tab" data-toggle="tab">Event Types</a></li>
      <li><a href="#facilitators" role="tab" data-toggle="tab">Facilitators</a></li>
      <li><a href="#memberlist" role="tab" data-toggle="tab">Members</a></li>
      <li><a href="#member" role="tab" data-toggle="tab">Member</a></li>
      <li><a href="#organizations" role="tab" data-toggle="tab">Organizations</a></li>
      <li><a href="#organization" role="tab" data-toggle="tab">Organization details</a></li>
      <li><a href="#participants" role="tab" data-toggle="tab">Participants</a></li>
      <li><a href="#participant" role="tab" data-toggle="tab">Participant</a></li>
      <li><a href="#people" role="tab" data-toggle="tab">People</a></li>
      <li><a href="#person" role="tab" data-toggle="tab">Person details</a></li>
      <li><a href="#products" role="tab" data-toggle="tab">Products</a></li>
      <li><a href="#product" role="tab" data-toggle="tab">Product details</a></li>
    </ul>
  </div>

  <!-- Tab panes -->
  <div class="col-md-9 tab-content">
    <div class="tab-pane active" id="security">@security()</div>
    <div class="tab-pane" id="brand">@brand()</div>
    <div class="tab-pane" id="brands">@brands()</div>
    <div class="tab-pane" id="fees">@fees()</div>
    <div class="tab-pane" id="evaluation">@evaluation()</div>
    <div class="tab-pane" id="event">@event()</div>
    <div class="tab-pane" id="events">@events()</div>
    <div class="tab-pane" id="eventTypes">@eventTypes()</div>
    <div class="tab-pane" id="facilitators">@facilitators()</div>
    <div class="tab-pane" id="memberlist">@members()</div>
    <div class="tab-pane" id="member">@member()</div>
    <div class="tab-pane" id="organizations">@organizations()</div>
    <div class="tab-pane" id="organization">@organization()</div>
    <div class="tab-pane" id="participants">@participants()</div>
    <div class="tab-pane" id="participant">@participant()</div>
    <div class="tab-pane" id="people">@people(user)</div>
    <div class="tab-pane" id="person">@person(user)</div>
    <div class="tab-pane" id="products">@products()</div>
    <div class="tab-pane" id="product">@product()</div>
  </div>

}
