@(user: ActiveUser)(implicit flash: Flash,
        request: Request[Any],
        handler: _root_.be.objectify.deadbolt.scala.DeadboltHandler)

@main("API", "admin", user) {

  <div class="page-header">
    <h1>API (v2)</h1>
  </div>
  <div class="col-md-3">
    <ul class="nav nav-pills nav-stacked" role="tablist">
      <li class="active"><a href="#security" role="tab" data-toggle="tab">Home</a></li>
      <li><a href="#brand" role="tab" data-toggle="tab">Brand</a></li>
      <li><a href="#brands" role="tab" data-toggle="tab">Brands</a></li>
      <li><a href="#fees" role="tab" data-toggle="tab">Brand Fees</a></li>
      <li><a href="#evaluation" role="tab" data-toggle="tab">Evaluation</a></li>
      <li><a href="#event" role="tab" data-toggle="tab">Event</a></li>
      <li><a href="#events" role="tab" data-toggle="tab">Events</a></li>
      <li><a href="#eventRequest" role="tab" data-toggle="tab">Event Request</a></li>
      <li><a href="#eventTypes" role="tab" data-toggle="tab">Event Types</a></li>
      <li><a href="#experiments" role="tab" data-toggle="tab">Experiments</a></li>
      <li><a href="#facilitator" role="tab" data-toggle="tab">Facilitator</a></li>
      <li><a href="#facilitators" role="tab" data-toggle="tab">Facilitators</a></li>
      <li><a href="#memberlist" role="tab" data-toggle="tab">Members</a></li>
      <li><a href="#member" role="tab" data-toggle="tab">Member</a></li>
      <li><a href="#participants" role="tab" data-toggle="tab">Participants</a></li>
      <li><a href="#participant" role="tab" data-toggle="tab">Participant</a></li>
      <li><a href="#people" role="tab" data-toggle="tab">People</a></li>
      <li><a href="#person" role="tab" data-toggle="tab">Person details</a></li>
      <li><a href="#products" role="tab" data-toggle="tab">Products</a></li>
      <li><a href="#product" role="tab" data-toggle="tab">Product details</a></li>
    </ul>
  </div>

  <!-- Tab panes -->
  <div class="col-md-9 tab-content">
    <div class="tab-pane active" id="security">@views.html.apiv2.security()</div>
    <div class="tab-pane" id="brand">@views.html.apiv2.brand()</div>
    <div class="tab-pane" id="brands">@views.html.apiv2.brands()</div>
    <div class="tab-pane" id="fees">@views.html.apiv2.fees()</div>
    <div class="tab-pane" id="evaluation">@views.html.apiv2.evaluation()</div>
    <div class="tab-pane" id="event">@views.html.apiv2.event()</div>
    <div class="tab-pane" id="events">@views.html.apiv2.events()</div>
    <div class="tab-pane" id="eventRequest">@views.html.apiv2.eventRequest()</div>
    <div class="tab-pane" id="eventTypes">@views.html.apiv2.eventTypes()</div>
    <div class="tab-pane" id="experiments">@views.html.apiv2.experiments()</div>
    <div class="tab-pane" id="facilitator">@views.html.apiv2.facilitator()</div>
    <div class="tab-pane" id="facilitators">@views.html.apiv2.facilitators()</div>
    <div class="tab-pane" id="memberlist">@views.html.apiv2.members()</div>
    <div class="tab-pane" id="member">@views.html.apiv2.member()</div>
    <div class="tab-pane" id="participants">@views.html.apiv2.participants()</div>
    <div class="tab-pane" id="participant">@views.html.apiv2.participant()</div>
    <div class="tab-pane" id="people">@views.html.apiv2.people(user)</div>
    <div class="tab-pane" id="person">@views.html.apiv2.person(user)</div>
    <div class="tab-pane" id="products">@views.html.apiv2.products()</div>
    <div class="tab-pane" id="product">@views.html.apiv2.product()</div>
  </div>

}
