@(user: UserIdentity)

<h3 id="products">Products</h3>

<table class="table table-bordered">
  <tr>
    <th>Description</th>
    <td>A list of Happy Melly products</td>
  </tr>
  <tr>
    <th>Request</th>
    <td><code>GET /api/v2/products</code></td>
  </tr>
  <tr>
    <th>Request path parameters</th>
    <td>none</td>
  </tr>
  <tr>
    <th>Request query string parameters</th>
    <td>none</td>
  </tr>
  <tr>
    <th>Response content type</th>
    <td><code>application/json; charset=utf-8</code></td>
  </tr>
  <tr>
    <th>Response body</th>
    <td>
      <p>A JSON array of product objects, with properties:</p>
      <ul>
        <li><code>href</code> - URL of the <a href="#product">product details</a> resource, excluding protocol/host and starting with <code>/api</code></li>
        <li><code>title</code></li>
        <li><code>subtitle</code></li>
        <li><code>image</code> - URL of a product's image, excluding protocol/host</li>
        <li><code>brands</code> - array of objects with properties:
          <ul>
            <li><code>code</code>
            <li><code>name</code></li>
          </ul>
        </li>
        <li><code>category</code></li>
      </ul>
    </td>
  </tr>
  <tr>
    <th>Errors (HTTP status)</th>
    <td>none</td>
  </tr>
  <tr>
    <th>Example</th>
    <td><a href="/api/v2/products?api_token=@user.apiToken">GET /api/v2/products</a>
  </tr>
</table>