@import controllers.cm.facilitator.MailChimp
@(user: ActiveUser, form: Form[MailChimp.NewListData], brands: List[Brand])(implicit flash: Flash,
    request: Request[Any],
    handler: be.objectify.deadbolt.scala.DeadboltHandler,
    messages: Messages)

@import helper.CSRF
@import views.Countries
@import views.Languages
@import views.ViewHelpersV2._

@v2.main("Person", "people", user, withMelly = true) {
    <div class="b-form js-edit-mailchimp b-form-edit-mailchimp">
        <div class="container">
            <h1 class="b-form__title">Create new list and set exporting</h1>
        </div>
        @html.form(action = CSRF(controllers.cm.facilitator.routes.MailChimp.create())) {
            @v2.html.formBlock("General") {
                @v2.html.text(form("name"), false, "List name")
                @v2.html.email(form("defaults.fromEmail"), false, "Default 'From email'")
                @v2.html.text(form("defaults.fromName"), false, "Default 'From name'")
                @v2.html.text(form("defaults.subject"), false,
                    "Default subject line for campaigns sent to this list")
                @v2.html.select(form("defaults.language"), false, "Language",
                    ("", "Choose a language") +: Languages.all.toList.sortBy(_._2))
                @v2.html.textarea(form("reminder"), false, "Remind people how they signed to thes list", 'rows -> 3)
            }
            @v2.html.formBlock("Company and address", Some("grey")) {
                @v2.html.text(form("company.name"), false, "Company")
                @v2.html.text(form("company.address1"), false, "Address line 1")
                @v2.html.text(form("company.address2"), false, "Address line 2")
                @v2.html.text(form("company.zip"), false, "Post code")
                @v2.html.text(form("company.city"), false, "City")
                @v2.html.text(form("company.state"), false, "Province or state")
                @v2.html.select(form("company.countryCode"), false, "Country", ("", "Choose a country") :: Countries.all)
            }
            @v2.html.formBlock("Export settings") {
                @v2.html.select(form("allAttendees"), false, "Select attendees to export",
                    List(("true", "All including attendees added manually"), ("false", "Only attendees with evaluations")))
                @v2.html.checkbox(form("includePreviousEvents"), '_label -> "Include attendees from previous events")
                <input name="brands[0]" value="1" type="hidden"/>
            }

            @v2.html.formBlock("") {
              <div class="b-form__buttons">
                  <button class="btn btn-primary b-form__btn-submit" type="submit">
                    Create and export
                  </button>
                  <a class="b-form__btn-cancel link-blue" href="javascript:history.back()">Cancel</a>
              </div>
            }

            @if(form.hasErrors) {
                @v2.html.formBlock("") {
                    <div class="b-form__errors">
                    @for(error <- form.errors) {
                        @Messages(error.message)<br/>
                    }
                    </div>
                }
            }
        }
    </div>

    <script src="@routes.Assets.at("js/package/mailchimp-edit-page.js")" type="text/javascript"></script>
    <style>
        .b-form-edit-mailchimp .b-error {
            right: 20px;
        }
    </style>

}
