@import controllers.cm.facilitator.MailChimp
@(user: ActiveUser, form: Form[MailChimp.NewListData], brands: List[Brand])(implicit flash: Flash,
    request: Request[Any],
    handler: be.objectify.deadbolt.scala.DeadboltHandler,
    messages: Messages)

@import helper.CSRF
@import views.Countries
@import views.Languages
@import views.ViewHelpersV2._

@v2.main("Person", "people", user, withMelly = true) {
    <div class="form">
        @v2.html.block("") { <h1>Create new list and set exporting</h1> }
        @html.form(action = CSRF(controllers.cm.facilitator.routes.MailChimp.create())) {
            @v2.html.block("General") {
                @v2.html.text(form("name"), true, "List name")
                @v2.html.email(form("defaults.fromEmail"), true, "Default 'From email'")
                @v2.html.text(form("defaults.fromName"), true, "Default 'From name'")
                @v2.html.text(form("defaults.subject"), true,
                    "Default subject line for campaigns sent to this list")
                @v2.html.select(form("defaults.language"), true, "Language",
                    ("", "Choose a language") +: Languages.all.toList.sortBy(_._2))
                @v2.html.textarea(form("reminder"), true, "Remind people how they signed to thes list", 'rows -> 3)
            }
            @v2.html.block("Company and address", Some("grey")) {
                @v2.html.text(form("company.name"), true, "Company")
                @v2.html.text(form("company.address1"), true, "Address line 1")
                @v2.html.text(form("company.address2"), false, "Address line 2")
                @v2.html.text(form("company.zip"), true, "Post code")
                @v2.html.text(form("company.city"), true, "City")
                @v2.html.text(form("company.state"), true, "Province or state")
                @v2.html.select(form("company.countryCode"), true, "Country", ("", "Choose a country") :: Countries.all)
            }
            @v2.html.block("Export settings") {
                @v2.html.select(form("allAttendees"), true, "Select attendees to export",
                    List(("true", "All including attendees added manually"), ("false", "Only attendees with evaluations")))
                @v2.html.checkbox(form("includePreviousEvents"), '_label -> "Include attendees from previous events")
                <input name="brands[0]" value="1" type="hidden"/>
            }

            @v2.html.block("") {
              <div class="row">
                <div class="col-md-5">
                  <button class="btn btn-primary btn-block btn-lg" type="submit">
                    Create and export</button>
                </div>
                <div class="col-md-3 cancel">
                  <a href="javascript:history.back()">Cancel</a></div>
              </div>
            }

            @if(form.hasErrors) {
                @v2.html.block("") {
                    <div class="errors">
                    @for(error <- form.errors) {
                        @Messages(error.message)<br/>
                    }
                    </div>
                }
            }
        }
    </div>
}
