@import models.cm.event.EventRequest
@(user: ActiveUser,
        brand: Brand,
        brands: List[Brand],
        requests: List[EventRequest])(implicit request: Request[Any],
        flash: Flash,
        handler: be.objectify.deadbolt.scala.DeadboltHandler)

@import views.Countries
@import views.ViewHelpersV2._

@v2.main("Events Requests", "requests", user) {
    @v2.element.brandHeader(brand, brands, "requests", facilitator = user.account.isFacilitatorNow, small = true) {
    }
    <div class="container p-content">
        <div id="filter-container">
            <span class="b-filters__text">Filter by participants: </span>
            <div class="b-filters__link">
                <a href="#" data-type="all">All</a>
                <span class="b-filters__count">@requests.length</span>
            </div>
            <div class="b-filters__link">
                <a href="#" class="active" data-type="group">More than one</a>
                <span class="b-filters__count">@requests.count(_.participantsNumber > 1)</span>
            </div>
        </div>
        <table id="requests" class="datatables table">
            <thead>
                <tr>
                    <th width="10%">Status</th>
                    <th width="13%">Location</th>
                    <th width="10%">Language</th>
                    <th width="15%" class="date" >When</th>
                    <th width="15%" class="number">Participants number</th>
                    <th width="10%" class="date">Created</th>
                    <th width="20%" align="center">Request from</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @for(request <- requests) {
                <tr data-id="@request.id" data-brand="@request.brandId">
                    <td></td>
                    <td>@request.city.map { city =>
                        @city, @Countries.name(request.countryCode)
                    }.getOrElse {
                        @Countries.name(request.countryCode)
                    }
                    </td>
                    <td>@request.language</td>
                    <td>@request.start.map { start =>
                        @request.end.map { end =>
                            @dateInterval(start, end)
                        }.getOrElse {
                            @dateInterval(start, start)
                        }
                    }.getOrElse {
                        @request.end.map { end => @dateInterval(end, end) }
                    }
                    </td>
                    <td>@request.participants</td>
                    <td>@request.recordInfo.created.toString("d MMM yyyy")</td>
                    <td>@request.name <br> <a href="mailto:@request.email">@request.email</a></td>
                    <td>@if(request.comment.isDefined) {
                        <div class="circle-show-more">
                            <span class="glyphicon glyphicon-chevron-down"></span></div>
                    }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <script src="@routes.Assets.at("js/eventRequest/index.js")" type="text/javascript"></script>
}
