@()(implicit request: Request[Any], flash: Flash)

@v2.layout.unauthorized("Error") {
  <div class="b-unauth__content type_mt">

    <h1>Sorry 8-( </h1>

    <p>the subscription you try to unsubscribe is not found. <br>
      Please contact our <a class="link-blue" href="mailto:sergey.kotlov@@happymelly.com?subject=Unknown subscriber">support team</a>.</p>

    <br/>
    <h4>
      <a class="link-blue" href="@controllers.core.routes.LoginPage.login()">Back to login page</a>
    </h4>

  </div>
}