@(member: Member)(implicit request: Request[Any],
    handler: be.objectify.deadbolt.scala.DeadboltHandler,
    token: play.filters.csrf.CSRF.Token)

@import helper.CSRF

<div class="col-md-12">
  <legend>Administration</legend>
  <a class="btn btn-default" href="@routes.Members.edit(member.id.get)">
    <i class="glyphicon glyphicon-pencil"></i> Edit Membership
  </a>
  <a class="btn btn-danger" href="#" data-toggle="modal"
    data-target="#deleteMembership">
    <i class="glyphicon glyphicon-trash glyphicon-white"></i> Delete Membership
  </a>
  <div class="modal fade" id="deleteMembership" tabindex="-1" role="dialog"
    aria-labelledby="feeModal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="feeModal">Delete Membership</h4>
        </div>
        <div class="modal-body">
          <p><b>Attention:</b> you cannot undo this action.</p>
          <p>All payment records will be kept and restored as soon as this
            person / organisation becomes a member again.</p>
        </div>
        <div class="modal-footer">
          <form action="@CSRF(routes.Members.delete(member.id.get))" method="post">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button class="btn btn-danger"  type="submit">
              <i class="glyphicon glyphicon-trash glyphicon-white"></i> Delete Membership
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>