<h2>Funder</h2>
<div class="text-left info-block">
  <p>If you're an innovative change maker, who wants to carry the responsibility
    of growing a global network, you can apply to become a Funder of
    Happy Melly. This means you not only <em>support</em> the network,
    you take a leading role in <em>funding</em> it and making new connections.</p>
  <p>While Supporters run all kinds of business <em>experiments</em>, we
    expect Funders to have <em>successes</em> as change agents, have
    profitable businesses, and <b>lead by example in terms of management
    and organization</b>. Our Funders are like the root servers of Happy
    Melly, guaranteeing that the network makes fun, makes money, and
    makes a difference.</p>
</div>