<br/>
<br/>
<div class="text-left info-block">
  <p>If you value the purpose of Happy Melly (pursuing happy work-lives)
    then you can now join us as a Supporter. This means you <b>help us
    promote happiness in work</b>. You can then proudly wear the Happy
    Melly badge on your blog or website, and you can say you are
    <em>officially</em> a member of the network. Oh, and you will enjoy
    some benefits too, such as exclusive access to people, content and events.</p>
  <p>But who cares about benefits!? This is not about <em>what's-in-it-for-me</em>,
    it's about <em>what's-in-it-for-them</em>! Your support is going to
    help us sponsor the best events, produce the best books, and offer
    the best content, for all those unhappy Mellys who still hate their jobs.</p>
</div>