@(user: securesocial.core.Identity, translations: Map[String, Translation])(implicit flash: Flash, token: play.filters.csrf.CSRF.Token)
@import helper.CSRF
@import views.Languages

@main("Translations", "admin", Some(user)) {

<div class="page-header">
  <h1>Evaluation translations</h1>
</div>
<div class="alert alert-info">
  <i class="glyphicon glyphicon-info-sign"></i> Want to translate a certificate? Visit a <a href="@routes.Brands.index()">brand's</a> page.</div>
<div class="col-md-8">
  <table id="transactiontypes" class="datatables table table-bordered">
    <thead>
    <tr>
      <th>Language</th>
      <th>Translation</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    @for(language <- Languages.all.toList.sortBy(_._2)) {
      <tr>
        @translations.get(language._1).map { value =>
          <td><a href="@routes.Translations.details(language._1)">@language._2</a></td>
          <td><span class="label label-success">yes</span></td>
          <td>
            @if(value.changeable) {
              <a href="@routes.Translations.edit(language._1)" class="input-sm"><i class="glyphicon glyphicon-pencil"></i> Edit Translation</a>
            }
          </td>
        }.getOrElse {
          <td>@language._2</td>
          <td><span class="label label-danger">no</span></td>
          <td>
            <a href="@routes.Translations.add(language._1)" class="input-sm"><i class="glyphicon glyphicon-plus"></i> Add Translation</a>
          </td>
        }
      </tr>
    }
    </tbody>
  </table>
</div>

}
