@(person: Person,
    organisations: List[Organisation],
    otherOrganisations: List[Organisation])(implicit request: Request[Any],
    handler: AuthorisationHandler,
    token: play.filters.csrf.CSRF.Token)

@import templates.Formatters._

<div class="col-md-6">
  <address>
    <strong>Address</strong><br/>
    @person.address.street1.map { addressLine =>
      @addressLine,
    }
    @person.address.street2.map { addressLine =>
      @addressLine
    }
    @if(person.address.street1.nonEmpty || person.address.street2.nonEmpty) {
      <br>
    }
    @person.address.city.map { addressLine =>
      @addressLine,
    }
    @person.address.province.map { addressLine =>
      @addressLine
    }
    @person.address.postCode.map { addressLine =>
      @addressLine
    }
    <br>
    @Messages("country." + person.address.countryCode)
  </address>

  @person.webSite.map { url =>
    <p><strong>Web site</strong>
      <br><a href="@url" target="_blank">@url</a></p>
  }


</div>
<div class="col-md-6">
  <p><strong>E-mail address</strong>
    <br>
    <a href="mailto:@person.socialProfile.email">
      <i class="glyphicon glyphicon-google_plus"></i>
      @person.socialProfile.email</a>
  </p>

  @person.birthday.map { birthday =>
    <p><strong>Birthday</strong>
      <br>@birthday</p>
  }
  @person.blog.map { url =>
    <p><strong>Blog</strong>
      <br><a href="@url" target="_blank">@url</a></p>
  }

</div>

<div class="col-md-12">
  @person.bio.map { text =>
    <legend>Bio</legend>
    <p>@text.markdown</p>
  }

  @person.interests.map { text =>
    <legend>Interests</legend>
    <p>@text.markdown</p>
  }
</div>
<div class="col-md-12">
  <legend>Organisations</legend>
  @views.html.person.blocks.organisations(person, organisations, otherOrganisations)
</div>