@(person: Person,
    payments: List[PaymentRecord])(implicit request: Request[Any],
    handler: AuthorisationHandler)

@import models.UserRole.Role._
@import be.objectify.deadbolt.scala.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._


<div class="col-md-12">
  <div class="col-md-4 block">
    @person.member.map { m =>
      Member status:
      @restrict(handler, List(as(Editor.toString))) {
        <a href="@routes.Members.edit(m.id.get)">
          <i class="glyphicon glyphicon-pencil"></i></a>
      }
      @if(m.funder) {
        <h2>Funder</h2>
      } else {
        <h2>Supporter</h2>
      }
      Since <b>@m.since</b>
    }
  </div>
  <div class="col-md-8">
    <p><b>Public profile:</b> <a href="http://happymelly.com/members/#@(person.uniqueName)"
      target="_blank">@person.fullName</a>
    </p>
    <p><b>Available benefits:</b> <a href="http://happymelly.com/benefits"
      target="_blank">list</a>
    </p>
  </div>


  <div class="col-md-12 block">
    <table class="payments table table-bordered">
      <thead>
        <tr>
          <th>Description</th>
          <th>Amount</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        @for(payment <- payments) {
          <tr>
            <td>@payment.description</td>
            <td>@payment.fee</td>
            <td>@payment.created.toString("YYYY-MM-dd HH:mm:ss")</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="col-md-12">
    <legend>Subscription</legend>
    <p>Your membership will be automatically prolonged at the end of a subscription
      period. The date of the next prolongation is <b>2015-03-03</b>.
    </p>
    <p>You can cancel your subscription any time. In this case your membership
      will be valid till <b>2015-03-03</b>.</p>
    @dynamic(handler, "person", "edit") {
      <button class="btn btn-danger btn-sm" type="submit">Cancel subscription</button>
    }
  </div>
</div>