@(user: securesocial.core.Identity,
    id: Option[Long],
    form: Form[Long])(implicit flash: Flash,
    request: Request[Any],
    handler: AuthorisationHandler,
    token: play.filters.csrf.CSRF.Token)

@import helper.CSRF
@import views.ViewHelpers._

@main("People", "members", Some(user)) {
  @if(form.hasErrors) {
    @html.error()
  }

  <div class="col-md-6">
    <div class="page-header">
      <h1>Add member</h1>
      <h3>Step 2: Existing person</h3>
    </div>
    @html.form(action = CSRF(routes.Members.createNewOrganisation())) {

      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
          <button class="btn btn-primary btn-block pull-right" type="submit">Save</button>
        </div>
      </div>
    }
  </div>
}
