@(user: UserIdentity,
    member: Option[Member],
    form: Form[Member])(implicit flash: Flash,
        request: Request[Any],
        handler: AuthorisationHandler,
        token: play.filters.csrf.CSRF.Token)

@import helper.CSRF
@import views.ViewHelpers._

@defining(if (form.value.nonEmpty && member.nonEmpty) { true } else { false }) { edit: Boolean =>
  @main("Member", "members", user) {
    @if(form.hasErrors) {
        @html.error()
    }

    <div class="col-md-6">
      <div class="page-header">
        @if(edit) {
          <h1>Edit member @member.get.name</h1>
        } else {
          <h1>Add member</h1>
          <h3>Step 1: Fee</h3>
        }
      </div>
      @html.form(action = CSRF(if(edit) { routes.Members.update(member.get.id.get) } else { routes.Members.create() } )) {
        <input type="hidden" value="@form("objectId").value.getOrElse(0)"
          id="objectId" name="objectId"/>
        <input type="hidden" value="@form("person").value.getOrElse(0)"
          id="person" name="person"/>
        <input type="hidden" value="@form("existingObject").value.getOrElse(0)"
          id="existingObject" name="existingObject"/>
        @defining(form("funder")) { field =>
          <div class="form-group @if(field.hasErrors) {has-error}" id="funder">
            @defining(field.value.getOrElse("0")) { value =>
              <label class="control-label col-sm-3" for="@field.id" >Type</label>
              <div class="input col-sm-9">
                <label class="radio">
                  <input type="radio" name="@field.name" id="role0" value="0" @if(value == "0") {checked}>
                  Supporter
                </label>
                <label class="radio">
                  <input type="radio" name="@field.name" id="role1" value="1" @if(value == "1") {checked}>
                  Funder
                </label>
              </div>
            }
            <span class="help-block">
              @if(form("funder").hasErrors) {
                @form("funder").errors.map(error => Messages(error.message)).mkString(", ")
              }
            </span>
          </div>
        }
        @html.money("fee", form("fee.currency"), form("fee.amount"),
          '_label -> "Fee", '_currency -> "EUR")
        @html.date(form("since"), '_label -> "Member since")
        @if(edit) {
          <input type="hidden" name="object" value="0"/>
        } else {
          <div class="form-group">
            <label class="control-label col-sm-3">Object</label>
            <div class="input col-sm-9">
              <label class="radio">
                <input type="radio" name="object" id="object0" value="0" checked>
                New person
              </label>
              <label class="radio">
                <input type="radio" name="object" id="object1" value="1" >
                Existing person
              </label>
              <label class="radio">
                <input type="radio" name="object" id="object2" value="2" >
                New organisation
              </label>
              <label class="radio">
                <input type="radio" name="object" id="object3" value="3" >
                Existing organisation
              </label>
            </div>
          </div>
        }

        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
                <button class="btn btn-primary btn-block pull-right" type="submit">
                  @if(edit) { Save } else { Add Member Data }
                </button>
            </div>
        </div>
        }
    </div>
  }
  <script src='@routes.Assets.at("member/form.js")' type="text/javascript"></script>
}
