@(user: securesocial.core.Identity,
  members: List[Member],
  fee: Option[org.joda.money.Money],
  totalFee: org.joda.money.Money)(implicit request: Request[Any],
    flash: Flash,
    handler: AuthorisationHandler)

@import models.UserRole.Role._
@import be.objectify.deadbolt.scala.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@main("Members", "members", Some(user)) {

  <div class="page-header">
    <h2>Total Fee <span class="label label-success">@totalFee.toString</span>
      @restrict(handler, List(as(Editor.toString))) {
        <a class="btn btn-success pull-right" href="@routes.Members.add()">
          <i class="glyphicon glyphicon-plus glyphicon-white"></i> Add Member</a>
      }
    </h2>
  </div>
  <div class="col-md-12">
    @fee.map { f =>
      Your Fee <span class="label label-info">@f.toString</span>
    }
    @if(members.isEmpty) {
      <p>There are no members</p>
    } else {
      @table(members) { member =>
        @restrict(handler, List(as(Editor.toString))) {
          <a href="@routes.People.edit(member.id.get)"><i
            class="glyphicon glyphicon-pencil"></i> Edit</a>
        }
      }
    }
  </div>

	<script src="@routes.Assets.at("member/index.js")" type="text/javascript"></script>
}
