@(user: ActiveUser,
    id: Option[Long],
    form: Form[Person])(implicit request: Request[Any],
        flash: Flash,
        handler: AuthorisationHandler,
        token: play.filters.csrf.CSRF.Token,
        messages: Messages)

@import helper.CSRF
@import views.ViewHelpers._

@main("People", "members", user) {
  @if(form.hasErrors) {
    @html.error(form.globalErrors)
  }

  <div class="col-md-6">
    <div class="page-header">
      <h1>Add member</h1>
      <h3>Step 2: New person</h3>
    </div>
    @html.form(action = CSRF(routes.Members.createNewPerson())) {
      @forms.person(form)

      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
          <button class="btn btn-primary btn-block pull-right" type="submit">Save</button>
        </div>
      </div>
    }
  </div>
}
