@(user: securesocial.core.Identity, accounts: List[AccountSummaryWithBalance])(implicit request: Request[Any], flash: Flash, handler: AuthorisationHandler)
@import models.UserRole.Role._
@import be.objectify.deadbolt.scala.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import templates.Formatters._

@main("Accounts", Some(user)) {

  <ul class="nav nav-tabs">
    <li><a href="@routes.BookingEntries.index()">Booking entries</a></li>
    <li class="active"><a href="@routes.Accounts.index()">Accounts</a></li>
  </ul>

  <div class="row">
    <div class="span7">
      <h1>Accounts overview</h1>
    </div>
    @restrict(handler, List(as(Admin.toString))) {
    <div class="span3">
      <a class="btn" href="@routes.Accounts.previewBalance()"><i class="icon-align-justify"></i> Balance Accounts</a>
    </div>
    }
  </div>

  @if(!accounts.isEmpty) {
      <div class="row">
        <div class="span16">
          <table class="datatables table table-bordered">
            <thead>
            <tr>
              <th>Account</th>
              <th>Balance</th>
            </tr>
            </thead>
            <tbody>
            @for(account <- accounts) {
              <tr>
                <td><a href="@routes.Accounts.bookings(account.id)">@account.name</a></td>
                <td>@account.balance.format</td>
              </tr>
            }
            </tbody>
          </table>
        </div>
      </div>
    } else {
    <p>There are no active accounts.</p>
    }

  <script src="@routes.Assets.at("index.js")" type="text/javascript"></script>
}
