@(user: securesocial.core.Identity, accounts: List[AccountSummaryWithBalance])(implicit request: Request[Any], flash: Flash, handler: AuthorisationHandler)
@import models.UserRole.Role._
@import be.objectify.deadbolt.scala.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import templates.Formatters._

@main("Accounts", "finance", Some(user)) {

  <ul class="nav nav-tabs">
    <li><a href="@routes.BookingEntries.index()">Booking entries</a></li>
    <li class="active"><a href="@routes.Accounts.index()">Accounts</a></li>
  </ul>

  @html.indexPageHeader("Accounts overview") {
    @restrict(handler, List(as(Admin.toString))) {
      <a class="btn btn-default pull-right" href="@routes.Accounts.previewBalance()">
      <i class="glyphicon glyphicon-align-justify glyphicon-white"></i> Balance Accounts</a>
    }
  }

  @if(!accounts.isEmpty) {
    <div class="col-md-12">
      <table class="datatables table table-bordered">
        <thead>
        <tr>
          <th>Account</th>
          <th>Balance</th>
        </tr>
        </thead>
        <tbody>
        @for(account <- accounts) {
          <tr>
            <td><a href="@routes.Accounts.bookings(account.id)">@account.name</a></td>
            <td>@account.balance.format</td>
          </tr>
        }
        </tbody>
      </table>
    </div>
  } else {
  <p>There are no active accounts.</p>
  }

  <script src="@routes.Assets.at("index.js")" type="text/javascript"></script>
}
