@(user: ActiveUser,
    view: OrgView,
    members: List[Person],
    otherPeople: List[Person],
    contributions: List[ContributionView],
    products: List[Product],
    member: Option[Member],
    charges: Seq[models.core.payment.Charge],
    deletable: Boolean)(implicit request: Request[Any],
        flash: Flash,
        handler: be.objectify.deadbolt.scala.DeadboltHandler,
        token: play.filters.csrf.CSRF.Token,
        messages: Messages)

@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import be.objectify.deadbolt.scala.views.html._
@import helper.CSRF
@import models.UserRole._


@v2.main(view.org.name + " - Organization", "orgs", user) {
  <div class="row profile-header
    @if(member.nonEmpty) { @if(member.get.funder) { funder } else { supporter }}">
    <div class="container">
      <div class="content-block">
        <h2>@view.org.name
        @member.map { member =>
          <div class="membership-type">
            @if(member.funder) { Funder } else { Supporter }
          </div>
        }
        </h2>
        @views.html.element.profiles(view.profile, member)
        <div class="actions pull-right">
          @restrict(handler, List(as(Role.Admin.toString))) {
            <div class="button">
              <form class="delete form-inline" method="post" text="organisation"
                action="@CSRF(controllers.core.routes.Organisations.delete(view.org.id.getOrElse(0)))">
                <div data-toggle="tooltip" data-placement="bottom"
                  @if(!deletable) { title="@Messages("error.view.org.nonDeletable")" }>
                    <button class="btn btn-default" type="submit"
                      @if(!deletable) { disabled="disabled" }>Delete
                    </button>
                </div>
              </form>
            </div>
            <div class="button">
              <form method="post" class="form-inline"
                action="@CSRF(controllers.core.routes.Organisations.activation(view.org.id.getOrElse(0)))">
                <input name="active" value="@(!view.org.active)" type="hidden">
                @if(view.org.active) {
                  <button class="btn btn-default" type="submit">
                    <i class="glyphicon-off glyphicon glyphicon-white"></i> Deactivate
                  </button>
                } else {
                  <button class="btn btn-default" type="submit">
                    <i class="glyphicon-off glyphicon glyphicon-white"></i> Activate
                  </button>
                }
              </form>
            </div>
          }
          @dynamic(handler, Role.OrgMember.toString, view.org.identifier.toString) {
            <div class="button">
              <a class="btn btn-primary"
                href="@controllers.core.routes.Organisations.edit(view.org.id.get)">Edit</a>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container">
      <div class="left">
        @views.html.v2.organisation.blocks.logo(view.org, "199")
        @views.html.v2.organisation.blocks.navigation(view, member)
      </div>
      <div class="center tab-content">
        @if(!view.org.active) {
          <br/>
          <br/>
          <div class="alert alert-warning">
            This organization is <strong>deactivated</strong></div>
        }
        <div class="tab-pane active" id="details">
          @views.html.v2.organisation.tabs.details(user, view.org, members, otherPeople)
        </div>
        <div class="tab-pane" id="contributions">
          @v2.element.contributions("organisation", contributions)
        </div>
        @member.map { member =>
          <div class="tab-pane" id="experiments"></div>
          <div class="tab-pane" id="membership">
            @views.html.v2.organisation.tabs.membership(user, view.org, member, charges)
          </div>
        }
      </div>
      <div class="right pull-right"></div>
    </div>
  </div>

  <script src="@routes.Assets.at("javascripts/jquery.ui.widget.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/load-image.all.min.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/canvas-to-blob.min.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/jquery.fileupload.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/jquery.fileupload-process.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/jquery.fileupload-image.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("organisation/details.js")" type="text/javascript"></script>
}
