@(user: ActiveUser,
  id: Option[Long],
  form: Form[OrgView])(implicit flash: Flash,
        request: Request[Any],
        handler: be.objectify.deadbolt.scala.DeadboltHandler,
        token: play.filters.csrf.CSRF.Token,
        messages: Messages)

@import helper.CSRF

@defining(form.value.map(view => view.org.name).getOrElse("Add organization")) { name =>
  @v2.main("Organizations", "orgs", user, withMelly = true) {
    <div class="b-form js-org-form">
      <div class="container">
        <h1 class="b-form__title">@name</h1>
      </div>

      @html.form(action = CSRF(id.map(id => controllers.core.routes.Organisations.update(id)
      ).getOrElse(controllers.core.routes.Organisations.create()))) {
        @v2.organisation.blocks.form(form)

        @if(form.hasErrors) {
          @v2.html.block("") {
            <div class="b-form__errors">
              @for(error <- form.errors) {
                @Messages(error.message)<br/>
              }
            </div>
          }
        }
        @v2.html.formBlock("") {
          <div class="b-form__buttons">
            <button
              data-form-submit
              class="btn btn-primary b-form__btn-submit"
              type="submit">
              Save
            </button>
            <a data-form-cancel
                class="b-form__btn-cancel link-blue"
                href="javascript:history.back()">Cancel changes</a>
          </div>
        }
      }
    </div>

    <script src="@routes.Assets.at("js/package/organization-form.js")" type="text/javascript"></script>
  }
}
