@(organisations: List[Organisation])(actions: (Organisation) => Html)(implicit messages: Messages)

@if(organisations.nonEmpty) {
  <table class="datatables table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>City</th>
        <th>Country</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    @for(org <- organisations) {
      <tr @if(!org.active) {
        class="inactive" title="deactivated" } >
        <td>
          <a href="@controllers.core.routes.Organisations.details(org.id.getOrElse(0))">@org.name</a></td>
        <td>@org.city</td>
        <td>
          <img width="16" src="/assets/images/flags/16/@(org.countryCode.toLowerCase).png" align="absmiddle">
          @Messages("country." + org.countryCode)
        </td>
        <td>@actions(org)</td>
      </tr>
    }
    </tbody>
  </table>
}
