@(user: ActiveUser,
    orgs: List[(String, String)],
    form: Form[Long])(implicit request: Request[Any],
        flash: Flash,
        handler: be.objectify.deadbolt.scala.DeadboltHandler,
        token: play.filters.csrf.CSRF.Token,
        messages: Messages)

@import helper.CSRF
@import views.ViewHelpersV2._

@v2.main("Organizations", "members", user) {
    <div class="b-form">
        <div class="container">
            <h1 class="b-form__title">Add Funder</h1>
            <h3>Step 2: Select organisation</h3>
        </div>
        @v2.html.form(action = CSRF(controllers.hm.routes.Members.updateExistingOrg())) {
            @v2.html.formBlock("") {
                @html.select(form("id"), ("", "Select organisation") +: orgs, '_label -> "Organisation", '_help -> "")
            }
            @if(form.hasErrors) {
                @v2.html.formBlock("") {
                    <div class="b-form__errors">
                    @for((error, index) <- form.errors.zipWithIndex) {
                        @{index + 1}. @Messages(error.message)<br/>
                    }
                    </div>
                }
            }
            @v2.html.formBlock("") {
                <div class="b-form__buttons">
                    <button class="btn btn-primary b-form__btn-submit" type="submit">
                        Save
                    </button>
                    <a class="b-form__btn-cancel link-blue" href="javascript:history.back()">Cancel changes</a>
                </div>
            }
        }
    </div>
}
