@(brandId: Long,
    eventTypes: List[models.brand.EventType]
    )(implicit request: Request[Any],
    flash: Flash,
    handler: AuthorisationHandler,
    token: play.filters.csrf.CSRF.Token)

@import be.objectify.deadbolt.scala.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import helper.CSRF
@import models.UserRole.Role._

<p>Event Types help you to categories your events. The brand should have at least
  1 event type to be able to have events. </p>
<p><strong>Default Title</strong> parameter helps you to add events faster. When you
choose an event type on a form, the system automatically sets the title of new event
to the default value.</p>
<p><strong>Max hours</strong> parameter defines a maximum number of chargeable hours
per event. For example, <code>max hours = 16</code> and a facilitator creates an event
  for 25 hours of this type. The facilitator will be charged for only 16 hours. Additional
  9 hours are free.</p>
<br/>
<div id="notification">
</div>
@if(eventTypes.length > 0) {
  <table id="eventTypes" class="datatables table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Default Title</th>
        <th>Max hours</th>
        <th>Allow free events</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    @for(eventType <- eventTypes) {
      <tr data-id="@eventType.id.get" data-brandid="@eventType.brandId">
        <td data-name="name">@eventType.name</td>
        <td data-name="title">@eventType.defaultTitle</td>
        <td data-name="maxhours">@eventType.maxHours</td>
        <th data-name="free"><input type="checkbox" @if(eventType.free){checked}/></th>
        <th style="font-weight: normal;">
        @restrict(handler, List(as(Editor.toString))) {
          <a href="@routes.EventTypes.delete(eventType.id.get)">
            <i class="glyphicon glyphicon-trash"></i> Remove</a>
        }
        </th>
      </tr>
    }
    </tbody>
  </table>
}
@restrict(handler, List(as(Editor.toString))) {
  <a class="btn btn-success btn-sm pull-right"
    href="@routes.EventTypes.add(brandId)">
    <i class="glyphicon glyphicon-plus"></i>Add Event Type
  </a>
}
@helper.javascriptRouter("jsRoutes")(
  routes.javascript.EventTypes.update
)
