@(brand: Brand,
    eventTypes: List[EventType]
    )(implicit request: Request[Any], flash: Flash, handler: AuthorisationHandler, token: play.filters.csrf.CSRF.Token)

@import be.objectify.deadbolt.scala.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import helper.CSRF
@import models.UserRole.Role._

<table class="datatables table table-bordered">
    <thead>
        <th>Name</th>
        <th>Default Title</th>
        <th></th>
    </thead>
    <tbody>
    @for(eventType <- eventTypes) {
        <tr>
            <td>@eventType.name</td>
            <td>@eventType.defaultTitle</td>
            <td>
            @restrict(handler, List(as(Editor.toString))) {
                <a href="@routes.EventTypes.delete(eventType.id.get)">
                    <i class="glyphicon glyphicon-pencil"></i> Remove event type</a>
            }
            </td>
        </tr>
    }
    </tbody>
</table>
@restrict(handler, List(as(Editor.toString))) {
    <form class="form-inline pull-right" method="POST" action="@CSRF(routes.EventTypes.create())" id="eventType">
        <input type="hidden" name="brandId" value="@brand.id"/>
        <div class="controls-row form-group">
            <input name="name" class="form-control input-sm" placeholder="Name"/>
            <input name="defaultTitle" class="form-control input-sm" placeholder="Default Title"/>
            <button class="btn btn-success btn-sm ">
                <i class="glyphicon glyphicon-plus"></i>Add Event Type
            </button>
        </div>
    </form>
}