@(brand: Brand,
    eventTypes: List[models.brand.EventType]
    )(implicit request: Request[Any], flash: Flash, handler: AuthorisationHandler, token: play.filters.csrf.CSRF.Token)

@import be.objectify.deadbolt.scala.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import helper.CSRF
@import models.UserRole.Role._

<table class="datatables table table-bordered">
    <thead>
        <th>Name</th>
        <th>Default Title</th>
        <th></th>
    </thead>
    <tbody>
    @for(eventType <- eventTypes) {
        <tr>
            <td>@eventType.name</td>
            <td>@eventType.defaultTitle</td>
            <td>
            @restrict(handler, List(as(Editor.toString))) {
                <a href="@routes.EventTypes.delete(eventType.id.get)">
                    <i class="glyphicon glyphicon-pencil"></i> Remove event type</a>
            }
            </td>
        </tr>
    }
    </tbody>
</table>
@restrict(handler, List(as(Editor.toString))) {
    <form class="form-inline pull-right col-sm-8" method="POST" action="@CSRF(routes.EventTypes.create())" id="eventType">
        <input type="hidden" name="brandId" value="@brand.id"/>
        <div>
            <input name="name" class="form-control input-sm" style="width: 28%;" placeholder="Ex: Regular 2-Day course"/>
            <input name="defaultTitle" class="form-control input-sm" style="width: 49%;" placeholder="Ex: Regular Management 3.0 Course"/>
            <button class="btn btn-success btn-sm pull-right">
                <i class="glyphicon glyphicon-plus"></i>Add Event Type
            </button>
        </div>
    </form>
}