@(brand: Brand,
    coordinator: Option[Person],
    links: List[models.brand.BrandLink])(implicit request: Request[Any],
    handler: AuthorisationHandler)

@import _root_.templates.Formatters._
@import be.objectify.deadbolt.scala.views.html._
@import helper.CSRF
@import models.UserRole.DynamicRole

<div id="deactivatedStatus" class="alert alert-warning">
  <i class="glyphicon glyphicon-info-sign"></i> This brand is <strong>deactivated</strong>.
</div>

<div class="col-md-4">
  <p>
    <strong>Brand code / Unique Name</strong><br>
    @brand.code / @brand.uniqueName
  </p>
  @coordinator.map { x =>
    <p>
      <strong>Brand coordinator</strong><br>
      <a href="@routes.People.details(x.id.get)">@x.fullName</a>
    </p>
  }
  @brand.tagLine.map { value =>
    <p><strong>Tagline</strong><br/>@value</p>
  }
  @brand.webSite.map { value =>
    <p><strong>
      Web site</strong><br/><a href="@value" target="_blank">@value</a> </p>
  }
  @brand.blog.map { value =>
    <p><strong>
      Blog</strong><br/><a href="@value" target="_blank">@value</a></p>
  }
</div>
<div class="col-md-4">
  <p><strong>E-mail address</strong>
    <br><a href="mailto:@brand.socialProfile.email" target="_blank">@brand.socialProfile.email</a>
  </p>
  <p>
    <strong>Social Accounts</strong>
    @brand.socialProfile.facebookUrl.map { url =>
      <br> <a href="@url" target="_blank">Facebook</a>
    }

    @brand.socialProfile.linkedInUrl.map { url =>
      <br> <a href="@url" target="_blank">LinkedIn</a>
    }

    @brand.socialProfile.googlePlusUrl.map { url =>
      <br> <a href="@url" target="_blank">Google+</a>
    }
    @brand.socialProfile.skype.map { skype =>
      <br> <a href="skype:@skype" target="_blank">Skype</a>
    }
    @brand.socialProfile.contactForm.map { url =>
      <br> <a href="@url" target="_blank">Contact form</a>
    }
  </p>
  @brand.socialProfile.phone.map { phone =>
    <p><strong>Phone</strong><br>@phone</p>
  }
</div>
<div class="col-md-10">
  @brand.description.map { desc =>
    <legend>Description</legend>
    <p>@desc.markdown</p>
  }
  <legend>Links</legend>
  @if(links.nonEmpty) {
    <table id="links" class="datatables table table-bordered">
      <thead>
        <tr>
          <th>Type</th>
          <th>Link</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for(link <- links) {
          <tr data-id="@link.id.get" data-brandid="@link.brandId">
            <td>@link.linkType.capitalize</td>
            <td><a href="@link.link" target="_blank">@link.link</td>
            <td style="font-weight: normal;">
            @dynamic(handler, DynamicRole.Coordinator, brand.identifier.toString) {
                <a data-id="@link.id.get" href="#" class="remove"
                  data-href="@routes.BrandLinks.remove(brand.id.get, link.id.get)">
                  <i class="glyphicon glyphicon-trash"></i> Remove</a>
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
  }
  <div id="brandLinkNotification"></div>
  @dynamic(handler, DynamicRole.Coordinator, brand.identifier.toString) {
    <form id="addLinkForm" class="form-inline pull-right" method="POST"
      action="@CSRF(routes.BrandLinks.create(brand.id.get))">
      <select name="type" id="linkType" class="form-control input-sm">
        <option value="blog">Blog</option>
        <option value="photo">Photo</option>
        <option value="video">Video</option>
        <option value="website">Website</option>
        <option value="other">Other</option>
      </select>
      <input name="url" class="form-control input-sm" style="width: 300px">
      <button class="btn btn-success btn-sm">
        <i class="glyphicon glyphicon-plus"></i>Add Link</button>
    </form>
  }
</div>
