@(brandId: Long,
    testimonials: List[models.brand.BrandTestimonial])(implicit request: Request[Any],
    handler: AuthorisationHandler)

@import be.objectify.deadbolt.scala.views.html._
@import models.UserRole.DynamicRole

<p>Share with everyone what satisfied customers say about you</p>
<div id="testimonialList">
  @if(testimonials.length > 0) {
    @for(testimonial <- testimonials) {
      <div class="panel panel-default" data-id="@testimonial.id.get">
        <div class="panel-heading text-right">
          <a class="btn btn-sm btn-default" type="button"
              href="@routes.BrandTestimonials.update(brandId, testimonial.id.get)">
              <i class="glyphicon glyphicon-pencil"></i> Edit</a>
          <button href="#" data-id="@testimonial.id.get"
              class="remove btn btn-sm btn-danger" type="button"
              data-href="@routes.BrandTestimonials.remove(brandId, testimonial.id.get)">
              <i class="glyphicon glyphicon-trash"></i> Remove</button>
        </div>
        <div class="panel-body">
          <blockquote>@testimonial.content</blockquote>
          <p class="text-right">
            <em>@(testimonial.name)@testimonial.company.map { x =>, @x }</em>
          </p>
        </div>
      </div>
    }
  }
</div>
@dynamic(handler, DynamicRole.Coordinator, brandId.toString) {
  <a type="button" class="btn btn-success pull-right"
    href="@routes.BrandTestimonials.add(brandId)">
    <i class="glyphicon glyphicon-plus"></i> Add Testimonial</a>
}