@**
 * Generates a modal form with 'Close' and actionable buttons
 *@
@(modalId: String,
  title: String,
  action: Option[String],
  actionId: Option[String],
  small: Boolean = false)(body: => Html)

@modal(modalId, title, small) {
  <div class="modal-body">
    @body
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-md-7">
        <button id="@actionId.getOrElse("")" class="btn btn-primary btn-block btn-lg js-modal-save"
          href="@action.getOrElse("#")">Save</button>
      </div>
      <div class="col-md-5">
        <button class="btn btn-cancel btn-block btn-lg" data-dismiss="modal"
          aria-hidden="true">Cancel</button>
      </div>
    </div>
  </div>
}
