@(elements: helper.FieldElements)

<div class="form-group @elements.args.get('_class) @if(elements.hasErrors) {has-error}"
  id="@elements.args.getOrElse('_id, elements.id + "_field")">
  <label for="@elements.id" class="control-label col-md-2">
    @elements.label</label>
  <div class="col-md-7">
    @elements.input
    <div class="col-md-12 help">
      @play.twirl.api.Html(elements.infos.mkString(", "))
    </div>
  </div>
  <div class="col-md-2 field-type">
    @if(elements.args.contains('_required)) {
      <span class="field-type__error">required</span>
      @if(elements.args.contains('_type)){,}
    }

    @if(elements.args.contains('_type)){
      <div class="field-type__text">
      @elements.args.get('_type)
      </div>
    }

    @if(elements.args.contains('_checking)){
      @v2.html.inputCheck()
    }
  </div>
</div>
