@**
 * Generate an HTML input file.
 *
 * Example:
 * {{{
 * @html.file(field = myForm("file"), args = 'size -> 10)
 * }}}
 *
 * @param field The form field.
 * @param args Set of extra attributes.
 * @param handler The field constructor.
 *@
@(field: play.api.data.Field, args: (Symbol,Any)*)(implicit handler: helper.FieldConstructor, lang: play.api.i18n.Lang)

@helper.input.f(field, args.toArray) { (id, name, value, htmlArgs) =>
  <div class="file-upload">
    <button type="button" class="btn btn-primary">Choose File</button>
    <div>No file chosen</div>
    <input type="file" id="@id" value="@value" class="form-control"
      name="@name" @toHtmlArgs(htmlArgs)/>
  </div>
}(handler, lang)
