@**
 * Generate an HTML input number.
 *
 * Example:
 * {{{
 * @html.number(field = myForm("number"), args = 'size -> 10)
 * }}}
 *
 * @param field The form field.
 * @param args Set of extra attributes.
 * @param handler The field constructor.
 *@
@(field: play.api.data.Field, args: (Symbol,Any)*)(implicit handler: helper.FieldConstructor, messages: Messages)

@helper.input.f(field, args.toArray) { (id, name, value, htmlArgs) =>
    <input type="number" id="@id" value="@value"
      class="form-control" name="@name" @toHtmlArgs(htmlArgs)/>
}(handler, messages)
