@**
 * Generate an HTML textarea.
 *
 * Example:
 * {{{
 * @html.textarea(field = myForm("address"), args = 'rows -> 3, 'cols -> 50)
 * }}}
 *
 * @param field The form field.
 * @param required Required flag
 * @param label Label name
 * @param args Set of extra attributes.
 * @param handler The field constructor.
 *@
@(field: Field, required: Boolean, label: String, args: (Symbol,Any)*)(implicit handler: helper.FieldConstructor,
    messages: Messages)

@views.html.v2.html.helpers.default(required, label, args:_*) { withDefaultArgs =>
    @helper.input.f(field, withDefaultArgs.toArray) { (id, name, value, htmlArgs) =>
        <textarea id="@id" name="@name" class="form-control" @toHtmlArgs(htmlArgs)>@value</textarea>
    }(handler, messages)
}