@**
 * Generate an HTML input text.
 *
 * Example:
 * {{{
 * @inputText(field = myForm("name"), args = 'size -> 10, 'placeholder -> "Your name")
 * }}}
 *
 * @param field The form field.
 * @param args Set of extra attributes.
 * @param handler The field constructor.
 *@
@(field: Field, required: Boolean, args: (Symbol, Any)*)(implicit handler: helper.FieldConstructor, messages: Messages)

@views.html.v2.html.noDefaultHelp(args:_*) { withHelp =>
    @helper.input.f(field, withHelp.filter(_._1 != 'type).toArray) { (id, name, value, args) =>
        <input id="@id" name="@name" value="@value" class="form-control" @toHtmlArgs(args) />
    }(handler, messages)
}
