@**
 * Generate an HTML for two fields in a row.
 *
 * Example:
 * {{{
 * @html.twoInRow(myForm("done"), myForm("ready"), label)
 * }}}
 *
 * @param left The form field.
 * @param right The form field.
 * @param label String
 * @param args Set of extra attributes ('''_default''' is a special argument).
 * @param handler The field constructor.
 *@
@(left: Field, leftData: play.twirl.api.Html,
  right: Field, rightData: play.twirl.api.Html,
  label: String,
  help: String = "",
  required: Boolean = true)(implicit handler: helper.FieldConstructor, messages: Messages)

@defining(left.hasErrors || right.hasErrors) { hasErrors =>
  <div class="form-group @if(hasErrors) {has-error}">
    <label for="@left.name" class="control-label col-md-2">@label</label>
    <div class="col-md-7">
      <div class="col-md-5 padding-fix">
        @leftData
      </div>
      <div class="col-md-7 padding-fix last">
        @rightData
      </div>
      <div class="col-md-12 help">
        @help
      </div>
    </div>
    <div class="col-md-2 field-type">
      @if(required) {
        <span>required</span>
      }
    </div>
  </div>
}
