@import "../settings";

/* links */
.link-black{
  display: inline-block;
  line-height: 1;
  text-decoration: none !important;
  .transition(all .15s ease);
  color: #333333 !important;
  border-bottom:1px solid transparent;

  &:hover{
    border-bottom-color: #333;
  }
}



/*== Forms ==*/
textarea.form-control{
  min-height: 114px;
}
