@(user: ActiveUser)(implicit flash: Flash,
        request: Request[Any],
        handler: AuthorisationHandler)

@main("About", "admin", user) {

  <h1>About this application</h1>

  <p>This application was built for Happy Melly by <a href="http://lunatech.com/">Lunatech</a>.</p>

  <p>Happy Melly logo by Happy Melly.</p>

  <p>Your API authentication token is <code>@user.identity.apiToken</code></p>


  <h2>Colofon</h2>

  <p><a href="http://www.playframework.com">Play Framework</a> 2.1.1</p>
  <p><a href="http://slick.typesafe.com/">Typesafe Slick</a> 1.0.1</p>
  <p><a href="http://getbootstrap.com">Twitter Bootstrap</a> 3.1.1</p>
  <p><a href="http://datatables.net/">Datatables</a> 1.9.4</p>
  <p><a href="http://itextpdf.com/">iText</a> 5.4.5</p>
  <p><a href="http://icondrawer.com/flag-icons.php">Icon Drawer</a> flag icons</p>
  <p><a href="http://www.noop.nl/">NOOP.NL</a> social network icons</p>
}
