@(user: securesocial.core.Identity)(implicit flash: Flash)

@main("About", Some(user)) {

  <h1>About this application</h1>

  <p>This application was built for Happy Melly by <a href="http://lunatech.com/">Lunatech</a>.</p>

  <p>Happy Melly logo by Happy Melly.</p>


  <h2>Colofon</h2>

  <p><a href="http://www.playframework.com">Play Framework</a> 2.1.1</p>
  <p><a href="http://slick.typesafe.com/">Typesafe Slick</a> 1.0.1</p>
  <p><a href="http://twitter.github.io/bootstrap/">Twitter Bootstrap</a> 2.3.2</p>
  <p><a href="http://datatables.net/">Datatables</a> 1.9.4</p>
  <p><a href="http://icondrawer.com/flag-icons.php">Icon Drawer</a> flag icons</p>
}
