@(user: LoginIdentity)(implicit flash: Flash)

@main("API", Some(user)) {

  <h1>API</h1>

  <p>This page documents the JSON-based REST API, for programmatic access to data.</p>

  <h2>Authentication</h2>
  <p>All API requests require authentication using a user-specific token. Yours is <code>@user.apiToken</code>.</p>
  <p>You need to pass this token on all requests by adding the <code>api_token</code> query string parameter.</p>

  <table class="table-bordered table">
   <tr>
    <th>Example</th>
    <td>
      <a href="/api/v1/licensees/mgt30?api_token=@user.apiToken">GET /api/v1/licensees/mgt30?api_token=@user.apiToken</a>
    </td>
   </tr>
  </table>

  <h2 id="licensees">Licensees</h2>

  <p>The <em>licensees</em> resource is a list of licensees for a particular brand, optionally filtered by date.</p>

  <table class="table table-bordered">
    <tr>
      <th>Request</th>
      <td><code>GET /api/v1/licensees/{brand}</code></td>
    </tr>
    <tr>
      <th>Request path parameters</th>
      <td>
        <code>brand</code> a brand code to return licensees for, e.g. <code>mgt30</code>
      </td>
    </tr>
    <tr>
      <th>Request query string parameters (optional)</th>
      <td><code>date</code> a date to filter licensees for licenses active on that date, in YYYY-MM-DD format, default today</td>
    </tr>
    <tr>
      <th>Response content type</th>
      <td><code>application/json; charset=utf-8</code></td>
    </tr>
    <tr>
      <th>Response body</th>
      <td>
        <p>A JSON array of licensee objects, with properties:</p>
        <ul>
          <li><code>country</code> - ISO 8166-2 country code</li>
          <li><code>first_name</code></li>
          <li><code>last_name</code></li>
        </ul>
      </td>
    </tr>
    <tr>
      <th>Errors (HTTP status)</th>
      <td>
        <p><code>404 Not Found</code> if the given brand code is not defined</p>
      </td>
    </tr>
    <tr>
      <th>Examples</th>
      <td>
        <a href="/api/v1/licensees/mgt30?api_token=@user.apiToken">GET /api/v1/licensees/mgt30</a>
        <br><a href="/api/v1/licensees/mgt30?date=2013-01-01&api_token=@user.apiToken">GET /api/v1/licensees/mgt30?date=2013-01-01</a>
      </td>
    </tr>
  </table>


  <h2>Licensee details</h2>

  <p>The <em>licensee details</em> resource provides more details about an entry in the <a href="#licensees">list</a>.</p>

  <table class="table table-bordered">
    <tr>
      <th>Request</th>
      <td><code>GET /api/v1/licensees/{licenseeId}/{brand}</code></td>
    </tr>
    <tr>
      <th>Request path parameters</th>
      <td>
        <p><code>licenseeId</code> unique identifier for the person with the content license, e.g. <code>42</code></p>
        <p><code>brand</code> a brand code to return licensees for, e.g. <code>mgt30</code></p>
      </td>
    </tr>
    <tr>
      <th>Request query string parameters</th>
      <td>none</td>
    </tr>
    <tr>
      <th>Response content type</th>
      <td><code>application/json; charset=utf-8</code></td>
    </tr>
    <tr>
      <th>Response body</th>
      <td>
        <p>A JSON object, with licensee properties:</p>
        <ul>
          <li><code>country</code> - ISO 8166-2 country code</li>
          <li><code>first_name</code></li>
          <li><code>last_name</code></li>
          <li><code>email_address</code></li>
          <li><code>twitter_handle</code> - Twitter user name, without the leading <code>@@</code></li>
          <li><code>facebook_url</code></li>
          <li><code>linked_in_url</code></li>
          <li><code>google_plus_url</code></li>
          <li><code>bio_markdown</code> - Markdown format</li>
          <li><code>interests</code></li>
          <li><code>valid</code> <code>true</code> - when there is a current license for this person and brand</li>
          <li><code>licensed_since</code> - earliest start date for a current license for this person and brand</li>
        </ul>
      </td>
    </tr>
    <tr>
      <th>Errors (HTTP status)</th>
      <td>
        <p><code>404 Not Found</code> if the specified licensee is not found or if given brand code is not defined</p>
      </td>
    </tr>
    <tr>
      <th>Examples</th>
      <td>
        <a href="/api/v1/licensee/20/BXLXS?api_token=@user.apiToken">GET /api/v1/licensee/20/BXLXS</a>
        <br><a href="/api/v1/licensee/1/mgt30?api_token=@user.apiToken">GET /api/v1/licensee/1/mgt30</a>
      </td>
    </tr>
  </table>
}
