@(user: securesocial.core.Identity, activityStream: List[Activity])(implicit flash: Flash)
@import templates.Formatters._

@main("Home", Some(user)) {

  <div class="col-md-offset-7 col-md-5">

    <h4>Latest activity</h4>

    <table class="activity table">
      @for(activity <- activityStream) {
        <tr>
          <td>
            <i class="glyphicon glyphicon-activity-@activity.predicate"></i>
            @activity.description
            <br><small>@activity.created.format</small>
          </td>
        </tr>
        }
    </table>
  </div>
}
