@(user: UserIdentity,
  events: List[Event],
  evaluations: List[(Event, Person, Evaluation)],
  activityStream: Option[List[Activity]])(implicit flash: Flash,
    request: Request[Any],
    handler: AuthorisationHandler)

@import be.objectify.deadbolt.scala.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import models.UserRole.Role._
@import templates.Formatters._

@main("Home", "", user) {
  @if(events.length > 0) {
    <div class="col-md-10">
      <h3>Upcoming events</h3>
      <table id="events" class="datatables table table-bordered">
        <thead>
          <tr>
            <th>Title</th>
            <th>Location</th>
            <th>Dates</th>
            <th>Total hours</th>
            <th>Confirmed</th>
          </tr>
        </thead>
        <tbody>
          @for(event <- events) {
            <tr>
              <td>
                <a href="@routes.Events.details(event.id.get).url">
                  @event.title
                </a>
              </td>
              <td>
                <img align="absmiddle" width="16"
                src="/assets/images/flags/16/@(event.location.countryCode.toLowerCase).png"/>
                @event.location.city
              </td>
              <td>
                @event.schedule.start.toString / @event.schedule.end.toString
              </td>
              <td>@event.schedule.totalHours</td>
              <td>
                <span class="label label-@if(event.confirmed){success}else{danger}">
                @if(event.confirmed){yes}else{no}</span>
              </td>
            </tr>
          }
        </tbody>
      </table>

    </div>
  }
  @if(evaluations.length > 0) {
    <div class="col-md-10">
      <h3>Latest evaluations</h3>
      <table id="events" class="datatables table table-bordered">
        <thead>
          <tr>
            <th></th>
            <th>Participant</th>
            <th>Event</th>
            <th>Location</th>
            <th>General Impr</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        @for(evaluation <- evaluations) {
          <tr>
            <td>
              @if(evaluation._3.status.id == 0) {
                <span class="badge"><i class="glyphicon-white glyphicon glyphicon-hand-right"></i></span>
              } else {
                @if(evaluation._3.status.id == 1) {
                  <span class="badge alert-success"><i class="glyphicon-white glyphicon glyphicon-thumbs-up"></i></span>
                } else {
                  <span class="badge alert-warning"><i class="glyphicon-white glyphicon glyphicon-thumbs-down"></i></span>
                }
              }
            </td>
            <td>
              <a href="@routes.People.details(evaluation._2.id.get).url">
                @evaluation._2.fullName
              </a>
            </td>
            <td>
              <a href="@routes.Events.details(evaluation._1.id.get).url">
                @evaluation._1.title
              </a>
            </td>
            <td>
              <img align="absmiddle" width="16"
              src="/assets/images/flags/16/@(evaluation._1.location.countryCode.toLowerCase).png"/>
              @evaluation._1.location.city
            </td>
            <td>
              <span class="badge @if(evaluation._3.question6 < 5){alert-danger} else {
                @if(evaluation._3.question6 < 8) {alert-warning} else {alert-success}
              }">
              @evaluation._3.question6</span>
            </td>
            <td><a href="@routes.Evaluations.details(evaluation._3.id.get).url">view</a></td>
          </tr>
        }
        </tbody>
      </table>
    </div>
  }
  @restrict(handler, List(as(Editor.toString))) {
    <div class="col-md-offset-7 col-md-5">
      <h4>Latest activity</h4>

      <table class="activity table">
        @for(activity <- activityStream.get) {
          <tr>
            <td>
              <i class="glyphicon glyphicon-activity-@activity.predicate"></i>
              @activity.description
              <br><small>@activity.created.format</small>
            </td>
          </tr>
          }
      </table>
    </div>
  }
}
