@()(implicit request: Request[Any])

@helper.javascriptRouter("jsRoutes")(
  routes.javascript.Assets.at,
  routes.javascript.Brands.activation,
  routes.javascript.Brands.removeCoordinator,
  routes.javascript.Brands.turnNotificationOn,
  routes.javascript.Brands.turnNotificationOff,
  routes.javascript.BrandLinks.remove,
  routes.javascript.BrandLinks.create,
  routes.javascript.BrandTestimonials.remove,
  routes.javascript.BrandTestimonials.create,
  routes.javascript.BrandTestimonials.update,
  routes.javascript.EventTypes.update,
  routes.javascript.ExchangeRates.convert,
  routes.javascript.Members.updateReason,
  routes.javascript.Organisations.search,
  routes.javascript.ProfilePhotos.choose,
  routes.javascript.ProfilePhotos.update,
  routes.javascript.People.details,
  routes.javascript.People.renderTabs,
  routes.javascript.Products.activation,
  routes.javascript.ProfileStrengths.personWidget,
  routes.javascript.Statistics.byFacilitators,
  routes.javascript.Statistics.byEvents,
  routes.javascript.Statistics.byCountries,
  routes.javascript.Urls.validate
)