@(title: String,
  menu: String,
  user: UserIdentity,
  showJoinBanner: Boolean = true)(
  content: Html)(implicit flash: Flash,
    request: Request[Any],
    handler: AuthorisationHandler)

@import models.payment.Payment
@import models.UserRole.Role._
@import be.objectify.deadbolt.scala.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

<!DOCTYPE html>
<html>
  <head>
    <title>@title - Happy Melly</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @head()
    <script src="@routes.Assets.at("main.js")" type="text/javascript"></script>
  </head>
  <body class='@title.split(" ").last.toLowerCase'>
    <div id="wrapper">
      <div class="navbar navbar-inverse navbar-fixed-top" role="nagivation">
          <div class="container">
              <a class="navbar-brand" href="/">Happy Melly</a>
              <div class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                    <li @if(menu == "members") { class="active" }
                      ><a href="@routes.Members.index()">Members</a></li>
                    @restrict(handler, List(as(Editor.toString))) {
                      <li @if(menu == "orgs") {
                        class="active"}><a href="@routes.Organisations.index()">
                        Organizations</a></li>
                      <li @if(menu == "people") {
                        class="active"}><a href="@routes.People.index()">
                        People</a></li>
                    }
                    <li @if(menu == "brands") {
                        class="active"}><a href="@routes.Brands.index()">Brands</a></li>
                    <li @if(menu == "products") {
                        class="active"}><a href="@routes.Products.index()">Products</a></li>
                    @restrict(handler, List(as(Editor.toString))) {
                        <li @if(menu == "finance") {
                            class="active"}><a href="@routes.BookingEntries.index()">
                            Finance</a></li>
                    }
                    <li @if(menu == "events") {
                        class="active"}><a href="@routes.Events.index()">Events</a></li>
                    <li @if(menu == "participants") {
                        class="active"}><a href="@routes.Participants.index()">Participants</a></li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                              @user.person.fullName
                          <b class="caret"></b>
                          </a>
                          <ul class="dropdown-menu">
                              <li><a href="@routes.Dashboard.profile()">
                                  <i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;&nbsp;Profile</a></li>
                              @restrict(handler, List(as(Editor.toString))) {
                                  <li class="divider"></li>
                                  <li><a href="@routes.Dashboard.about()">About</a></li>
                                  <li><a href="@routes.Dashboard.api()"> API (v1)</a></li>
                                  <li><a href="@routes.Dashboard.apiv2()"> API (v2)</a></li>
                                  <li><a href="@controllers.admin.routes.Administration.settings()">
                                      Settings</a></li>
                                  <li><a href="@controllers.admin.routes.Translations.index()">
                                      Translations</a></li>
                              }
                              <li class="divider"></li>
                              <li>
                                  <a href="@routes.LoginPage.logout()">
                                      <i class="glyphicon glyphicon-off"></i>&nbsp;&nbsp;&nbsp;Sign out</a></li>
                          </ul>
                      </li>
                  </ul>
              </div> <!--/.navbar-collapse -->
          </div>
      </div>
      <div class="container" id="content">
        @if(showJoinBanner && user.person.member.isEmpty) {
          @defining(Payment.countryBasedFees(user.person.address.countryCode)._2) { fee: Int =>
            <div class="alert alert-danger banner">
              <img src="@routes.Assets.at("images/melly_tongue.gif")"/>
              Getting rid of this annoying banner will cost you only € @fee, and it will make you a Supporter too!
              <a class="btn btn-success pull-right btn-lg" href="@routes.Membership.welcome()">
                Become a Supporter</a>
            </div>
          }
        }
        <div class="alert-block">
          @alert(alertType: String) = {
            @flash.get(alertType).map { message =>
              <div class="alert @if(alertType == "error") {alert-danger} else {alert-@alertType}">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  @message
              </div>
            }
          }
          @alert("error")
          @alert("success")
        </div>
        @content
      </div>
      <div id="footer">
        <img width="50px" src="@routes.Assets.at("images/happymelly-face-white.png")"/>
        Made with love at <a href="http://happymelly.com" target="_blank">Happy Melly</a>
      </div>
    </div>
  </body>
</html>
