@(path: String)
<!DOCTYPE html>
<html>
<head>
    <title>Page Not Found</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="@routes.Assets.at("bootstrap-2.3.2/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@routes.Assets.at("bootstrap-2.3.2/css/bootstrap-responsive.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon"href="@routes.Assets.at("images/favicon.ico")">
    <style type="text/css">
        body { padding-top: 60px; }
    </style>
</head>
<body>
<div class="container">
    <h1>Sorry we lost your page...</h1>

    <p>and we're working hard trying to find it. </p>

    <p><a href="mailto:sergey.kotlov@@happymelly.com">Send us</a> this link <b>@path</b> to speed up this process.</p>

    <br/><br/>
    <h3><a href="@routes.Dashboard.index">Back to action</a></h3>

</div>
</body>
</html>