@(path: String)
<!DOCTYPE html>
<html>
<head>
    <title>Page Not Found</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon"href="@routes.Assets.at("images/favicon.ico")">
    <style type="text/css">
        body { padding-top: 60px; }
    </style>
</head>
<body>
<div class="container">
    <h1>Sorry we lost your page...</h1>

    <p>and we're working hard trying to find it. </p>

    <p><a href="mailto:sergey.kotlov@@happymelly.com?subject=@helper.urlEncode(path)">Send us</a> this link <b>@path</b> to speed up this process.</p>

    <br/><br/>
    <h3><a href="@core.routes.Dashboard.index">Back to action</a></h3>

</div>
</body>
    <footer>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-38022338-4', 'auto');
          ga('send', 'pageview');

        </script>
    </footer>
</html>
