@(personId: Long,
  strength: ProfileStrength,
  steps: Boolean)

<div class="panel-body">
  <h4>Your Profile Strength</h4>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="@strength.progress"
      aria-valuemin="0" aria-valuemax="100" style="width: @(strength.progress)%;">
      @(strength.progress)%
    </div>
  </div>
  <div class="text-center">
    @if(steps) {
      @views.html.profile.steps(personId, strength.incompleteSteps)
    } else {
      <a href="@routes.People.details(personId)" class="btn btn-sm btn-default">Improve your profile</a>
    }
  </div>
</div>
