@(participant: Participant,
    evaluation: Option[Evaluation],
    virtual: Boolean)(implicit request: Request[Any],
    token: play.filters.csrf.CSRF.Token)

<table class="table table-rowed">
  <tr><td class="person-actions">
    <strong class="text-muted">Manage Person:</strong>&nbsp;
      @if(virtual) {
        <a href="@routes.People.edit(participant.personId)">Edit</a>
        <a href="@routes.People.delete(participant.personId)">Delete</a>
      }
      <a data-event="@participant.eventId" data-person="@participant.personId"
        class="remove-participation" href="#">Remove Participation</a>
  </td></tr>
  @evaluation.map { eval =>
    <tr><td class="evaluation-actions">
      <strong class="text-muted">Manage Evaluation:</strong>
      @views.html.v2.evaluation.body(eval)
    </td></tr>
  }
</table>