@(user: ActiveUser,
  eventId: Long,
  people: List[Person],
  newPersonForm: Form[ParticipantData],
  existingPersonForm: Form[Participant],
  showExistingPersonForm: Boolean = true)(implicit request2flash: Flash,
    request: Request[Any],
    handler: AuthorisationHandler,
    token: play.filters.csrf.CSRF.Token)

@import helper.CSRF
@import views.{ Countries, Participants }
@import views.ViewHelpers._

@main("Participants", "participants", user) {
  <div id="error">
    @if(newPersonForm.hasErrors || existingPersonForm.hasErrors) {
      @html.error()
    }
  </div>

  <div class="col-md-6">
    <div class="page-header">
      <h1>Add Participant</h1>
    </div>
    <div id="switcher">
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-9 toolbar">
          <form>
            <label class="radio-inline control-label">
              <input type="radio" name="participantType" id="existingPerson"
                value="existing" @if(showExistingPersonForm) {checked }>
              Existing Person
            </label>
            <label class="radio-inline control-label">
              <input type="radio" name="participantType"
                id="newPerson" value="new" @if(!showExistingPersonForm) {checked}>
              New Person
            </label>
          </form>
        </div>
      </div>
      <div class="existingPerson">
        @html.form(action = CSRF(routes.Participants.create(eventId))) {
          @html.select(existingPersonForm("participantId"),
            ("", "Choose a person") :: people.map(p => (p.id.get.toString, p.fullName)), '_label -> "Person", '_help ->"")
          @html.select(existingPersonForm("role"),
            ("", "I don't know") :: Participants.roles.map(x => (x, x)), '_label -> "Role", '_help ->"")
          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
              <button class="btn btn-primary btn-block pull-right" type="submit">Save</button>
            </div>
          </div>
        }
      </div>
      <div class="newPerson">
        @html.form(action = CSRF(routes.Participants.createParticipantAndPerson(eventId))) {
          @html.text(newPersonForm("firstName"), '_label -> "First name")
          @html.text(newPersonForm("lastName"), '_label -> "Last name")
          @html.date(newPersonForm("birthday"), '_label -> "Birth date")
          @html.text(newPersonForm("emailAddress"), '_label -> "E-mail address")
          @html.select(newPersonForm("country"), ("", "Choose a country") :: Countries.all, '_label -> "Country")
          @html.text(newPersonForm("city"), '_label -> "City")
          @html.select(existingPersonForm("role"),
            ("", "I don't know") :: Participants.roles.map(x => (x, x)), '_label -> "Role", '_help ->"")
          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
              <button class="btn btn-primary btn-block pull-right" type="submit">Save</button>
            </div>
          </div>
        }
      </div>
    </div>
  </div>

  <script src='@routes.Assets.at("participant/form.js")' type="text/javascript"></script>
}
