@(user: ActiveUser,
    brand: Brand,
    brands: List[Brand],
    facilitator: Boolean = false)(implicit request: Request[Any],
    request2flash: Flash,
    handler: AuthorisationHandler)

@v2.main("Participants", "participants", user) {
    @v2.element.brandHeader(brand, brands, "participants", facilitator = user.account.isFacilitatorNow) {
        @if(user.account.isCoordinatorNow) {
          <a class="btn btn-default" href="@routes.Evaluations.add(None, None)">
            Add Evaluation</a>
        }
        <a id="exportLink" class="btn btn-default" href="" title="Only evaluations, currently visible in the table, will be exported">
          Export to XLSX</a>
    }
    @element.evaluationActions()
    <input type="hidden" id="activeBrandId" value="@brand.identifier"/>
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-md-12 content-block">
            <div id="filter-containter">
              <div class="table-filters pull-left">
                <span>Sort by events:</span>
                <div class="btn-group" style="width=auto">
                    <select id="past-future" class="selectpicker" data-style="btn-details" data-width="auto">
                      <option value="all">All</option>
                      <option value="future" selected>Future</option>
                      <option value="past">Past</option>
                    </select>
                </div>
                <div class="btn-group">
                  <select id="events" class="selectpicker" data-style="btn-details" data-live-search="true"></select>
                </div>
              </div>
              <div class="table-filters pull-right">
                <span>By handled status:</span>
                <div class="btn-group" style="width=auto">
                  <select id="status" class="selectpicker" data-style="btn-details" title="All">
                      <option value="all">All</option>
                      <option value="3" data-icon="fa fa-thumb-tack">Unconfirmed</option>
                      <option value="0" data-icon="fa fa-hourglass">Pending</option>
                      <option value="1" data-icon="fa fa-thumbs-up">Approved</option>
                      <option value="2" data-icon="fa fa-thumbs-down">Rejected</option>
                  </select>
                </div>
              </div>
            </div>
            <table id="participants" class="datatables table table-rowed" brandId="@brand.identifier">
              <thead>
                <tr>
                  <th width="10%">Participant</th>
                  <th width="15%">Event</th>
                  <th width="5%">Location</th>
                  <th id="date">Dates</th>
                  <th id="impression" width="5%" align="center" id="impression"></th>
                  <th id="evaluation" >Evaluation Date</th>
                  <th id="handled" >Handled Date</th>
                  <th id="cert">Certificate</th>
                  <th>Event id </th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>

    <script src="@routes.Assets.at("participant.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("participant/index.js")" type="text/javascript"></script>
}
