@(user: ActiveUser,
        person: Person,
        eventId: Long)(implicit request: Request[Any],
        flash: Flash,
        handler: AuthorisationHandler,
        token: play.filters.csrf.CSRF.Token)

@import templates.Formatters._

@v2.main(person.fullName + " - Person", "people", user) {
    <div class="row profile-header">
        <div class="container">
            <div class="content-block">
                <h2>@person.fullName</h2>
                @views.html.v2.element.profiles(person.socialProfile, None)
                <div class="actions pull-right">
                    <div class="button">
                        <a class="delete-person btn btn-default" href="#" data-id="@person.identifier" data-event="@eventId">
                            Delete</a>
                    </div>
                    <div class="button">
                        <a class="btn btn-primary" href="@routes.Participants.edit(eventId, person.identifier)">
                            Edit Profile
                        </a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    <input type="hidden" id="personId" disabled value="@person.id.get"/>
    <div class="row">
        <div class="container">
            <div class="left">
                <div class="photo-block">
                    <img width="199px" class="img-rounded" src="@routes.Assets.at("images/hm-face.jpg")"/>
                </div>
                <div class="sidemenu">
                    <ul class="nav nav-stacked" role="tablist" id="sidemenu">
                        <li class="subgroup">Personal
                            <ul class="nav">
                                <li class="active"><a href="#personal-details" role="tab">
                                    Details</a></li>
                            </ul>
                        </li>
                    </ul>
                    <br/>
                </div>
            </div>

            <div class="center tab-content">
                @if(!person.active) {
                    <br/>
                    <br/>
                    <div class="alert alert-warning">
                        This person is <strong>deactivated</strong></div>
                }
                <div class="tab-pane active" id="personal-details">
                    <div class="block">
                        <div class="block">
                            <h3>On The Web</h3>
                            <p><i class="fa fa-envelope fa-fw fa-lg"></i>
                                <a href="mailto:@person.email">@person.email</a>
                            </p>
                        </div>

                        <dl class="dl-horizontal">
                            <dt>Address:</dt>
                            <dd>
                                <address>
                                    @person.address.street1.map { addressLine =>
                                        @addressLine,
                                    }
                                    @person.address.street2.map { addressLine =>
                                        @addressLine,
                                    }
                                    @if(person.address.street1.nonEmpty || person.address.street2.nonEmpty) {
                                        <br>
                                    }
                                    @person.address.city.map { addressLine =>
                                        @addressLine,
                                    }
                                    @person.address.province.map { addressLine =>
                                        @addressLine
                                    }
                                    @person.address.postCode.map { addressLine =>
                                        @addressLine
                                    }
                                    @if(person.address.city.nonEmpty || person.address.province.nonEmpty || person.address.postCode.nonEmpty) {
                                        <br/>
                                    }
                                    @Messages("country." + person.address.countryCode)
                                </address>
                            </dd>
                            @person.birthday.map { birthday =>
                                <dt>Birthday:</dt>
                                <dd>@birthday</dd>
                            }
                        </dl>
                    </div>
                    @person.bio.map { text =>
                        <div class="block">
                            <h3>Bio</h3>
                            <p>@text.markdown</p>
                        </div>
                    }
                    @person.interests.map { text =>
                        <div class="block">
                            <h3>Interests</h3>
                            <p>@text.markdown</p>
                        </div>
                    }
                </div>
            </div>
            <div class="right pull-right">
                <div class="js-completion-widget" ></div>
            </div>
            </div>
        </div>

    <script src="@routes.Assets.at("javascripts/jquery.ui.widget.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/load-image.all.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/canvas-to-blob.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery.fileupload.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery.fileupload-process.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery.fileupload-image.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("participant.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("participant/person.js")" type="text/javascript"></script>
}
