@(user: ActiveUser,
    orgId: Option[Long])(implicit request: Request[Any],
    handler: be.objectify.deadbolt.scala.DeadboltHandler,
    flash: Flash)

@main("Congratulations", "membership", user, false) {
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/payment.css")">

  <div class="congratulation">
    <div class="col-md-4 col-md-offset-1">
      <img src="@routes.Assets.at("images/HM-character.png")" height="500px"/>
    </div>
    <div class="col-md-5 col-md-offset-1 text">
      <div class="col-md-12 text-center block">
        <h1>Congratulations!</h1>
      </div>
      <div class="block">
        <p>You joined the international business
          network of awesome people and organizations helping others to be happy
          at work. YOU ROCK!</p>
        <p>Check your mailbox! Your welcome email is already waiting for you with
          more advice on how to enjoy
          being a member of <a href="http://happymelly.com" target="_blank">Happy Melly</a>.
        </p>
      </div>
      @orgId.map { id =>
        <a class="btn btn-success"
        href="@controllers.core.routes.Organisations.details(id)">Go to Profile &rarr;</a>
      }.getOrElse {
        <div class="js-completion-widget"></div>
      }
    </div>
  </div>
}