@(user: UserIdentity,
    form: Form[PaymentData],
    apiKey: String,
    fee: (Int, Int, Int),
    org: Option[Organisation] = None)(implicit request: Request[Any],
    handler: AuthorisationHandler,
    flash: Flash)

@import helper.CSRF
@import models.payment.Payment
@import views.Countries

@main("Payment", "membership", user, false) {
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/payment.css")">
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script src="@routes.Assets.at("javascripts/jquery.payment.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("membership/payment.js")" type="text/javascript"></script>
  <script type="text/javascript">
    // This identifies your website in the createToken call below
    Stripe.setPublishableKey("@apiKey");
  </script>

  <div class="col-md-8 col-md-offset-2">
    @org.map { organisation =>
      <h1 class="text-center">Make My Organisation a Supporter</h1>
    }.getOrElse {
      <h1 class="text-center">Become a Supporter</h1>
    }
    <div class="row">
      <p class="payment-bottom-space">
        To be a Happy Melly Supporter, all you need is to do is pay a small annual membership fee.
        The minimum fee amount depends on the country you live in.
      </p>
      <form class="form-inline payment-bottom-space" action="@CSRF(routes.Membership.charge())"
        method="POST" id="payment-form" autocomplete="on">
        <span class="payment-errors"></span>
        @org.map { organisation =>
          <input type="hidden" name="orgId" value="@organisation.id.get"/>
        }
        <legend>Step 1: Fee</legend>
        <div class="row payment-bottom-space fee">
          <div class="form-group col-md-12 @if(form("fee").hasErrors) {error}">
            <div class="col-md-6 text-right">
              <label for="fee">One Year Subscription Fee</label>
            </div>
            <div class="col-md-3 col-md-offset-3">
              <div class="input-group">
                <label class="input-group-addon">EUR</label>
                <input class="form-control" name="@form("fee").name" id="@form("fee").id"
                  type="number" min="@fee._1" placeholder="@fee._2"
                  step="1" value="@form("fee").value" data-tax="@Payment.TAX_PERCENT_AMOUNT">
              </div>
              @if(form("fee").hasErrors) {
                <span class="help-block">
                  @for(error <- form("fee").errors) {
                    @Messages(error.message, error.args: _*)
                  }
                </span>
              }
            </div>
          </div>
          <div class="pull-right text-muted">
            @org.map { organisation =>
              <p>@organisation.name is from @Countries.all.toMap.get(organisation.countryCode).
              For this country the minimum fee is <b>EUR @fee._1</b>,
                the regular fee is <b>EUR @fee._2</b> and the elite fee is <b>EUR @fee._3</b>.
              </p>
            }.getOrElse {
              <p>You are from @Countries.all.toMap.get(user.person.address.countryCode).
                For your country the minimum fee is <b>EUR @fee._1.toString</b>,
                the regular fee is <b>EUR @fee._2</b> and the elite fee is <b>EUR @fee._3</b>.
              </p>
            }
            <p>If you want to know more about Happy Melly membership fees click
              <a href="#" data-toggle="modal" data-target="#hmfees">here</a>.</p>
          </div>
          @views.html.element.fees()
        </div>
        <legend>Step 2: Payment</legend>
        <div class="row">
          <div class="col-md-6">
            <div class="payment-card">
              <div class="row">
                <div class="pull-right payment-icons payment-mastercard"></div>
                <div class="pull-right payment-icons payment-visa"></div>
              </div>
              <div class="form-group payment-wide">
                <div><span>CARD NUMBER</span></div>
                <input type="tel" placeholder="•••• •••• •••• ••••" autocompletetype="cc-number"
                  class="payment-wide form-control cc-number"
                  data-stripe="number"/>
              </div>
              <div class="form-group">
                <div class="payment-year"><span>MONTH / YEAR </span></div>
                <span class="valid-thru">VALID THRU</span>
                <input type="tel" class="form-control cc-exp-month"
                  size="2" data-stripe="exp-month"/>
                <span> / </span>
                <input type="tel" class="form-control cc-exp-year"
                  size="4" data-stripe="exp-year"/>
              </div>
              <div><span>CARD HOLDER</span></div>
              <div class="form-group payment-wide clearfix">
                <input type="text" class="form-control cc-name payment-wide"
                  data-stripe="name"/>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="text-right payment-card">
              <span class="payment-code-line"></span>
              <div class="form-group">
                <span>CVC/CVV</span>
                <input type="tel" class="form-control cc-cvc" autocomplete="off"
                  data-stripe="cvc"/>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 alert alert-danger">
        </div>
        <div class="row">
          <div class="col-md-3 col-md-offset-5 ">
            Amount to pay:
            <div id="amount">
              <div class="amount">&euro; <span>0.00</span></div>
              (incl. @(Payment.TAX_PERCENT_AMOUNT.toInt)% tax &euro; <span>0.00</span>)
            </div>
          </div>
          <div class="col-md-4">
            <button type="submit"
              class="btn btn-primary btn-lg btn-block">Pay</button>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-md-2">
          <img src="@routes.Assets.at("images/RapidSSL_SEAL-90x50.gif")"/>
        </div>
        <div class="col-md-10">
        <p class="text-muted">Happy Melly does not store your card details. All payments are securily
        processed by <a href="http://stripe.com" target="_blank">Stripe, Inc.</a>
        </p>
        <p class="text-muted">
          The information transfer is secured and verified by SSL 128 bit certificate
          issued by RapidSSL. Web site fully satisfies the security standards of
          Visa and Mastercard (PCI compliancy).
        </p>
        </div>
      </div>
    </div>
  </div>

}