@(user: UserIdentity,
    orgs: List[Organisation])(implicit request: Request[Any],
    handler: AuthorisationHandler,
    flash: Flash)

@main("Welcome", "membership", user) {
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/payment.css")">
  <script type="text/javascript" src="@routes.Assets.at("membership/welcome.js")"></script>

  <div class="col-md-12 text-center">
    <h1>Join Happy Melly network</h1>
  </div>
  <div class="row text-center welcome">
    <div class="col-md-5 col-md-offset-1">
        <h2>Supporter</h2>
        <div class="text-left info-block">
          <p>If you value the purpose of Happy Melly (pursuing happy work-lives)
            then you can now join us as a Supporter. This means you <b>help us
            promote happiness in work</b>. You can then proudly wear the Happy
            Melly badge on your blog or website, and you can say you are
            <em>officially</em> a member of the network. Oh, and you will enjoy
            some benefits too, such as exclusive access to people, content and events.</p>
          <p>But who cares about benefits!? This is not about <em>what's-in-it-for-me</em>,
            it's about <em>what's-in-it-for-them</em>! Your support is going to
            help us sponsor the best events, produce the best books, and offer
            the best content, for all those unhappy Mellys who still hate their jobs.</p>
        </div>
        <div class="row">
          <div class="col-md-5 text-center button-block">
            <h5>I want to be a Supporter</h5>
            <div class="button-line text-center">
              @user.person.member.map { m =>
                  @if(m.funder) {
                    <a href="" disabled="disabled" class="btn btn-primary">
                      You're a Funder
                    </a>
                  } else {
                    <a href="" disabled="disabled" class="btn btn-primary">
                      You're already a Supporter
                    </a>
                  }
              }.getOrElse {
                <a href="@routes.Membership.payment(None)" class="btn btn-success">
                  Become a Supporter</a>
              }
            </div>
          </div>
          <div class="col-md-7 text-center button-block">
            <h5>My organisation wants to be a Supporter</h5>
            @if(orgs.length > 0) {
              <div class="col-md-10 col-md-offset-1">
                <select class="form-control" id="org">
                  <option value="0">Select organisation</option>
                  @for(org <- orgs) {
                    <option value="@org.id.get">@org.name</option>
                  }
                </select>
              </div>
              <div class="button-line text-center">
                <a href="@routes.Membership.payment(None)" id="orgSupporter" class="btn btn-success">
                  Make My Organisation a Supporter</a>
              </div>
            } else {
              <div class="button-line text-center">
                <a href="" disabled="disabled" class="btn btn-primary">
                  All your organisations are members
                </a>
              </div>
            }
          </div>
        </div>
    </div>
    <div class="col-md-4 col-md-offset-1 right">
      <h2>Funder</h2>
        <div class="text-left info-block">
          <p>If you're an innovative change maker, who wants to carry the responsibility
            of growing a global network, you can apply to become a Funder of
            Happy Melly. This means you not only <em>support</em> the network,
            you take a leading role in <em>funding</em> it and making new connections.</p>
          <p>While Supporters run all kinds of business <em>experiments</em>, we
            expect Funders to have <em>successes</em> as change agents, have
            profitable businesses, and <b>lead by example in terms of management
            and organization</b>. Our Funders are like the root servers of Happy
            Melly, guaranteeing that the network makes fun, makes money, and
            makes a difference.</p>
        </div>
        <div class="row">
          <div class="col-md-12 button-block">
            <div class="button-line text-center">
              <a href="http://happymelly.com/contact" target="_blank" class="btn btn-success text-center">
                Become a Funder
              </a>
            </div>
          </div>
        </div>
    </div>
  </div>
}